<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">

<th:block layout:fragment="Content">
<div class="d-flex justify-content-center">
<div class="card my-4 col-10">
	<h5 class="card-header">생성된 상시업무 - 상세</h5>
<div class="card-body">
<div class="table-responsive">
	
	<table class="table table-bordered text-center">
		<thead>
		<tr>
			<th class="col-1 text-white" style="background-color:#3F72AF;">업무명</th>
				<td class="col-3">[[ ${regu.taskName} ]]</td>
			<th class="col-1 text-white" style="background-color:#3F72AF;">업무번호</th>
				<td class="col-3">[[ ${regu.taskNo} ]]</td>
			<th class="col-1 text-white" style="background-color:#3F72AF;" th:attr="data-pmat=${regu.prjtMat}">업무상태</th>
				<th:block th:switch="${regu.prjtMat}">
					<td th:case="5B1b" class="table-primary">[[ ${regu.matName} ]]</td>
					<td th:case="5B2b" class="table-success">[[ ${regu.matName} ]]</td>
					<td th:case="5B3b" class="table-secondary">[[ ${regu.matName} ]]</td>
					<td th:case="5B4b" class="table-danger">[[ ${regu.matName} ]]</td>
				</th:block>
		</tr>
		<tr>
			<th class="col-1 text-white" style="background-color:#3F72AF;">개요</th>
				<td colspan="5">[[ ${regu.taskPurpose} ]]</td>
		</tr>
		<tr>
			<th class="col-1 text-white" style="background-color:#3F72AF;">목적</th>
				<td colspan="5">[[ ${regu.taskCntn} ]]</td>
		</tr>
		<tr>
			<th class="col-1 text-white" style="background-color:#3F72AF;">부서명</th>
				<td>[[ ${regu.deptName} ]]</td>
			<th class="col-1 text-white" style="background-color:#3F72AF;">책임자</th>
				<td>[[ ${regu.respEmpName} ]]</td>
			<th class="col-1 text-white" style="background-color:#3F72AF;">업무주기</th>
				<td>[[${regu.creType}]] <span class="cre-perd">[[${regu.crePerd}]]</span></td>
		</tr>
		<tr>
			<th class="col-1 text-white" style="background-color:#3F72AF;">시작</th>
				<td>[[ ${#dates.format(regu.taskStartDt, 'yy-MM-dd  a hh:mm')} ]]</td>
			<th class="col-1 text-white" style="background-color:#3F72AF;">마감</th>
				<td>[[ ${#dates.format(regu.taskDueDt, 'yy-MM-dd  a hh:mm')} ]]</td>
			<th class="col-1 text-white" style="background-color:#3F72AF;">진행도</th>
				<th:block th:switch="${regu.prjtMat}">
					<td th:case="5B1b" class="table-primary">[[ ${regu.progress} ]] %</td>
					<td th:case="5B2b" class="table-success">[[ ${regu.progress} ]] %</td>
					<td th:case="5B3b" class="table-secondary">[[ ${regu.progress} ]] %</td>
					<td th:case="5B4b" class="table-danger">[[ ${regu.progress} ]] %</td>
				</th:block>
		</tr>
		</thead>
		<tbody>
		<!------------------------------------------권한별, 로그인별 다름-------------------------------------------------->
		<tr th:if="${#authentication.principal.permId} == '1C2c' or 
					(${#authentication.principal.permId} == '1C3c' and ${#authentication.principal.deptId} == ${regu.deptId})">
			<th class="col-1 text-white" style="background-color:#3F72AF;">담당자</th>
			<td colspan="4" class="regu-task-emps">
				<div class="input-group mb-3" th:each="te : ${regu.taskEmps}">
					<div class="input-group-text" th:attr="data-teid=${te.taskEmpId}">
						<input type="checkbox" class="form-check-input mt-0 regu-emp-ok" aria-label="Checkbox for following text input"
							   th:checked="${te.cmplt == '5F1f'}">
					</div>
					<input th:value="${te.taskEmpName}" type="text" class="form-control" aria-label="Text input with checkbox"
						   th:classappend="${te.cmplt == '5F1f'} ? 'text-primary' : ' '" readonly />
					<input th:value="${te.codeName}" type="text" class="form-control" aria-label="Text input with checkbox"
						   th:classappend="${te.cmplt == '5F1f'} ? 'text-primary' : ' '" readonly />
				</div>
			</td>
			<td style="border-left:hidden;" class="dddd">
				<button type="button" class="btn btn-success regu-emp-ok-btn">완료여부 저장</button><br>
			</td>
		</tr>
		<tr th:unless="${#authentication.principal.permId} == '1C2c' or 
					(${#authentication.principal.permId} == '1C3c' and ${#authentication.principal.deptId} == ${regu.deptId})">
			<th class="col-1 text-white" style="background-color:#3F72AF;">담당자</th>
			<td colspan="4" class="regu-task-emps">
				<div class="input-group mb-3" th:each="te : ${regu.taskEmps}">
					<th:block th:if="${te.taskEmpId} == ${#authentication.principal.empId}">
						<div class="input-group-text" th:attr="data-teid=${te.taskEmpId}">
							<input type="checkbox" class="form-check-input mt-0 regu-emp-ok" aria-label="Checkbox for following text input"
								   th:checked="${te.cmplt == '5F1f'}">
						</div>
						<input th:value="${te.taskEmpName}" type="text" class="form-control" aria-label="Text input with checkbox"
							   th:classappend="${te.cmplt == '5F1f'} ? 'text-primary' : ' '" />
						<input th:value="${te.codeName}" type="text" class="form-control" aria-label="Text input with checkbox"
							   th:classappend="${te.cmplt == '5F1f'} ? 'text-primary' : ' '" />
					</th:block>
					<th:block th:unless="${te.taskEmpId} == ${#authentication.principal.empId}">
						<div class="input-group-text" th:attr="data-teid=${te.taskEmpId}">
							<input type="checkbox" class="form-check-input mt-0 regu-emp-ok" aria-label="Checkbox for following text input"
								   th:checked="${te.cmplt == '5F1f'}" disabled>
						</div>
						<input th:value="${te.taskEmpName}" type="text" class="form-control" aria-label="Text input with checkbox"
							   th:classappend="${te.cmplt == '5F1f'} ? 'text-primary' : ' '" disabled />
						<input th:value="${te.codeName}" type="text" class="form-control" aria-label="Text input with checkbox"
							   th:classappend="${te.cmplt == '5F1f'} ? 'text-primary' : ' '" disabled />
					</th:block>
				</div>
			</td>
			<td style="border-left:hidden;" class="dddd">
				<button type="button" class="btn btn-success regu-emp-ok-btn">완료여부 저장</button><br>
			</td>
		</tr>
		</tbody>
		<!------------------------------------------권한별, 로그인별 다름-------------------------------------------------->
	</table>
	
	<div class="d-flex justify-content-between mt-3">
		<button type="button" class="btn btn-primary mb-3"
				th:onclick="|location.href='@{list}'|">목록으로</button>
		<th:block th:if="${#authentication.principal.permId} == '1C2c' or 
				(${#authentication.principal.permId} == '1C3c' and ${#authentication.principal.deptId} == ${regu.deptId})">
		<button type="button" class="btn btn-secondary mb-3 doc-toggle-btn">연결문서보기 ▽</button>
		</th:block>
	</div>
	<div th:if="${#authentication.principal.permId} == '1C2c' or 
				(${#authentication.principal.permId} == '1C3c' and ${#authentication.principal.deptId} == ${regu.deptId})">
	<!-- 연결된 문서들 -->
	<div class="collapse pt-2 doc-toggle-area">
		<th:block th:if="${#arrays.length(docs)} != 0">
		<table class="table table-hover text-center">
			<thead style="background-color:#3F72AF;">
				<tr>
					<th class="text-white">문서번호</th>
					<th class="text-white">문서종류</th>
					<th class="text-white">제목</th>
					<th class="text-white">기안자</th>
					<th class="text-white">작성일자</th>
					<th class="text-white">완료일자</th>
					<th class="text-white">문서상태</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="doc : ${docs}">
				<tr th:onclick="|location.href='@{/cust/doc/info?docNo={dno}(dno=${doc.docNo})}'|">
					<td>[[ ${doc.docNo} ]]</td>
					<td>[[ ${doc.tempName} ]]</td>
					<td>[[ ${doc.title} ]]</td>
					<td>[[ ${doc.draftName} ]]</td>
					<td>[[ ${#dates.format(doc.draftDt, 'yyyy-MM-dd')} ]]</td>
					<td th:if="${doc.cmpltDt == null}"> - </td>
					<td th:unless="${doc.cmpltDt == null}">[[ ${#dates.format(doc.cmpltDt, 'yyyy-MM-dd')} ]]</td>
					<th:block th:switch="${doc.docStat}">
						<td th:case="4B2b" class="table-primary">[[ ${doc.docStatName} ]]</td>
						<td th:case="4B3b" class="table-success">[[ ${doc.docStatName} ]]</td>
						<td th:case="4B4b" class="table-danger">[[ ${doc.docStatName} ]]</td>
					</th:block>
				</tr>
				</th:block>
			</tbody>
		</table>
		</th:block>	
		<th:block th:unless="${#arrays.length(docs)} != 0">
		<p class="text-center">현재 해당업무에 작성된 문서가 없습니다.</p>
		</th:block>
	</div>
	</div>	
		
</div>
</div>
</div>
</div>

<script th:inline="javascript" >

	const token = document.querySelector('meta[name="_csrf"]').getAttribute('content');
	const header = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
	
	let tno = [[${regu.taskNo}]];
	let cret = [[${regu.creType}]];
	
	$(function(){
		
		// 검색공간 토글
		if($('.doc-toggle-btn') != null) {
			$('.doc-toggle-btn').click(function() {
				$('.doc-toggle-area').slideToggle();
			});
		}
		
		// 마감기간 지나면(업무미완성) -> 업무완료 못하게.
		if($('th[data-pmat]').data('pmat') == '5B4b') {
			$('.regu-task-emps').find('input').prop('disabled', true);
			$('button.regu-emp-ok-btn').prop('disabled', true);
		}
		
		// 요일
		let week = ["일","월","화","수","목","금","토"];
	    if(cret == '매주'){
		    let data = $('span.cre-perd').text();
		    $('span.cre-perd').text(week[data] + '요일 마감');
	    }
	    if(cret == '매월'){
		    let data = $('span.cre-perd').text();
		    $('span.cre-perd').text(data + '일 마감');
	    }
	    if(cret == '매일'){
		    let data = $('span.cre-perd').text();
		    $('span.cre-perd').text(data + '시 마감');
	    }
		
		// 담당업무 완료버튼.
		$('button.regu-emp-ok-btn').on('click', reguEmpOk);
		
		
		
	})//end.

	function reguEmpOk() {
		let checkList = $('input[type="checkbox"].regu-emp-ok:checked').not(':disabled').parent();
		let uncheckList = $('input[type="checkbox"].regu-emp-ok').not(':checked').not(':disabled').parent();

		let param = [];
		
		checkList.each((idx, ele) => {
			let obj = {};
			obj['taskNo'] = tno;
			obj['taskEmpId'] = ele.dataset.teid;
			obj['flag'] = 'Y';
			param.push(obj);
		})
		
		uncheckList.each((idx, ele) => {
			let obj = {};
			obj['taskNo'] = tno;
			obj['taskEmpId'] = ele.dataset.teid;
			obj['flag'] = 'N';
			param.push(obj);
		})
		
		
		// 담당자 수정 아작스.
		$.ajax({
			type: 'PUT',
			url : '/cust/regu/info/ok/' + tno,
			contentType : 'application/json',
			data :  JSON.stringify(param),
			beforeSend: function(xhr) {
		        xhr.setRequestHeader(header, token); // 헤더에 CSRF 토큰 추가
		    },
			success : function(result){
				
				Swal.fire({
					icon: 'success',
				    title: '업무처리건 반영완료!',
				    text: '진행도를 확인하세요',
				})
				.then((ret) => {
					if(ret.value){
						location.reload();
					}
				})
				
			},
			error : function(err){
				alert('실패');
			}
		});
			
	}

</script>

</th:block>
		
</html>