<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">

<th:block layout:fragment="Content">

<div class="container-xxl flex-grow-1 container-p-y">
	<div class="row flex-xl-nowrap">
	<div class="DocSearch-content col-8 container-p-y">
		<div class="row m-3 p-3">
			<h2 class="m-0 p-0 doc-page-title">상시업무 등록</h2>
		</div>
		<hr>
		<div class="m-3 p-3 bg-white shadow-lg rounded">
		<form id="reguInsertForm" th:action="@{/reguInsert}" method="post" th:object="${taskRegu}">
			
			<table class="table">
				<tr>
					<th>업무명</th>
					<td colspan="3">
						<input type="text" class="form-control" th:field="*{taskName}" />
					</td>
				</tr>
				<tr>
					<th>업무목적</th>
					<td colspan="3">
						<input type="text" class="form-control" th:field="*{taskPurpose}" />
					</td>
				</tr>
				<tr>
					<th>업무내용</th>
					<td colspan="3">
						<input type="text" class="form-control" th:field="*{taskCntn}" />
					</td>
				</tr>
				<tr>
					<th>책임자
						<button type="button" class="btn btn-icon me-1 btn-info" 
								data-bs-toggle="offcanvas" data-bs-target="#chk-reps" aria-controls="offcanvasScroll">
							<span class="tf-icons bx bx-user-circle"></span>
						</button>
					</th>
					<td><input type="text" class="form-control" th:field="*{respEmpId}" readonly /></td>
					<th>부서</th>
					<td><input type="text" class="form-control" th:field="*{deptId}" readonly /></td>
				</tr>
				<tr>
					<th>담당자
						<button type="button" class="btn btn-icon me-1 btn-secondary" 
								data-bs-toggle="offcanvas" data-bs-target="#chk-emps" aria-controls="offcanvasScroll">
							<span class="tf-icons bx bx-user-circle"></span>
						</button>
					</th>
					<td colspan="3" id="add-emp">
					</td>
				</tr>
				<tr>
					<th>생성유형</th>
					<td><select class="form-select" th:field="*{creType}">
						    <option value="5C1c">매일</option>
						    <option value="5C2c">매주</option>
						    <option value="5C3c">매월</option>
					  	</select>
					</td>
					<th>생성주기</th>
					<td id="chktime">
						<input type="time" class="form-control" min="09:00" max="18:00" />
						<button type="button">+</button></td>
				</tr>
				<tr>
					<th>시작일자</th>
					<td><input type="datetime-local" class="form-control" th:field="*{taskStartDt}" readonly />
					<th>마감일자</th>
					<td><input type="datetime-local" class="form-control" th:field="*{taskDueDt}"  readonly />
				</tr>
				<tr>
					<td>
						활성화
					</td>
					<td>
						<div class="form-check form-check-primary mt-3">
						  <input class="form-check-input" type="radio" id="active" name="aa">
						  <label class="form-check-label" for="active">활성화</label>
						</div>
					</td>
					<td colspan="2">
						<div class="form-check form-check-primary mt-3">
						  <input class="form-check-input" type="radio" id="active2" name="aa">
						  <label class="form-check-label" for="active2">비활성화</label>
						</div>
					</td>
				</tr>
			</table>
			
		</form>
		</div>
		
		<!-- Enable Body scrolling -->
		<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="chk-reps" aria-labelledby="offcanvasScrollLabel">
		  <div class="offcanvas-header">
		    <h5 id="offcanvasScrollLabel" class="offcanvas-title">책임자 선택</h5>
		    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		  </div>
		  <div class="offcanvas-body my-auto mx-0 flex-grow-0">
		  	<table class="table">
				<thead>
					<tr>
						<th>부서명</th>
						<th>이름</th>
						<th>직급</th>
						<th>선택</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="emp : ${resp}">
					<tr th:attr="data-resp=${emp.empId}">
						<td th:attr="data-respd=${emp.deptId}">[[ ${emp.deptName} ]]</td>
						<td>[[ ${emp.empName} ]]</td>
						<td>[[ ${emp.jobTitle} ]]</td>
						<td><input class="form-check-input" type="radio" name="resp">
						</td>
					</tr>
					</th:block>
				</tbody>
			</table>
		    <button type="button" class="btn btn-info mb-2 d-grid w-100 chk-reps-btn" data-bs-dismiss="offcanvas">선택</button>
		  </div>
		</div>
		
		<!-- Enable Body scrolling -->
		<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="chk-emps" aria-labelledby="offcanvasScrollLabel">
		  <div class="offcanvas-header">
		    <h5 id="offcanvasScrollLabel" class="offcanvas-title">담당자 선택</h5>
		    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		  </div>
		  <div class="offcanvas-body my-auto mx-0 flex-grow-0">
		  	<table class="table">
				<thead>
					<tr>
						<th>부서명</th>
						<th>이름</th>
						<th>직급</th>
						<th>선택</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="emp : ${dept.emps}">
					<tr th:attr="data-emp=${emp.empId}">
						<td th:attr="data-empd=${dept.deptId}">[[ ${dept.deptName} ]]</td>
						<td>[[ ${emp.empName} ]]</td>
						<td>[[ ${emp.jobTitle} ]]</td>
						<td><input class="form-check-input" type="checkbox">
						</td>
					</tr>
					</th:block>
				</tbody>
			</table>
		    <button type="button" class="btn btn-info mb-2 d-grid w-100 chk-emps-btn" data-bs-dismiss="offcanvas">선택</button>
		  </div>
		</div>
		
	</div>
	</div>
	</div>

<script>
	$(function(){
		
		$('.chk-reps-btn').on('click', function(e){
			
			let tr = $('input[name="resp"]:checked').closest('tr');
			
			$('#respEmpId').val(tr.data('resp'));
			$('#deptId').val(tr.find('td').eq(0).data('respd'));
			
			$('#respEmpId').parent().append($(`<span>${tr.find('td').eq(1).text()}</span>`));
			$('#deptId').parent().append($(`<span>${tr.find('td').eq(0).text()}</span>`));
			
		})
		
		$('.chk-emps-btn').on('click', function(e){
			
			let trs = $('#chk-emps table input[type="checkbox"]:checked').closest('tr');
			let area = $('#add-emp');
			
			trs.each(function(idx,ele){
				let tr = $(ele);
				
				let creatTag = $(`<span>
									<input type="hidden"
							   		 	   value="${tr.data('emp')}" name="taskEmps[${idx}].taskEmpId" readonly />
						   		 	<input type="hidden"
							   		 	   value="${tr.find('td').eq(0).data('empd')}" name="taskEmps[${idx}].deptName" readonly />
							   		<span>${tr.find('td').eq(0).text()} ${tr.find('td').eq(1).text()}</span>
							   		&emsp;
						      	  </span>`);
				
				area.append(creatTag);
				
			})
			
		})
		
		$('#chktime').on('click', 'button', function() {
			let time = $('#chktime').find('input').val();
			let day = getNow();
			
			$('#taskStartDt').val(day + " " + time);
			$('#taskDueDt').val(day + " " + "18:00");
			
		})
		
		
		
	})

	
	function getNow(){
	let now = new Date();
	let year = now.getFullYear();
	let month = now.getMonth() + 1;
	let day = now.getDate();
	
	month = month < 10 ? '0' + month : month;
    day = day < 10 ? '0' + day : day;
	
	let date = year + '-' + month + '-' + day;
	return date;
}

</script>

</th:block>
		
</html>