<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">

<th:block layout:fragment="Content">
	<div class="container">
		<div class="m-3">
			<h2>상시 업무 조회</h2>
		</div>
		<div class="table-responsive bg-white p-3">
			
			<div class="d-flex justify-content-center p-3">
				<!-- 검색공간 -->
				<form>
				<table style="border:1px solid black;" class="table text-center">
					<tr>
						<td>시작</td><td><input type="date" class="form-control" /></td>
						<td>~</td>
						<td>마감</td><td><input type="date" class="form-control" /></td>
						
						<td>완료여부</td>
						<td><select class="form-select">
								<option class="form-control">전체</option>
								<option value="5B1b" class="form-control">업무진행중</option>
								<option value="5B2b" class="form-control">업무완료</option>
							</select></td>
					</tr>
					<tr>
						<td><select class="form-select">
								<option value="tc.taskName" class="form-control">업무명</option>
								<option value="tc.taskNo" class="form-control">업무번호</option>
								<option value="..." class="form-control">책임자</option>
							</select></td>
						<td colspan="4"><input type="text" class="form-control" /></td>
						<td>정렬기준</td>
						<td><select class="form-select">
								<option value="">업무번호 ↓</option>
								<option value="" selected >업무번호 ↑</option>
								<option value="">업무명(ㄱ-ㅎ)</option>
								<option value="">업무명(ㅎ-ㄱ)</option>
								<option value="">진행도 ↓</option>
								<option value="">진행도 ↑</option>
								<option value="">참여인원수 ↓</option>
								<option value="">참여인원수 ↑</option>
							</select></td>
					</tr>
				</table>
				<div class="text-end">
					<button type="button" class="btn btn-info">검색</button>
				</div>
				</form>
			</div>
			
			<table class="table table-hover text-center">
				<thead class="table-dark">
					<tr>
						<td>업무번호</td>
						<td>업무명</td>
						<td>시작</td>
						<td>마감</td>
						<td>참여인원</td>
						<td>진행도</td>
						<td>완료여부</td>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="regu : ${list}">
					<tr>
						<td>[[ ${regu.taskNo} ]]</td>
						<td>[[ ${regu.taskName} ]]</td>
						<td>[[ ${#dates.format(regu.taskStartDt, 'yy-MM-dd hh:mm a')} ]]</td>
						<td>[[ ${#dates.format(regu.taskDueDt, 'yy-MM-dd hh:mm a')} ]]</td>
						<td>[[ ${regu.participantsCnt} ]] 명</td>
						<td th:class="${regu.progress == 100 ? 'table-success' : ''}">
							[[ ${regu.progress} ]] %</td>
						<td th:class="${regu.prjtMat == '5B2b' ? 'table-success' : ''}">
							[[ ${regu.matName} ]]</td>
					</tr>
					</th:block>
				</tbody>
			</table>
			<div>
				<!-- 페이징공간 -->
			</div>
		</div>
	</div>

	<script>	
	</script>

</th:block>

</html>