<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">

<th:block layout:fragment="Content">

<div class="container container-p-y mt-3">
	<h2>상시업무관리 - 상세</h2>
<div class="bg-light p-3">
<div class="table-responsive">
	
	<table class="table table-bordered text-center">
		<tr>
			<td class="fw-bold col-2">업무명</td>
				<td>[[ ${regu.taskName} ]]</td>
			<td class="fw-bold col-2">업무ID</td>
				<td>[[ ${regu.reguId} ]]</td>
			<td class="fw-bold col-2">생성건수</td>
				<td>[[ ${regu.taskCnt} ]] 건</td>
		</tr>
		<tr>
			<td class="fw-bold">개요</td>
				<td colspan="5">[[ ${regu.taskPurpose} ]]</td>
		</tr>
		<tr>
			<td class="fw-bold">목적</td>
				<td colspan="5">[[ ${regu.taskCntn} ]]</td>
		</tr>
		<tr>
			<td class="fw-bold">부서명</td>
				<td>[[ ${regu.deptName} ]]</td>
			<td class="fw-bold">책임자</td>
				<td>[[ ${regu.respEmpName} ]]</td>
			<td class="fw-bold">등록일자</td>
				<td>[[ ${#dates.format(regu.reguDt, 'yyyy-MM-dd')} ]]</td>	
		</tr>
		<tr>
			<td class="fw-bold" th:attr="data-cret=${regu.creType}">생성유형</td>
				<td>[[ ${regu.codeName} ]]</td>
			<td class="fw-bold">생성주기</td>
				<td><span class="cre-perd">[[ ${regu.crePerd} ]]</span>[[ ${regu.perdType} ]]</td>
			<td class="fw-bold">활성화 상태</td>
				<td>[[ ${regu.matName} ]]</td>	
		</tr>
	</table>
	
	<!-- 하위 tasks -->
	<div class="d-flex justify-content-between">
		<button type="button" class="btn btn-secondary mb-3 task-toggle-btn">생성된 업무목록</button>
		<button type="button" class="btn btn-warning mb-3" 
				th:onclick="|location.href='@{/cust/regu/update?reguId={rid}(rid=${regu.reguId})}'|">업무수정</button>
	</div>
	<div class="collapse bg-light pt-2 task-toggle-area">
		<table class="table table-hover text-center">
			<thead class="table-dark">
				<tr>
					<td>업무번호</td>
					<td>업무명</td>
					<td>시작</td>
					<td>마감</td>
					<td>참여인원</td>
					<td>진행도</td>
					<td>완료여부</td>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="task : ${tasks}">
				<tr th:attr="data-tno=${task.taskNo}" class="go-regu-info"
					th:onclick="|location.href='@{/cust/regu/info?taskNo={tno}(tno=${task.taskNo})}'|">
					<td>[[ ${task.taskNo} ]]</td>
					<td>[[ ${task.taskName} ]]</td>
					<td>[[ ${#dates.format(task.taskStartDt, 'yy-MM-dd hh:mm a')} ]]</td>
					<td>[[ ${#dates.format(task.taskDueDt, 'yy-MM-dd hh:mm a')} ]]</td>
					<td>[[ ${task.participantsCnt} ]] 명</td>
					<td th:class="${task.progress == 100 ? 'table-success' : 'table-primary'}" >
						[[ ${task.progress} ]] %</td>
					<td th:if="${task.prjtMat == '5B1b'}" class="table-primary">
						[[ ${task.matName} ]]</td>
					<td th:if="${task.prjtMat == '5B2b'}" class="table-success">
						[[ ${task.matName} ]]</td>
					<td th:if="${task.prjtMat == '5B3b'}" class="table-secondary">
						[[ ${task.matName} ]]</td>
					<td th:if="${task.prjtMat == '5B4b'}" class="table-danger">
						[[ ${task.matName} ]]</td>
				</tr>
				</th:block>
			</tbody>
		</table>	
	</div>		
		
</div>
</div>
</div>

<script th:inline="javascript" >

	const token = document.querySelector('meta[name="_csrf"]').getAttribute('content');
	const header = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
	
	$(function(){
		
		// 요일
		let week = ["일","월","화","수","목","금","토"];
	    let td = $('td[data-cret]');
	    if(td.data('cret') == '5C2c'){
		    let data = $('span.cre-perd').text();
		    $('span.cre-perd').text(week[data]);
	    }
	    
	 	// 검색공간 토글
		$('.task-toggle-btn').click(function() {
			$('.task-toggle-area').slideToggle();
		});
	 	
		// tr클릭해서 문서상세로 이동
		$('tr.go-regu-info').on('click', function(e) {

			/* let createInput = $('<input type="text" name="taskNo" />').val($(this).data('tno'));
			searchForm.prepend(createInput);
			searchForm.attr('action', '/cust/regu/info');
			
			searchForm.submit(); */
			
		});
		
	})//end.

</script>

</th:block>
		
</html>