<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>
	<th:block layout:fragment="Content">
		<div class="d-flex justify-content-center">
			<div class="card my-4 col-10">
				<h5 class="card-header">보낸 메일 상세</h5>
				<div class="card-body ">
					<form name="inboxInfoForm" th:object="${EmailVO}" id="inboxInfoForm" enctype="multipart/form-data">
						<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
						<input type="hidden" name="custNo" th:value="${#authentication.principal.custNo}"> 
						<input type="hidden" name="empId" th:value="${#authentication.principal.empId}">
						<table class="table table-bordered border-1">
							<tr>
								<td class="fw-bold col-2 text-white" style="background-color: #3F72AF">
									<label for="sender" class="fw-bold">발신자</label>
								</td>
								<td>
									<input type="text" class="form-control" id="sender" th:value="${emailVO.senderName}" readonly>
								</td>
							</tr>
							<tr>
								<td class="fw-bold col-2 text-white" style="background-color: #3F72AF">
									<label for="recp" class="fw-bold">수신자</label>
								</td>
								<td>	
									<input type="text" class="form-control" id="recp" th:value="${emailVO.recpName}" readonly>
								</td>
							</tr>
							<tr>
								<td class="fw-bold col-2 text-white" style="background-color: #3F72AF">
									<label for="refer" class="fw-bold">참조자</label>
								</td>
								<td>
									<th:block th:if="${emailVO.refer != null}">
										<input type="text" class="form-control" id="refer" th:value="${emailVO.referName}" readonly>
									</th:block>
									<th:block th:if="${emailVO.refer == null}">
										<input type="text" class="form-control" id="refer" value="없음" readonly>
									</th:block>
								</td>
							</tr>
							<tr>
								<td class="fw-bold col-2 text-white" style="background-color: #3F72AF">
									<label for="title" class="fw-bold">제목</label>
								</td>
								<td>
									<input type="text" class="form-control" id="title" th:value="${emailVO.title}" readonly>
								</td>
							</tr>
							<tr>
								<td class="fw-bold col-2 text-white" style="background-color: #3F72AF">
									<label class="fw-bold">첨부파일</label> 
								</td>
								<td>
									<th:block th:each="file,fstat : ${emailVO.files}">
									<a th:href="'/download' + '/' + ${file.saveName}" download="${file.uplName}"> <span>[[ ${file.uplName} ]]</span></a>
									<br>
									</th:block>
								</td>
							</tr>
							<tr>
								<td class="fw-bold col-2 text-white" style="background-color: #3F72AF">
									<label for="cntn" class="fw-bold">내용</label>
								</td>
								<td>
									<textarea class="form-control" id="cntn" th:text="${emailVO.cntn}" rows="10" readonly ></textarea>
								</td>
							</tr>
						</table>
						<div class="text-center">
						<a th:href="@{/cust/emailList}" class="btn btn-secondary">돌아가기</a>
						</div>
				</form>
			</div>
		</div>
	</div>
	</th:block>
</body>
</html>