<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>
	<th:block layout:fragment="Content">
		<div class="d-flex justify-content-center">
			<div class="card my-4 col-10">
				<h5 class="card-header">메일 작성</h5>
				<div class="card-body ">
					<form name="insertForm" th:action="@{/cust/emailSend}"
						method="post" th:object="${EmailVO}" id="emailInsertForm"
						enctype="multipart/form-data">
						<input type="hidden" name="${_csrf.parameterName}"
							value="${_csrf.token}" />

						<!--*/페이지 영역 시작/*-->
						<table class="table table-bordered border-1">
							<tr>
								<td class="fw-bold col-2 text-white" style="background-color: #3F72AF">
									<label for="sender" class="fw-bold">발신자</label> 
									<input type="hidden" name="custNo" th:value="${#authentication.principal.custNo}">
								</td>
								<td>
									<input type="text" class="form-control" name="sender"
									th:value="${#authentication.principal.empId}" style="width: 200px" readonly>
								</td>
							</tr>
							<tr>
								<td class="fw-bold col-2 text-white" style="background-color: #3F72AF">
									<label for="recp" class="fw-bold">수신자</label>
								</td>
								<td>
									<input type="text" class="form-control" name="recpIdName" id="recpIdName" style="width: 200px" readonly> 
									<input type="hidden" name="recp" id="recp">
									<button type="button" class="btn btn-primary"
											data-bs-toggle="modal" data-bs-target="#GetEmpListModal">주소록</button>
								</td>
							</tr>
							<tr>
								<td class="fw-bold col-2 text-white" style="background-color: #3F72AF">
									<label for="refer" class="fw-bold">참조자</label>
								</td>
								<td>
									<input type="text" class="form-control" name="referIdName" id="referIdName" style="width: 200px" readonly> 
										<button type="button" class="btn btn-primary"
												data-bs-toggle="modal" data-bs-target="#GetReferListModal">주소록</button>
										<input type="hidden" name="refer" id="refer">
								</td>
							</tr>
							<tr>
								<td class="fw-bold col-2 text-white" style="background-color: #3F72AF">
									<label for="title" class="fw-bold">제목</label>
								</td>
								<td>
									<input type="text" class="form-control" name="title" id="title">
								</td>
							</tr>
							<tr>
								<td class="fw-bold col-2 text-white" style="background-color: #3F72AF">
									<label class="fw-bold">첨부파일</label> 
								</td>
								<td>
									<input type="file" name="filelist" id="filelist" class="form-control" multiple>
								</td>
							</tr>
							<tr>
								<td class="fw-bold col-2 text-white" style="background-color: #3F72AF">
									<label for="cntn" class="fw-bold">내용</label>
								</td>
								<td>
									<textarea class="form-control" name="cntn" id="cntn" rows="10"></textarea>
								</td>
							</tr>
						</table>
							<div class="text-center">
								<button type="submit" id="emailInsertBtn" class="btn btn-primary">발송</button>
								<a th:href="@{/home}" class="btn btn-secondary">취소</a>
							</div>
					</form>
				</div>
			</div>
		</div>

		<!-- 모달들 -->
		<!-- 수신자 선택 모달화면 -->
		<div class="modal fade" id="GetEmpListModal" tabindex="-1">
			<div class="modal-dialog modal-xl modal-dialog-scrollable"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalScrollableTitle">주소록</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>사원명</th>
									<th>부서명</th>
									<th>직급명</th>
									<th>선택</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="EmpVO : ${getEmpList}">
									<tr>
										<td class="bringEmpId" th:text="${EmpVO.empName}"></td>
										<td th:text="${EmpVO.deptName}"></td>
										<td th:text="${EmpVO.jobTitle}"></td>
										<td><input type="radio" name="check"
											th:value="${EmpVO.empId}"></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="selectRecpBtn"
							data-bs-dismiss="modal">선택완료</button>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 참조자 선택 모달화면 -->
		<div class="modal fade" id="GetReferListModal" tabindex="-1">
			<div class="modal-dialog modal-xl modal-dialog-scrollable"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalScrollableTitle">주소록</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>사원명</th>
									<th>부서명</th>
									<th>직급명</th>
									<th>선택</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="EmpVO : ${getEmpList}">
									<tr>
										<td th:text="${EmpVO.empName}"></td>
										<td th:text="${EmpVO.deptName}"></td>
										<td th:text="${EmpVO.jobTitle}"></td>
										<td><input type="radio" name="check"
											th:value="${EmpVO.empId}"></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="selectReferBtn"
							data-bs-dismiss="modal">선택완료</button>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>
		<script>
			document.querySelector('form[name="insertForm"]').addEventListener('submit', function(event) {
		    event.preventDefault();

		    let formData = new FormData(document.getElementById('emailInsertForm'));
		    let recp = document.getElementById('recp');
		    let title = document.getElementById('title');
			try{
			    if (recp.value === '') {
			        	Swal.fire ({
							icon : 'error',
							title : '잠깐!',
							text : '수신자가 없습니다.',
						})
			        recp.focus();
			        return;
						//.then((result) => {
							//if(result.value){
								//location.href = "/cust/inboxList";
							//}
						//})	
			    } else if (title.value === '') {
			        //alert('제목은 필수입니다.');
			        Swal.fire ({
					icon : 'error',
					title : '잠깐!',
					text : '제목은 필수입니다.',
						})
			        title.focus();
			        return;
			    } else if (recp.value === refer.value) {
			        Swal.fire ({
						icon : 'error',
						title : '잠깐!',
						text : '수신자와 참조자는 같지 않아야 합니다.',
							})
				        refer.focus();
			        	return;
			    }
			    //alert('발송 완료!');
			    Swal.fire ({
							icon : 'success',
							title : '성공!',
							text : '메일이 발송되었습니다!',
						})
						.then((result) => {
							if(result.value){
								location.href = "/cust/emailList";
							}
						})
						this.submit();
			} catch {
				Swal.fire({
					icon : 'error',
					title : '실패',
					text : '발송 중 오류가 발생했습니다.',
				})
				return;
			}
			})
			
            // 모달창 - 수신자 선택 : 이름과 아이디를 함께 표시, Form제출때 아이디만.
            $("#selectRecpBtn").off().on("click", function(e){
                let selectedRecp = $('input[name="check"]:checked');
                let recpId = selectedRecp.val();
                let recpName = selectedRecp.closest('tr').find('td:first').text();
                $("#recpIdName").val(recpName + " (" + recpId + ")");
                $("#recp").val(recpId);
            });

            // 모달창 - 참조자 선택 : 이름과 아이디를 함께 표시, Form제출때 아이디만.
            $("#selectReferBtn").off().on("click", function(e){
                let selectedRefer = $('input[name="check"]:checked');
                let referId = selectedRefer.val();
                let referName = selectedRefer.closest('tr').find('td:first').text();
                $("#referIdName").val(referName + " (" + referId + ")");
                $("#refer").val(referId);
            });
		</script>
	</th:block>
</body>
</html>

