<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}">

<th:block layout:fragment="Content">

	<div class="container-xxl flex-grow-1 container-p-y">
	<div class="row flex-xl-nowrap">
	<div class="DocSearch-content col-12 container-p-y">
		<div class="mt-3 pt-3">
			<h2 class="m-0 p-0">완료 문서</h2>
			<br>
			<p class="mt-2">전체 문서 중 최종결재완료 또는 반려문서를 조회합니다.</p>
			<hr>
		</div>
		
		<div class="mt-3 pt-3">
			<p>로그인Id <input type="text" th:value="${#authentication.principal.empId}" name="draft" readonly />
			부서ID <input type="text" th:value="${#authentication.principal.deptId}" name="deptId" readonly />
			회사ID <input type="text" th:value="${#authentication.principal.custNo}" name="custNo" readonly />
			사원명 <input type="text" th:value="${#authentication.name}" name="draptName" readonly /></p>
			<hr>
		</div>
		
		<form id="searchForm" th:action="@{/docCmplt}"  method="get" th:object="${search}">
			<p><input type="number" th:field="*{page}" /></p>
			<div class="mt-3 pt-3">
				<!-- 업무 선택 -->
				<div class="border border-3 input-tag-css">
					<!-- 모달버튼 : 업무 -->
					<button type="button" class="btn btn-outline-secondary doc-modal-btn-tasks" 
							data-bs-toggle="modal" data-bs-target="#docModalTasks">업무 선택</button>
					<!-- 업무 리스트 -->
					<div class="mt-3 text-start">
						<div id="getTasks">
						<th:block th:each="tno,stat : ${search.schTaskNo}">
						<input type="text" class="aleadyInputs" th:value="${tno}" th:name="|schTaskNo[${stat.index}]|" readonly />
						</th:block>
						<th:block th:each="tna,stat : ${search.schTaskName}">
						<input type="text" class="aleadyInputs" th:value="${tna}" th:name="|schTaskName[${stat.index}]|" readonly />
		                
	                    </th:block>
						
						</div>
					</div>		
				</div>
				
				<hr>
			</div>
			<div class="mt-3 pt-3">
				
			</div>
			<!-- 검색 버튼 -->
			<div class="m-3 text-end">
				<button type="submit" class="btn rounded-pill btn-primary btn-lg">검색</button>
			</div>
		</form>
		<!--------------------------------------------------------- 모달영역 -->
		<!-- 모달영역 : 업무선택 -->
		<div class="modal fade" id="docModalTasks" tabindex="-1" aria-labelledby="modalScrollableTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">관련업무 선택</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary getTasks-btn" data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>
		<!--------------------------------------------------------- 모달영역 -->

			

		
		<div class="mt-3 pt-3">
			<div class="table-responsive">
				<table class="table table-bordered table-hover text-center bg-white">
					<thead>
						<tr class="table-dark">
							<th class="text-white col-1">문서번호</th>
							<th class="text-white">부서명</th>
							<th class="text-white">문서종류</th>
							<th class="text-white">업무명</th>
							<th class="text-white">제목</th>
							<th class="text-white">기안자</th>
							<th class="text-white">문서상태</th>
							<th class="text-white" colspan="2">작성일자</th>
						</tr>
					</thead>
					<tbody class="resultList">
						<th:block th:each="doc : ${list}">
						<tr th:onclick="|location.href='@{/docInfo(docNo=${doc.docNo})}'|">
							<td>[[ ${doc.docNo} ]]</td>
							<td>[[ ${doc.deptName} ]]</td>
							<td>[[ ${doc.tempName} ]]</td>
							<td class="taskTitle">
								<span th:text="${doc.taskCount != 0 ? doc.taskList[0].taskName : '-'}"></span>
								<span th:text="${doc.taskCount > 1 ? '외' : ''}"></span>&ensp;
								<span th:text="${doc.taskCount > 1 ? doc.taskCount - 1 : ''}"></span>
								<div class="taskList" style="display:none;">
								<th:block th:each="task : ${doc.taskList}">
									<span>[[ ${task.deptName} ]]&ensp;[[ ${task.taskName} ]]</span>
									<br>
								</th:block>
								</div>
							</td>
							<td>[[ ${doc.title} ]]</td>
							<td>[[ ${doc.draftName} ]]</td>
							<td>[[ ${doc.docStatName} ]]</td>
							<td>[[ ${#dates.format(doc.draftDt, 'yyyy-MM-dd')} ]]</td>
						</tr>
						</th:block>
					</tbody>
				</table>
				<table>
					
				</table>
			</div>
			<div>
				<!-- 페이징공간 start -->				
				<div id="pageArea">
					<th:block th:replace="approval/list/page :: Page"></th:block>
				</div>
			</div>
			
		</div>
		
	</div>
	</div>
	</div>
	
<script th:src="@{/js/doc.js}"></script>
<script th:src="@{/js/docsch.js}"></script>
<script>
	$(function(){
		
		//모달열기 - 업무.
		$('.doc-modal-btn-tasks').on('click', function(e) {
			let cust = $('input[name="custNo"]').val();
			$('#docModalTasks .modal-body').load("getMyTasks?custNo="+ cust);
			$('#docModalTasks').modal();				
		})
		
		// 모달에서 - name부여.
		$('.getTasks-btn').on('click', schTaskName);
		
		// 나머지업무명 보이기.
		$('.taskTitle').hover(function(){
			$(this).find('.taskList').toggle();
		})
		
	})
</script>

</th:block>

</html>