<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}">

<th:block layout:fragment="Content">

	<div class="d-flex justify-content-center">
	<div class="card my-4 col-10">
		<h5 class="card-header">[[${#authentication.name}]]님의 결재함</h5>

		
		<div>
			<input type="hidden" th:value="${#authentication.principal.empId}" name="draft" readonly />
			<input type="hidden" th:value="${#authentication.principal.deptId}" name="deptId" readonly />
			<input type="hidden" th:value="${#authentication.principal.custNo}" name="custNo" readonly />
			<input type="hidden" th:value="${#authentication.name}" name="draptName" readonly />
		</div>
		
		<div class="card-body pt-0">
			<!-- 검색공간 -->				
			<div id="searchArea">
				<th:block th:replace="approval/list/search :: Search"></th:block>
			</div>
			<br>
			<div>
				<div class="table-responsive">
					<table class="table table-hover text-center">
						<thead >
							<tr style="background-color:#3F72AF;">
								<th class="text-white">문서번호</th>
								<th class="text-white">문서종류</th>
								<th class="text-white">부서명</th>
								<th class="text-white">업무명</th>
								<th class="text-white col-4">제목</th>
								<th class="text-white">기안자</th>
								<th class="text-white">작성일자</th>
								<th class="text-white">결재상태</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="doc : ${list}">
							<tr th:attr="data-dno=${doc.docNo}" class="go-doc-info">
								<td>[[ ${doc.docNo} ]]</td>
								<td>[[ ${doc.tempName} ]]</td>
								<td>[[ ${doc.deptName} ]]</td>
								<td>
									<span th:if="${#arrays.length(doc.taskList)} != 0">
											[[ ${doc.taskList[0].taskName} ]]</span>
									<span th:unless="${#arrays.length(doc.taskList)} != 0">
											-</span>
									<span th:if="${doc.taskCount} > 0">등 [[ ${doc.taskCount} ]]건</span>
								</td>
								<td>[[ ${doc.title} ]]</td>
								<td>[[ ${doc.draftName} ]]</td>
								<td>[[ ${#dates.format(doc.draftDt, 'yyyy-MM-dd')} ]]</td>
								<td>[[ ${doc.curApr} ]]</td>
							</tr>
							</th:block>
						</tbody>
					</table>
				</div>
				<div>
					<!-- 페이징공간 -->
					<div id="pageArea">
						<th:block th:replace="approval/list/page :: Page"></th:block>
					</div>
				</div>
				
			</div>
		</div>

	</div>
	</div>
	
</th:block>



</html>