<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<th:block th:fragment="Search">
<div class="container container-p-y">
	<form id="searchForm" th:action="@{{urlVar}(urlVar=${path})}"  method="get" th:object="${search}">
		<input name="path" th:value="${path}" type="hidden" readonly />
		<div>
		<nav class="navbar navbar-expand navbar-light">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<table>
						<tr>
							<td><select class="form-select" th:field="*{keywordCondition}">
									<option value="d.title" selected>제목</option>
									<!-- '문서함'에서는 기안자검색 비활성화 -->
									<option value="d.draft_name" th:disabled="${path} == 'myDocList'">기안자</option>
							</select></td>
							<td colspan='3'><input class="form-control" th:field="*{keyword}"
								type="text" placeholder="검색어입력"></td>
							<td class="form-control bg-transparent">작성상태</td>
							<!-- '문서함' 에서만 작성상태 검색가능 -->
							<th:block th:if="${path} == 'myDocList'">
								<td><select class="form-select" th:field="*{draftStatCondition}">
										<option th:value="draftStatAll">전체</option>
										<option value="4A1a">작성중</option>
										<option value="4A2a">상신완료</option>
								</select></td>
							</th:block>
							<!-- '문서함' 이외는 작성상태 상신완료로 고정 -->
							<th:block th:unless="${path} == 'myDocList'">
								<td><select class="form-select" disabled>
										<option value="4A2a" selected>상신완료</option>
								</select></td>
							</th:block>
							<td class="form-control bg-transparent">결재상태</td>
							<!-- '결재함'은 결재 대기상태만 조회 -->
							<th:block th:if="${path} != 'myAprList'">
								<td><select class="form-select" th:field="*{aprStatCondition}">
										<option value="aprStatAll">전체</option>
										<option value="4D1d">대기</option>
										<option value="4D2d">결재</option>
										<option value="4D3d">미결</option>
										<option value="4D4d">반려</option>
								</select></td>
							</th:block>
							<th:block th:unless="${path} != 'myAprList'">
							<td><select class="form-select" disabled>
									<option value="4D1d">대기</option>
							</select></td>
							</th:block>
						</tr>
						<tr>
							<td><select class="form-select" th:field="*{dateCondition}">
									<option value="d.draft_dt">상신일자</option>
									<option value="d.cmplt_dt" 
											th:disabled="${path} != 'docIng' and ${path} != 'myAprList'">
											완료일자</option><!-- '결재함','결재진행중'은 결재진행중인 문서만(완료일자없음) -->
							</select></td>
							<td><input class="form-select sdt" th:field="*{dtStart}" type="date"></td>
							<td>~</td>
							<td><input class="form-select edt" th:field="*{dtEnd}" type="date"></td>
							<td class="form-control bg-transparent">문서상태</td>
							<!-- '결재함','결재진행중'은 결재진행중인 문서만 검색 -->
							<th:block th:if="${path} != 'myAprList' and ${path} != 'docIng'">
								<td><select class="form-select" th:field="*{docStatCondition}">
										<option value="docStatAll">전체</option>
										<option value="4B1b">결재전</option>
										<option value="4B2b">결재진행중</option>
										<option value="4B3b">최종결재완료</option>
										<option value="4B4b">반려문서</option>
								</select></td>
							</th:block>
							<th:block th:unless="${path} != 'myAprList' and ${path} != 'docIng'">
								<td><select class="form-select" disabled>
										<option value="4B2b">결재진행중</option>
								</select></td>
							</th:block>
							<td class="form-control bg-transparent">정렬조건</td>
							<td><select class="form-select" th:field="*{sortCondition}">
									<option value="d.doc_no">문서번호순</option>
									<option value="d.doc_no DESC" selected>문서번호순(역순)</option>
									<option value="d.draft_dt">상신일자순</option>
									<option value="d.draft_dt DESC">상신일자순(역순)</option>
									<!-- '결재함','결재진행중'은 결재진행중인 문서만(완료일자없음) -->
									<th:block th:if="${path} != 'myAprList' and ${path} != 'docIng'">
										<option value="d.cmplt_dt">완료일자순</option>
										<option value="d.cmplt_dt DESC">완료일자순(역순)</option>
									</th:block>
							</select></td>
						</tr>
						<tr>
							<td><button type="button" class="btn btn-outline-secondary doc-modal-btn-tasks" 
										data-bs-toggle="modal" data-bs-target="#docModalTasks">업무 선택</button></td>
							<td colspan="3" id="getTasks"></td>
							<td><button type="button" class="btn btn-outline-secondary doc-modal-btn-tasks" 
										data-bs-toggle="modal" data-bs-target="#docModalTasks">부서 선택</button></td>
							<td colspan="3"></td>
						</tr>
						<tr class="text-end">
							<td colspan="6">
							</td>
							<td colspan="2">
								<button class="btn btn-info" type="button" id="schBtn">검&emsp;색</button>
								<button class="btn btn-secondary ms-2"
								type="reset"
								th:onclick="|location.href='@{{urlVar}(urlVar=${path})}'|">초기화</button>
							</td>
						</tr>
					</table>
					<!-- 검색 버튼 -->
					<div class="d-flex justify-content-between text-end">
						
						
					</div>
				</div>
			</div>
		</nav>
		</div>
		<p><input type="hidden" th:field="*{page}" readonly /></p>
	</form>
</div>
	<!-- 모달영역 : 업무선택 -->
	<div class="modal fade" id="docModalTasks" tabindex="-1" aria-labelledby="modalScrollableTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">관련업무 선택</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary getTasks-btn" data-bs-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>

<script th:src="@{/js/doclist.js}"></script>
<script>
	$(function(){
		
		//기간 검색 범위처리
		$('.sdt').on('change', function(e){
			$('input[name="dtEnd"]').attr('min', this.value);
		});
		$('.edt').on('change', function(e){
			$('input[name="dtEnd"]').attr('max', this.value);
		});
		
		//모달열기 - 업무.
		$('.doc-modal-btn-tasks').on('click', function(e) {
			let cust = $('input[name="custNo"]').val();
			$('#docModalTasks .modal-body').load("getMyTasks?custNo="+ cust);
			$('#docModalTasks').modal();				
		})
		
		// 모달에서 - name부여.
		$('.getTasks-btn').on('click', schTaskName);
		
		// 나머지업무명 보이기.
		$('.taskTitle').hover(function(){
			$(this).find('.taskList').toggle();
		})
		
	})
</script>
	
</th:block>

</html>