<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<div class="d-flex justify-content-between">
	<table class="table" id="list1">
		<thead>
			<tr>
				<th>선택</th>
				<th>부서명</th>
				<th>이름</th>
				<th>직급</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="emp : ${dept.emps}">
			<tr th:if="${emp.empId != #authentication.principal.empId}" th:attr="data-emp=${emp.empId}">
				<td><input type="checkbox" name="chk-list1" class="form-check-input"></td>
				<td>[[ ${dept.deptName} ]]</td>
				<td>[[ ${emp.empName} ]]</td>
				<td>[[ ${emp.jobTitle} ]]</td>
			</tr>
			</th:block>
		</tbody>
	</table>
	<div class="mx-3 row align-items-center">
		<button type="button" class="btn btn-icon me-2 btn-primary" id="yes1">
			<span class="tf-icons bx bx-upvote bx-rotate-90"></span></button>
		<button type="button" class="btn btn-icon me-2 btn-secondary" id="no1">
			<span class="tf-icons bx bx-upvote bx-rotate-270"></span></button>
	</div>
	<table class="table" id="aprlist">
		<thead>
			<tr>
				<th>선택</th>
				<th>순서</th>
				<th>이름</th>
				<th>직급명</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>

<script>
$(function(){
	
	// checkbox 설정.
	$('#list1 > tbody, #aprlist > tbody').on('mouseover', 'tr', function(e) {
		if(!$(this).find('input').prop('disabled')) {
			$(this).css('cursor', 'pointer');
		}
	});

	$('#list1 > tbody, #aprlist > tbody').on('click', 'tr, input[type="checkbox"]', function(e){
		let chk = $(this);
		if (chk.is('input[type="checkbox"]')) {
			if(chk.prop('disabled') == false){
				chk.prop('checked', !chk.prop('checked'));
			}
        } else {
        	if(chk.find('input').prop('disabled') == false) {
        		chk.find("input").prop('checked', !chk.find("input").prop('checked'));
        	}
        }			
	});
	
	// 오른쪽 테이블로 복사.
	$('#yes1').on('click', function(){		
		let chkList = $("input[name=chk-list1]:checked");
		
		chkList.each(function(idx,ele) {
			if($(ele).prop('disabled') == false){
				let tr = $(ele).closest('tr');
				let copyTr = tr.clone();
				copyTr.find('input').attr('name','d-chk-list1').prop('checked', false);
				copyTr.find('td').eq(1).text('');
				copyTr.attr('draggable', true).addClass('draggable');
				$('#aprlist > tbody').append(copyTr);
				tr.find('input').prop('disabled', true);
			}
		})
		resq();
	});
	
	// 오른쪽 테이블에서 삭제.
	$('#no1').on('click', function(){
		let chkList = $("input[name=d-chk-list1]:checked");
		
		chkList.each(function(idx,ele){
			let rtr = $(ele).closest('tr');
			let rid = rtr.data('emp');
			let ltrs = $('#list1 > tbody tr');
			
			ltrs.each(function(i,e){
				let lid = $(e).data('emp');
				if(lid == rid){
					$(e).find('input').prop('disabled', false).prop('checked', false);
				}
			})
			rtr.remove();
		})
		resq();
	})

})//end

function resq() {
    $('#aprlist > tbody > tr').each(function(index) {
        $(this).children().eq(1).text(index + 2);
    });
}

</script>

</html>