<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<div class="d-flex justify-content-between">
	<table class="table" id="list3">
		<thead>
			<tr>
				<th>부서명</th>
				<th>업무명</th>
				<th>선택</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="task : ${tasks}">
			<!-- 로그인 구현되면 아래정보 변경. -->
			<tr th:attr="data-task=${task.taskNo}">
				<td>[[ ${task.deptName} ]]</td>
				<td>[[ ${task.taskName} ]]</td>
				<td><input class="form-check-input" type="checkbox" name="chk-list3" th:value="${task.taskNo}"></td>
			</tr>
			</th:block>
		</tbody>
	</table>
</div>

<script>
$(function(){
	
	// 모달 tr선택시 포인터.
	$('#list3 > tbody').on('mouseover', 'tr', function(e) {
		$(this).css('cursor', 'pointer');
	});
	// 아래 tr이벤트 때문에 input체크이벤트 안걸려서 추가..
	$('#list3 > tbody').on('click', 'input[type="checkbox"]' , function(e){
		let checkbox = $(this);
		checkbox.prop('checked', !checkbox.prop('checked'));
	});

	if($('#getTasks').is('table')) {
		$('#getTasks').children().remove();
	}
	
	// 이미 추가되어있으면, 모달에도 체크상태로.
	let finds = $('#getTasks').find('input').not('input.aleadyInputs');
	let ary = []
	console.log(finds);
	finds.each(function(i,e){
		ary.push(e.value);
	})
	$('[name="chk-list3"]').val(ary);
	
	// 체크하면 추가, 해제하면 삭제
	$('#list3 > tbody').on('click', 'tr', function(e){
		let tr = $(this);
		let checkbox = tr.find('input[type="checkbox"]');
		
		if(!checkbox.is(':checked')) {
			checkbox.prop('checked', true);
			let creatTag = $(`<span>
								<input type="hidden"
						   		 	   value="${tr.data('task')}" name="no" readonly />
					   		 	<input type="hidden"
						   		 	   value="${tr.find('td').eq(1).text()}" name="na" readonly />
								<span>${tr.find('td').eq(0).text()} 
					      			  ${tr.find('td').eq(1).text()}
					      			  &ensp;</span>
					      	  </span>`);
			$('#getTasks').append(creatTag);
		} else {
			checkbox.prop('checked', false);
			$('#getTasks').find(`input[value="${tr.data('task')}"]`).closest('span').remove();
		}	
	});
		
})//end

</script>

</html>