<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<th:block th:fragment="Gianmun">
<div class="border border-primary m-4 p-4">
	<h2 class="text-center">회 사 명</h2>
	<h5>수신자</h5>
	<h5>(경유)</h5>
	<h5>제목</h5>
	<hr>
	<div class="d-flex justify-content-center">
	<textarea style="overflow=auto;resize:none;" cols="160" rows="20" maxlength="700" placeholder="내용을 입력하세요.">
	
	</textarea>
	</div>
	<br><br>
	<h4 class="text-center">발 신 명 의</h4>
	<p class="bg-primary">.   </p>
	<span>기안자 OOO</span>
</div>
</th:block>