<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<th:block th:fragment="Test">

<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />

	<p>이 안은 토스트</p>
	<div>
	
		<div id="editor"></div>
		
	</div>
	<p>이 안은 토스트</p>

	<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
	<script>

	$(function(){
	
		const Editor = toastui.Editor;
		const editor = new Editor({
		  el: document.querySelector('#editor');
		});
	
	
	
	
	})



</script>


</th:block>