<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>
	<th:block layout:fragment="Content">
		<div class="container-xxl flex-grow-1">
		<div class="flex-xl-nowrap row">
		<div class="row">
			<div class="row mt-3 pt-3">
				<h2 class="ms-3">계약 상세</h2>
			</div>
		
			<div class="card my-2 p-2">
				<div class="card-body d-flex justify-content-center">
					<div class="table-responsive w-100">
						<table class="table table-hover table-bordered text-center flex-fill">
							<tr>
								<th class="text-white" style="background-color:#3F72AF;">계약번호</th>
								<td>[[ ${ctVO.ctNo} ]]</td>
								<th class="text-white" style="background-color:#3F72AF;">계약상태</th>
								<td>[[ ${ctVO.ctStat} ]]</td>
							</tr>
							<tr>
								<th class="text-white" style="background-color:#3F72AF;">고객번호</th>
								<td>[[ ${ctVO.custNo} ]]</td>
								<th class="text-white" style="background-color:#3F72AF;">사업자번호</th>
								<td>[[ ${ctVO.brn} ]]</td>
							</tr>
							<tr>
								<th class="text-white" style="background-color:#3F72AF;">상호명</th>
								<td>[[ ${ctVO.custName} ]]</td>
								<th class="text-white" style="background-color:#3F72AF;">대표자</th>
								<td>[[ ${ctVO.rep} ]]</td>
							</tr>
							<tr>
								<th colspan="1" class="text-white" style="background-color:#3F72AF;">계약서</th>
								<td colspan="3" class="text-start">[[ ${#strings.substringAfter(ctVO.ctFile,
									'_')} ]]</td>
							</tr>
						</table>

						<!-- PDF출력 -->
						<button type="button" class="btn btn-secondary pdfbtn mt-2">계약서
							미리보기</button>
						<div class="collapse" id="collapsePDF">
							<iframe class="mt-1" th:src="|/files/${ctVO.ctFile}|"
								title="example" width="100%" height="500" frameborder="0"></iframe>
						</div>
					</div>
				</div>
						
				<div class="card-body d-flex justify-content-center">
					<div class="table-responsive w-100">
						<table class="table table-hover table-bordered text-center flex-fill">
							<tr>
								<th class="text-white" style="background-color:#3F72AF;">계약시작일</th>
								<td>[[ ${#dates.format(ctVO.ctStartDt, 'yyyy-MM-dd')} ]]</td>
								<th class="text-white" style="background-color:#3F72AF;">계약종료일</th>
								<td>[[ ${#dates.format(ctVO.ctEndDt, 'yyyy-MM-dd')} ]]</td>
							</tr>
							<tr>
								<th class="text-white" style="background-color:#3F72AF;">계약금액</th>
								<td>[[ ${ctVO.ctAmt}]]</td>
								<th class="text-white" style="background-color:#3F72AF;">계약모듈 갯수</th>
								<td>[[ ${ctVO.useModCnt} ]]</td>
							</tr>
							<tr>
								<th class="text-white" style="background-color:#3F72AF;">최대사용인원</th>
								<td>[[ ${ctVO.maxEmps} ]]</td>
								<th class="text-white" style="background-color:#3F72AF;">현재사용인원</th>
								<td>[[ ${ctVO.curEmps} ]]</td>
							</tr>
							<tr>
								<th class="text-white" style="background-color:#3F72AF;">현재 사용중인 모듈</th>
								<td colspan="3" class="text-start"><span
									th:text="${#lists.isEmpty(ctVO.modList)} ? '사용중인 모듈 없음.':'|'"></span>
									<span th:each="module : ${ctVO.modList}"> <span
										th:if="${module.modName != null}"
										th:text="${module.modName} + ' | '"></span>
								</span></td>
							</tr>
						</table>

						<!-- 사용중 계정목록 -->
						<button type="button" class="btn btn-secondary testbtn mt-2">사용중
							계정목록</button>
						<div class="collapse" id="collapseTable">
							<th:block th:if="${#arrays.length(ctVO.empList)} != 0">
								<table class="table table-hover table-bordered mt-1 text-center">
									<tr style="background-color:#3F72AF;">
										<th class="text-white">계정ID</th>
										<th class="text-white">이메일</th>
										<th class="text-white">이름</th>
										<th class="text-white">직급</th>
										<th class="text-white">권한</th>
									</tr>
									<th:block th:each="empVO : ${ctVO.empList}">
										<tr>
											<td>[[ ${empVO.empId} ]]</td>
											<td>[[ ${empVO.emailAddr} ]]</td>
											<td>[[ ${empVO.empName} ]]</td>
											<td>[[ ${empVO.jobTitle} ]]</td>
											<td>[[ ${empVO.permName} ]]</td>
										</tr>
									</th:block>
								</table>
							</th:block>
							<th:block th:unless="${#arrays.length(ctVO.empList)} != 0">
								<p class="text-center mt-4">현재 등록된 계정이 없습니다.</p>
							</th:block>
						</div>

						<!-- 계약변경이력 -->
						<button type="button" class="btn btn-secondary histbtn mt-2">계약변경이력</button>
						<div class="collapse" id="collapseHist">
							<th:block th:if="${#arrays.length(ctVO.ctList)} != 0">
								<table class="table table-hover table-bordered text-center mt-1 histTable">
									<tr style="background-color:#3F72AF;">
										<th class="text-white">변경날짜</th>
										<th class="text-white">계약시작일</th>
										<th class="text-white">계약종료일</th>
										<th class="text-white">계약금액</th>
										<th class="text-white">모듈개수</th>
										<th class="text-white">사용모듈</th>
										<th class="text-white">최대인원</th>
									</tr>
										<tr>
											<td class="text-white" style="background-color:#3F72AF;">현재 계약</td>
											<td class="updateCheck">[[
												${#dates.format(ctVO.ctStartDt, 'yyyy-MM-dd')} ]]</td>
											<td class="updateCheck">[[ ${#dates.format(ctVO.ctEndDt,
												'yyyy-MM-dd')} ]]</td>
											<td class="updateCheck">[[ ${ctVO.ctAmt}]]</td>
											<td class="updateCheck">[[ ${ctVO.useModCnt} ]]</td>
											<td class="updateCheck text-start">
												<span th:text="${#lists.isEmpty(ctVO.modList)} ? '사용중인 모듈 없음.':'|'"></span>
													<th:block th:each="module : ${ctVO.modList}">
														<span th:if="${module.modName != null}" th:text="${module.modName} + ' | '">
														</span>
													</th:block>
											</td>
											<td class="updateCheck">[[ ${ctVO.maxEmps} ]]</td>
										</tr>
									<th:block th:each="list : ${ctVO.ctList}">
										<tr>
											<td>[[ ${#dates.format(list.chgDt, 'yyyy-MM-dd')} ]]</td>
											<td class="updateCheck">[[
												${#dates.format(list.ctStartDt, 'yyyy-MM-dd')} ]]</td>
											<td class="updateCheck">[[ ${#dates.format(list.ctEndDt,
												'yyyy-MM-dd')} ]]</td>
											<td class="updateCheck">[[ ${list.ctAmt} ]]</td>
											<td class="updateCheck">[[ ${list.useModCnt} ]]</td>
											<td class="updateCheck text-start">
												<span th:text="${#lists.isEmpty(list.modHist)} ? '사용중인 모듈 없음.':'|'"></span>
													<th:block th:each="module : ${list.modHist}">
														<span th:if="${module.modName != null}" th:text="${module.modName} + ' | '">
														</span>
													</th:block>
											</td>
											<td class="updateCheck">[[ ${list.maxEmps} ]]</td>
										</tr>
									</th:block>
										
								</table>
							</th:block>
							<th:block th:unless="${#arrays.length(ctVO.ctList)} != 0">
								<p class="text-center mt-4">현재 계약 변경이력이 없습니다.</p>
							</th:block>
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-between px-3 mb-4">
					<div class="text-start">
						<button type="button"
							th:onclick="|location.href='@{/sol/ctList}'|"
							class="btn btn-primary">목록으로</button>
					</div>
					<div class="text-end">
						<button type="button"
							th:onclick="|location.href='@{/sol/ctUpdate/}${ctVO.ctNo}'|"
							class="btn rounded-pill btn-success">수&emsp;정</button>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
		<script th:inline="javascript">
			$(document).ready(function() {
				$('.testbtn').click(function() {
					$('#collapseTable').slideToggle();
				})
				$('.pdfbtn').click(function() {
					//PDF파일이 서버에 존재하는지 확인 
				    $.ajax({
				        type: 'HEAD',
				        url: '/files/' + [[${ctVO.ctFile}]],
				        success: function() {
				            $('#collapsePDF').slideToggle();
				        },
				        error: function() {
				        	Swal.fire({
								icon: 'error',               
							  	title: '계약서 PDF파일이\n존재하지 않습니다.',    
							  	text: '', 
							});
				        }
				    });
				})
				$('.histbtn').click(function() {
					$('#collapseHist').slideToggle();
				})
				
				let test = $('.histTable').find(
						'.updateCheck')
				let histTd = $('.updateCheck');
				$('.updateCheck').each(
					function() {
						let idx = $(this).index();
						let thisTag = $(this).eq(0);
						let upTag = $(this).parent().next().children().eq(idx);
						if (upTag.hasClass('updateCheck') && upTag.text().replace(/ /g, '') !== thisTag.text().replace(/ /g, '')) {
							thisTag.addClass("table-success");
						}
					});

			});
		</script>
	</th:block>
</body>
</html>