<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>
	<th:block layout:fragment="Content">
		<div class="d-flex justify-content-center">
			<div style="min-width:880px" class="card my-4 col-10">
				<h5 class="card-header">계약 현황</h5>
				<div class="card-body ">

					<!-- 검색 -->
					<p class="navbar-brand">검색조건</p>
					<nav class="navbar navbar-expand-lg navbar-light">
						<div class="container-fluid">
							<!-- <button class="navbar-toggler" type="button"
								data-bs-toggle="collapse"
								data-bs-target="#navbarSupportedContent"
								aria-controls="navbarSupportedContent" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse min-vw-100" id="navbarSupportedContent"> -->
							<div class="" id="navbarSupportedContent">
								<table>
									<tr>
										<td><select class="form-select searchKeySelect">
												<option value="c.cust_name">상호명</option>
												<option value="ct.ct_no">계약번호</option>
												<option value="ct.cust_no">고객번호</option>
										</select></td>
										<td colspan='3'><input class="form-control searchKey"
											type="text"></td>
										<td class="text-white">_</td>
										<td class="form-control">계약상태</td>
										<td><select class="form-select ctStat">
												<option value="statAll">전체</option>
												<option value="0A1a">계약중</option>
												<option value="0A2a">계약종료</option>
										</select></td>
										<td>
										<button class="btn btn-outline-success searchbtn bg-light"
										type="submit">검색</button>
										</td>
									</tr>
									<tr>
										<td><select class="form-select ctDt">
												<option value="ct.ct_start_dt">계약시작일</option>
												<option value="ct.ct_end_dt">계약종료일</option>
										</select></td>
										<td><input class="form-select fromDt" type="date"></td>
										<td>~</td>
										<td><input class="form-select toDt" type="date"></td>
										<td class="text-white">_</td>
										<td class="form-control">정렬조건</td>
										<td><select class="form-select searchSelect">
												<option value="ct.ct_no">계약번호순</option>
												<option value="ct.ct_no DESC">계약번호역순</option>
												<option value="ct.ct_start_dt">계약시작일순</option>
												<option value="ct.ct_start_dt DESC">계약시작일역순</option>
												<option value="ct.ct_end_dt">계약종료일순</option>
												<option value="ct.ct_end_dt DESC">계약종료일역순</option>
										</select></td>
									</tr>
								</table>
								<!-- <span class="position-absolute top-50 end-0 translate-middle-y">
									<button class="btn btn-outline-success searchbtn bg-light"
										type="submit">검색</button>
								</span> -->
							</div>
						</div>
					</nav>
					<div id="ctTable">
						<!-- 계약 목록 출력 -->
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr class="table-secondary">
										<th>계약번호</th>
										<th>고객번호</th>
										<th>상호명</th>
										<th>계약금액</th>
										<th>계약상태</th>
										<th>계약시작일</th>
										<th>계약종료일</th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="CtVO : ${list}">
										<tr th:onclick="|location.href='@{/sol/ctInfo/}@{${CtVO.ctNo}}'|">
											<td>[[ ${CtVO.ctNo} ]]</td>
											<td>[[ ${CtVO.custNo} ]]</td>
											<td>[[ ${CtVO.custName} ]]</td>
											<td>[[ ${CtVO.ctAmt} ]]</td>
											<td
												th:class="${CtVO.ctStat == '0A2a' ? 'table-secondary' : ''}">
												[[ ${CtVO.ctStatName} ]]</td>
											<td>[[ ${#dates.format(CtVO.ctStartDt, "yyyy-MM-dd")} ]]</td>
											<td>[[ ${#dates.format(CtVO.ctEndDt, "yyyy-MM-dd")} ]]</td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
						<!-- 페이징 -->
						<div class="paging mt-2">
							<th:block th:if="${CtDTO.totalCnt} != 0">
								<nav aria-label="Page navigation">
									<ul class="pagination justify-content-center">

										<th:block th:if="${CtDTO.prev}">
											<li class="page-item prev"><a href="#"
												th:id="${CtDTO.startPage - 1 }" class="page-link pagebtn"><i
													class="bx bx-chevron-left"></i></a></li>
										</th:block>
										<th:block
											th:each="num : ${#numbers.sequence(1, CtDTO.endPage)}">
											<li class="page-item "
												th:attrappend="class=${num ==  CtDTO.page ? 'active' : ' '}">
												<a href="#" th:id="${num}" class="page-link pagebtn">[[${num}]]</a>
											</li>
										</th:block>
										<th:block th:if="${CtDTO.next}">
											<li class="page-item next"><a href="#"
												th:id="${CtDTO.endPage + 1 }" class="page-link pagebtn"><i
													class="bx bx-chevron-right"></i></a></li>
										</th:block>
									</ul>
								</nav>
							</th:block>
							<th:block th:unless="${CtDTO.totalCnt} != 0">
								<p class="text-center mt-4">현재 등록된 계약이 없습니다.</p>
							</th:block>
						</div>
						<!-- /페이징 -->
					</div>
				</div>
			</div>
		</div>

		<script>
		    // CSRF
		    let header = $("meta[name='_csrf_header']").attr('content');
		    let token = $("meta[name='_csrf']").attr('content');
		
		    // 기간 검색 범위처리
		    $('.fromDt').on('change', function(e) {
		        $('.toDt').attr('min', this.value);
		    });
		    $('.toDt').on('change', function(e) {
		        $('.fromDt').attr('max', this.value);
		    });
		
		    // 검색 조건 변수 생성
		    let keyword;
		    let searchCondition;
		    let ctStat;
		    let ctDt;
		    let ctStart;
		    let ctEnd;
		    let ctSort;
		    
		    // 검색버튼 이벤트 처리
		    $(".searchbtn").on("click", function(e) {
		        updateParams();
		        let page = 1;
		        showTable(page);
		    });
		    
		    // 검색입력창 엔터시 이벤트 처리
		    $(".searchKey").on("change", function(e) {
		        updateParams();
		        let page = 1;
		        showTable(page);
		    });
		
		    // 페이징 링크 처리
		    $(document).on("click", ".pagebtn", function(e) {
		        e.preventDefault();
		        let page = e.target.id;
		        showTable(page);
		    });
		
		    // 검색 조건 갱신 함수
		    function updateParams() {
		        // 키워드 검색 처리
		        keyword = $('.searchKey').val();
		        searchCondition = $('.searchKeySelect').val();
		        
		    	// 기간 검색 처리
		        ctDt = $('.ctDt').val();
		        ctStart = $('.fromDt').val();
		        ctEnd = $('.toDt').val();
		
		        // 계약상태 검색 처리
		        if ($('.ctStat').val() != 'statAll') {
		            ctStat = $('.ctStat').val();
		        } else {
		            ctStat = null;
		        }
		
		        // 정렬 조건 처리
		        ctSort = $('.searchSelect').val();
		    }
		
		    // 검색 AJAX 함수
		    function showTable(page) {
		        $.ajax({
		            url: '/sol/viewCtList',
		            type: 'POST',
		            beforeSend: function(xhr) {
		                xhr.setRequestHeader(header, token);
		            },
		            data: {
		                page: page,
		                ctSort: ctSort,
		                ctStart: ctStart,
		                ctEnd: ctEnd,
		                ctStat: ctStat,
		                ctDt: ctDt,
		                keyword: keyword,
		                searchCondition: searchCondition
		            },
		            dataType: 'Text',
		            success: function(result) {
		                $('#ctTable').replaceWith(result);
		            }
		        });
		    }
		</script>
	</th:block>
</body>
</html>