<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>
	<th:block layout:fragment="Content">
		<div class="d-flex justify-content-center">
			<div class="card my-4 col-10">
				<h5 class="card-header">계약 수정</h5>
				<div class="card-body ">
					<form >
						<table class="table table-hover table-bordered">
							<tr>
								<th>계약번호</th>
								<td><input class="form-control" type="text"
									th:field="${ctVO.ctNo}" readOnly /></td>
								<th>계약상태</th>
								<td><input class="form-control" type="text"
									th:field="${ctVO.ctStat}" readOnly /></td>
							</tr>
							<tr>
								<th>고객번호</th>
								<td><input class="form-control" type="text"
									th:field="${ctVO.custNo}" readOnly /></td>
								<th>사업자번호</th>
								<td><input class="form-control" type="text"
									th:field="${ctVO.brn}" readOnly /></td>
							</tr>
							<tr>
								<th>상호명</th>
								<td><input class="form-control" type="text"
									th:field="${ctVO.custName}" readOnly /></td>
								<th>대표자</th>
								<td><input class="form-control" type="text"
									th:field="${ctVO.rep}" readOnly /></td>
							</tr>
							<tr>
								<th>계약서</th>
								<td colspan="3">
									<div class="row">
										<input class="form-control col-sm-5" type="text"
											th:field="${ctVO.ctFile}" style="width: 70%" readOnly />
										<button class="btn btn-secondary ms-3 col-sm-2 changebtn" type="button">계약서
											변경</button>
									</div>
								</td>
							</tr>
						</table>

						<table class="table table-hover table-bordered mt-5">
							<tr>
								<th>계약시작일</th>
								<td><input class="form-control" type="date" id="ctStartDt"
									name="ctStartDt"
									th:value="${#dates.format(ctVO.ctStartDt, 'yyyy-MM-dd')}"
									readOnly /></td>
								<th>계약종료일</th>
								<td><input class="form-control" type="date" id="ctEndDt"
									name="ctEndDt"
									th:min="${#dates.format(ctVO.ctStartDt, 'yyyy-MM-dd')}"
									th:value="${#dates.format(ctVO.ctEndDt, 'yyyy-MM-dd')}" /></td>
							</tr>
							<tr>
								<th>계약금액</th>
								<td><input class="form-control" type="text"
									th:field="${ctVO.ctAmt}" readOnly /></td>
								<th>계약모듈 갯수</th>
								<td><input class="form-control" type="text"
									th:field="${ctVO.useModCnt}" readOnly /></td>
							</tr>
							<tr>
								<th>최대사용인원</th>
								<td><input class="form-control" type="text"
									th:field="${ctVO.maxEmps}" readOnly /></td>
								<th>현재사용인원</th>
								<td><input class="form-control" type="text"
									th:field="${ctVO.curEmps}" readOnly /></td>
							</tr>
							<tr>
								<th>현재 사용중인 모듈</th>
								<td colspan="3"><span
									th:text="${#lists.isEmpty(ctVO.modList)} ? '사용중인 모듈 없음.':'|'"></span>
									<span th:each="module : ${ctVO.modList}"> <span
										th:if="${module.modName != null}"
										th:text="${module.modName} + ' | '"></span>
								</span> <span>
										<button class="btn btn-secondary ms-3">모듈 변경</button>
								</span></td>
							</tr>
						</table>
						<button class="btn btn-primary mt-2" >수정</button>
						<button class="btn btn-primary mt-2" >취소</button>
					</form>
				</div>
			</div>
		</div>

		<script>
			// CSRF
			let header = $("meta[name='_csrf_header']").attr('content');
			let token = $("meta[name='_csrf']").attr('content');
			
			$('.changebtn').on("click", function(){
				$('#ctFile').attr("type", "file");
				$('#ctFile').attr("accept", ".pdf");
			});
			
		</script>
	</th:block>
</body>
</html>