<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>
	<th:block layout:fragment="Content">
		<div class="d-flex justify-content-center">
			<div class="card my-4 col-10">
				<h5 class="card-header">협력업체목록</h5>
				<div class="card-body ">

					<!-- 검색 -->
					<p class="navbar-brand"></p>
					<nav class="navbar navbar-expand-lg navbar-light">
						<div class="container-fluid">
							<button class="navbar-toggler" type="button"
								data-bs-toggle="collapse"
								data-bs-target="#navbarSupportedContent"
								aria-controls="navbarSupportedContent" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<table>
									<tr>
										<td><select class="form-select searchKeySelect">
												<option value="co_name">업체명</option>
												<option value="t.task_name">업무명</option>
												<option value="pic">담당자</option>
												<option value="cntn">내용</option>
										</select></td>
										<td><input class="form-control searchKey"
											type="text"></td>
										<td>
											<div class="text-end">
												<button type="submit" class="btn btn-info" id="searchbtn">검&emsp;색</button>
											</div>
										</td>
									</tr>
									<tr>
										<td class="form-control">정렬조건</td>
										<td><select class="form-select searchSelect">
												<option value="co_name">업체명순</option>
												<option value="pic">담당자순</option>
												<option value="cntn">내용순</option>
										</select></td>
										<td>
										<div class="text-end">
											<button class="btn btn-secondary ms-2" type="reset"
												th:onclick="|location.href='@{/cust/coopAllList}'|">초기화</button></div>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</nav>
					<br>
					<div id="coTable">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="col-1 text-white" style="background-color:#3F72AF;">업체번호</th>
										<th class="col-1 text-white" style="background-color:#3F72AF;">업체명</th>
										<th class="col-1 text-white" style="background-color:#3F72AF;">업무명</th>
										<th class="col-1 text-white" style="background-color:#3F72AF;">담당자</th>
										<th class="col-1 text-white" style="background-color:#3F72AF;">연락처</th>
										<th class="col-1 text-white" style="background-color:#3F72AF;">내용</th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="coop : ${clist}">
									<tr th:onclick="|location.href='@{/cust/cInfo?coopCoNo={cno}(cno=${coop.coopCoNo})}'|">
											<td>[[ ${coop.coopCoNo}]]</td>
											<td>[[ ${coop.coName}]]</td>
											<td>[[ ${coop.taskName}]]</td>
											<td>[[ ${coop.pic}]]</td>
											<td>[[ ${coop.coTel}]]</td>
											<td>[[ ${coop.cntn}]]</td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
						<!-- 페이징 -->
						<div class="paging mt-2">
							<th:block th:if="${TaskDTO.totalCnt} != 0">
								<nav aria-label="Page navigation">
									<ul class="pagination justify-content-center">

										<th:block th:if="${TaskDTO.prev}">
											<li class="page-item prev"><a href="#"
												th:id="${TaskDTO.startPage - 1 }" class="page-link pagebtn"><i
													class="bx bx-chevron-left"></i></a></li>
										</th:block>
										<th:block
											th:each="num : ${#numbers.sequence(1, TaskDTO.endPage)}">
											<li class="page-item "
												th:attrappend="class=${num ==  TaskDTO.page ? 'active' : ' '}">
												<a href="#" th:id="${num}" class="page-link pagebtn">[[${num}]]</a>
											</li>
										</th:block>
										<th:block th:if="${TaskDTO.next}">
											<li class="page-item next"><a href="#"
												th:id="${TaskDTO.endPage + 1 }" class="page-link pagebtn"><i
													class="bx bx-chevron-right"></i></a></li>
										</th:block>
									</ul>
								</nav>
							</th:block>
							<th:block th:unless="${TaskDTO.totalCnt} != 0">
								<p class="text-center mt-4">현재 등록된 협력업체가 없습니다.</p>
							</th:block>
						</div>
						<!-- /페이징 -->
					</div>
					<div style="text-align: end;">
						<button type="button" class="btn btn-primary"
							data-bs-toggle="modal" data-bs-target="#coopInModal">등록</button>
					</div>
				</div>
			</div>
		</div>
		<!------------------------------------------------ 등록모달------------------------------------------------->
		<div class="modal fade" id="coopInModal" tabindex="-1"
			aria-labelledby="coopInModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="coopInModalLabel">협력 업체 등록</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form id="coopForm" th:action="@{/cust/coopInsert}" method="post">

							<div class="mb-3">
								<select class="form-select" name="taskNo">
									<option th:each="tlist : ${tlist}" th:value="${tlist.taskNo}"
										th:text="${tlist.taskName}"></option>
								</select>
							</div>
							<div class="mb-3">
								<label for="coName" class="form-label">업체명</label> <input
									type="text" class="form-control" id="coName" name="coName"
									required>
							</div>
							<div class="mb-3">
								<label for="pic" class="form-label">담당자</label> <input
									type="text" class="form-control" id="pic" name="pic" required>
							</div>
							<div class="mb-3">
								<label for="coTel" class="form-label">연락처</label> <input
									type="text" class="form-control" id="coTel" name="coTel"
									required>
							</div>
							<div class="mb-3">
								<label for="custAddr" class="form-label">주소</label>
								<textarea class="form-control" id="custAddr" name="custAddr"
									required></textarea>
							</div>
							<div class="mb-3">
								<label for="cntn" class="form-label">내용</label>
								<textarea class="form-control" id="cntn" name="cntn" required></textarea>
							</div>
						</form>

						<div class="modal-footer">
							<button type="button" class="btn btn-primary" id="modalInsertBtn"
								data-bs-dismiss="modal">등록</button>
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">취소</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!------------------------------------------------ 모달 끝-------------------------------------------------->
		<script th:inline="javascript">
			//CSRF
			let header = $("meta[name='_csrf_header']").attr('content');
			let token = $("meta[name='_csrf']").attr('content');
			
			
			//	
			$.fn.serializeObject = function() {
				"use strict"
				var result = {}
				var extend = function(i, element) {
					var node = result[element.name]
					if ("undefined" !== typeof node && node !== null) {
						if ($.isArray(node)) {
							node.push(element.value)
						} else {
							result[element.name] = [ node, element.value ]
						}
					} else {
						result[element.name] = element.value
					}
				}
				$.each(this.serializeArray(), extend)
				return result
			};//
			
			
			// 검색 조건 변수 
			let keyword;
			let searchCondition;
			let coSort;

			//검색버튼 이벤트 처리
			$("#searchbtn").on("click", function(e) {
				updateParams();
				let page = 1;
				showTable(page);
			});

			//페이징 링크 처리
			$(document).on("click", ".pagebtn", function(e) {
				e.preventDefault();
				let page = e.target.id;
				showTable(page);
			});

			// 검색 조건 갱신 함수
			function updateParams() {
				//키워드 검색 처리
				keyword = $('.searchKey').val();
				searchCondition = $('.searchKeySelect').val();
				// 정렬 처리
				coSort = $('.searchSelect').val();
			}

			// 검색 AJAX 함수
			function showTable(page) {
				$.ajax({
					url : '/cust/viewCoList',
					type : 'POST',
					beforeSend : function(xhr) {
						xhr.setRequestHeader(header, token);
					},
					data : {
						page : page,
						coSort : coSort,
						keyword : keyword,
						searchCondition : searchCondition
					},
					dataType : 'Text',
					success : function(result) {
						$('#coTable').replaceWith(result);
					}
				});
			}

		

			// 등록모달
			$('#modalInsertBtn').on('click', function() {
				let formData = $('#coopForm').serializeObject();
				//console.log(formData);
				
				let result = validationCheck();
				console.log(result)
				if (result){
					console.log("ajax")
					$.ajax({
						type : 'POST',
						url : '/cust/coopInsert',
						contentType : 'application/json',
						data : JSON.stringify(formData),
						beforeSend : function(xhr) {
							xhr.setRequestHeader(header, token); // 헤더에 CSRF 토큰 추가
						},
						success : function(data) {
							Swal.fire({
								title: '등록완료!',        
								text:  '협력업체가 등록되었습니다.',  
								icon:  'success' 
							})
							.then(function(){
								location.reload(true);                  
							})
						},
						error : function(err) {
							Swal.fire({
								title:  '등록실패',        
								text:  '협력업체 등록이 실패하였습니다.',  
								icon:  'error' 
							})
							.then(function(){
								location.reload(true);                  
							})
						}
					});
				} else {
				
				}
			});//
			
			
			// 등록 전 체크
			function validationCheck() {
				
				if($('input[name="coName"]').val() == '') {
					Swal.fire({
						title:  '입력확인',        
						text:  '협력업체명은 필수로 선택해야합니다.',  
						icon:  'error' 
					})
					.then(function(){
						coName.focus();                 
					});
					coName.focus();
					return false; 
				} 
				
				if($('input[name="pic"]').val() == '') {
					Swal.fire({
						title:  '입력확인',        
						text:  '담당자명은 필수로 선택해야합니다.',  
						icon:  'error' 
					})
					.then(function(){
						location.reload(true);                  
					});
					coName.focus();
					return false; 
				} 
				
				let coTel = $('input[name="coTel"]').val();
				let coTelPattern = /^(?:[0-9]{3}-[0-9]{3}-[0-9]{4}|[0-9]{3}-[0-9]{4}-[0-9]{4})$/; 
				
				if (!coTelPattern.test(coTel)) {
	                Swal.fire({
	                    title: '입력확인',
	                    text: '유효한 전화번호 형식이 아닙니다.예시: 053-xxx-xxxx 또는 010-xxxx-xxxx',
	                    icon: 'error'
	                }).then(function() {
	                    $('input[name="coTel"]').focus();
	                });
	                return false;
	            }
				return true;
			};
			
		</script>
	</th:block>
</body>
</html>