<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>
	<th:block layout:fragment="Content">
		<div class="container container-p-y mt-3">
			<h2>프로젝트 수정</h2>
			<div class="bg-light p-3 m-5">
				<div class="table-responsive">
					<div class="table-responsive">	
					<table class="table table-hover table-bordered">
								<tr>
									<th class="fw-bold">업체번호</th>
									 <td id="coopCoNo">[[ ${coop.coopCoNo}]]</td>
									<!-- <td><input type="text" th:value="${coop.coopCoNo}" class="form-control" name="coopCoNo" id="coopCoNo" readonly/></td> -->
									<th class="fw-bold">업체명</th>
										<td><input type="text" th:value="${coop.coName}" class="form-control" name="coName" id="coName"/></td>
									<th class="fw-bold">담당자</th>
										<td><input type="text" th:value="${coop.pic}" class="form-control" name="pic" id="pic"/></td>
									<th class="fw-bold">업무명</th>
										<td>[[ ${coop.taskName}]]</td>
								</tr>
							</table>
							<br>
							<table class="table table-hover table-bordered">
								<thead>
									<tr>
										<th class="fw-bold">연락처</th>
										<td><input type="text" th:value="${coop.coTel}" class="form-control" name="coTel" id="coTel"/></td>
										<th>내용</th>
										<td colspan="5"><textarea name="cntn" class="form-control" id="cntn">[[ ${coop.cntn} ]]</textarea></td>
										<th>주소</th>
										<td colspan="5"><textarea name="custAddr" class="form-control" id="custAddr">[[ ${coop.custAddr} ]]</textarea></td>
									</tr>
								</thead>
							</table>
							<br>
							<div style="text-align: end">
								<button type="button" class="btn btn-primary mt-2" id="modiBtn">저장</button>
								<button type="button" class="btn btn-light mt-2"
									onclick="goToInfo()">취소</button>
							</div>
						</div>
					</div>
			</div>
		</div>
		
		<script th:inline="javascript">
		const token = document.querySelector('meta[name="_csrf"]')
			.getAttribute('content');
		const header = document.querySelector('meta[name="_csrf_header"]')
			.getAttribute('content');
	
			        $('#modiBtn').click(function() {
			        	
			        	let coop = {
			        			
							coopCoNo:$('#coopCoNo').text(),
			                coName: $('#coName').val(),
			                coTel: $('#coTel').val(),
			                pic: $('#pic').val(),
			                cntn: $('#cntn').val(),
			                custAddr: $('#custAddr').val()
			            };
			
			            $.ajax({
			                url: '/cust/coopUpdate',
			                type: 'POST',
			                contentType: 'application/json',
			                data: JSON.stringify(coop),
			                beforeSend : function(xhr) {
								xhr.setRequestHeader(header, token); // 헤더에 CSRF 토큰 추가
							},
							success : function(data) {
								Swal.fire({
									title: '수정완료!',        
									text:  '협력업체 수정이 완료되었습니다.',  
									icon:  'success' 
								})
								.then(function(){
									location.href='/cust/cInfo?coopCoNo=' + coop.coopCoNo;                  
								})
							},
							error : function(err) {
								Swal.fire({
									title: '수정실패',        
									text:  '협력업체 수정이 실패하였습니다.',  
									icon:  'error' 
								})
								.then(function(){
									location.reload(true);                  
								})
							}
			            });
			        });
		
		 	
			 // 취소 = 상세화면으로 
				function goToInfo() {
					let coopCoNo = $('#coopCoNo').text();
					location.href='/cust/cInfo?coopCoNo=' + coopCoNo;  ;
				};

		</script> 
	</th:block>
</body>
</html>