<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">

<body>
	<th:block layout:fragment="Content">
		<div class="d-flex justify-content-center">
			<div class="card my-4 col-10">

				<h4 style="text-align: center">사원 목록</h4>
				<div>
					<!-- ip insert 모달 -->
				<button type="button" class="btn btn-primary" data-bs-toggle="modal"data-bs-target="#staticBackdrop">IP설정</button>
				</div>
				<table class="table table-striped-columns">
					<thead>
						<tr>
							<th>부서명</th>
							<th>사원번호</th>
							<th>사원명</th>
							<th>직급</th>
							<th>입사일</th>
							<th>연락처</th>
						</tr>
					</thead>
					<tbody th:each="list : ${list}" id="infos">
						<tr
							th:onclick="|location.href='@{/work/worklists(empId=${list.empId})}'|">
							<td>[[${list.deptId}]]</td>
							<td>[[${list.empNo}]]</td>
							<td>[[${list.empName}]]</td>
							<td>[[${list.jobNo}]]</td>
							<td>[[${#dates.format(list.hireDt, "yyyy/MM/dd")}]]</td>
							<td>[[${list.empTel}]]</td>
						</tr>
					</tbody>
				</table>

				<div class="paging mt-2">
					<nav aria-label="Page navigation">
						<ul class="pagination">
							<th:block th:if="${filter.prev}">
								<li class="page-item prev disabled"><a
									class="page-link pagebtn"
									th:href="|workmanager?page=${filter.startPage - 1 }|"> <i
										class="bx bx-chevron-left"></i>
								</a></li>
							</th:block>
							<th:block th:each="num : ${#numbers.sequence(1, filter.endPage)}">
								<li class="page-item"
									th:attrappend="class=${num == filter.page?'active':' '}">
									<a th:href="|workmanager?page=${num}|" th:id="${num}"
									class="page-link pagebtn">[[${num}]]</a>
								</li>
							</th:block>
							<th:block th:if="${filter.next}">
								<li class="page-item next"><a class="page-link pagebtn"
									th:href="|workmanager?page=${filter.endPage + 1 }|"> <i
										class="bx bx-chevron-right"></i>
								</a></li>
							</th:block>
							<th:block th:unless="${filter.totalCnt} != 0">
								<p class="text-center mt-4">현재 등록된 기록이 없습니다.</p>
							</th:block>
						</ul>
					</nav>
				</div>

				<!-- Modal -->
				<div class="modal fade" id="staticBackdrop"
					data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
					aria-labelledby="staticBackdropLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title fs-5" id="staticBackdropLabel">IP 관리 목록</h3>
								<br>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body" >
							
							<h6>적용완료 ip</h6>
							<table class="table table-striped-columns">
							<thead>
								<tr>
									<td></td>
									<td>ID</td>
									<td>IP</td>
									<td>날짜</td>
								</tr>
							</thead>
							<tbody th:each ="ipinlists : ${iplist}" id="inlist">
								<tr>
									<td><input type="checkbox" th:id="'in' + ${ipinlistsStat.count}"></td>
									<td>[[${ipinlists.empId}]]</td>
									<td>[[${ipinlists.ip}]]</td>
									<td>[[${#dates.format(ipinlists.dt, "yyyy/MM/dd")}]]</td>
								</tr>
							</tbody>
							</table>
							<button type="button" class="btn btn-danger" id="delete" style="float:right;">삭제</button>
							<h6>신청 ip</h6>
							<table class="table table-striped-columns">
							<thead>
								<tr>
									<td></td>
									<td>ID</td>
									<td>IP</td>
									<td>날짜</td>
								</tr>
							</thead>
							<tbody th:each ="ipoutlists : ${ipoutlist}" id="outlist">
								<tr>
									<td><input type="radio" name="outcheck"></td>
									<td>[[${ipoutlists.empId}]]</td>
									<td>[[${ipoutlists.ip}]]</td>
									<td>[[${#dates.format(ipoutlists.dt, "yyyy/MM/dd")}]]</td>
								</tr>
							</tbody>
							</table>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" id="delete">삭제</button>
								<button type="button" class="btn btn-primary" id="insert">등록</button>
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			// CSRF
			let header = $("meta[name='_csrf_header']").attr('content');
			let token = $("meta[name='_csrf']").attr('content');
			
	/* 		// allout 체크시 모든 out테이블 체크항목 체크
			$('#allout').click(function() {
			let checked = $('#allout').is(':checked');
		
				if(checked)
					$('input[name=outcheck]:checkbox').prop('checked',true);
			});
			 */
			$("#insert").on("click", insertBtn);
			 $("#delete").on("click", deletes);
			 
			//  insert버튼
			function insertBtn() {
				let check = $('input[name=outcheck]:checked'); // 체크가된 상태
			
				let empid = $(check).closest("tr").find('td:eq(1)').text();
				let ip = $(check).closest("tr").find('td:eq(2)').text();
				let dt = $(check).closest("tr").find('td:eq(3)').text();
				
				// out테이블 값을 in테이블에 추가
				$.ajax({
					url :,
					method :,
		            data : {
		            	empId : empid,
		            	ip : ip,
		            	dt : dt
		            },
		            beforeSend: function(xhr) {
		                xhr.setRequestHeader(header, token);
		            },
		            success : function(result){
		            	Swal.fire({
		            		title: 'ip등록 했습니다.',
		            		text: '',
		            		icon: 'success'}).then(function() {
		            			location.reload(true);
		            		});
		            }
				})
			}
				// out테이블에서의 삭제
				function deletes() {
					let check = $('input[name=outcheck]:checked'); // 체크가된 상태
					 
					let ip = $(check).closest("tr").find('td:eq(2)').text();
					console.log(ip);
					
				$.ajax({
					url :"work/inipdelete",
					method :"delete",
		            data : {
		            	ip : ip,
		            },
		            beforeSend: function(xhr) {
		                xhr.setRequestHeader(header, token);
		            },
		            success : function(result){
		            	Swal.fire({
		            		title: 'ip정보를 삭제했습니다.',
		            		text: '',
		            		icon: 'success'}).then(function() {
		            			location.reload(true);
		            		});
		            }
				})
				}
			
		</script>
	</th:block>
</body>
</html>