<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">

<body>
	<th:block layout:fragment="Content">
		<div class="test">
			<div class="d-flex justify-content-center">
				<div class="card my-4 col-11">

					<div id="page">
						<form id=table>
							<table class="table table-striped-columns">
								<thead>
									<tr>
										<th>부서명</th>
										<th>사원번호</th>
										<th>사원명</th>
										<th>직급</th>
										<th>입사일</th>
										<th>연락처</th>
									</tr>
								</thead>
								<tbody th:each="date : ${list}" id="infos">
									<tr>
										<td>[[${date.deptId}]]</td>
										<td>[[${date.empNo}]]</td>
										<td>[[${date.empName}]]</td>
										<td>[[${date.jobNo}]]</td>
										<td>[[${#dates.format(date.hireDt, "yyyy/MM/dd")}]]</td>
										<td>[[${date.empTel}]]</td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>
					<div>
						<nav aria-label="Page navigation" >
							<ul class="pagination">
								<th:block th:if="${page.prev}">
									<li class="page-item prev disabled"><a class="page-link"
										th:href="|workmanager?page=${page.startPage - 1 }|"><i
											class="bx bx-chevron-left"></i></a></li>
								</th:block>
								<th:block th:each="num : ${#numbers.sequence(1, page.endPage)}">
									<li class="page-item"
										th:attrappend="class=${num ==  page.page ? 'active' : ' '}">
										<a th:href="|workmanager?page=${num}|" class="page-link">[[${num}]]</a>
									</li>
								</th:block>
								<th:block th:if="${page.next}">
									<li class="page-item next"><a class="page-link"
										th:href="|workmanager?page=${page.endPage + 1 }|"><i
											class="bx bx-chevron-right"></i></a></li>
								</th:block>
							</ul>
						</nav>
					</div>

				</div>
			</div>
		</div>
		<script>
			
		</script>
	</th:block>
</body>
</html>