<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">

<body>
	<th:block layout:fragment="Content">
		<div class="test">
			<div class="d-flex justify-content-center">
				<div class="card my-4 col-11">
					<div>
						<input type="hidden" th:value="${#authentication.principal.empId}"
							id="id"> <input type="hidden"
							th:value="${#authentication.name}" id="name">
					</div>
					<div>
						<button type="button" class="btn btn-primary" id="wkIn" value="1">출근</button>
						<button type="button" class="btn btn-primary" id="wkOut">퇴근</button>
						<button type="button" class="btn btn-primary" id="wkStop">조퇴</button>
					</div>
					<form name="Listform" th:action="@{/worklist}" method="Get"
						th:object="${filter}">
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
						<div>
							<br> <input id="oneDate" th:field="*{oneDate}" type="Date">
							<!-- <input th:field="*{twoDate}" type="Date"> -->

							<select th:field="*{wkYn}" class="form-select" id="wkYn">
								<option value="근무일" selected>근무일</option>
								<option value="연차">연차</option>
								<option value="오전반차">오전반차</option>
								<option value="오후반차">오후반차</option>
							</select> <select th:field="*{wkStat}" class="form-select" id="wkStat">
								<option value="정상근무" selected>정상근무</option>
								<option value="결근">결근</option>
								<option value="지각">지각</option>
								<option value="조퇴">조퇴</option>
							</select> <select th:field="*{wkSite}" class="form-select" id="wkSite">
								<option value="내근" selected>내근</option>
								<option value="외근">외근</option>
							</select>
							<button type="button" class="btn btn-primary test" id="filter">검색</button>
						</div>
					</form>
					<br>
					<!-- 
					list = 필터 수정, Ajax수정(ip조건 넣기)
					lists = 자신의 출퇴근 기록만 보이기.
					update = 업데이트 부분 제대로 보기 
					info = 부서ID수정
					managerinfo = 페이지만들어서 리스트보여주기
					
					사원계정 접속시 사원번호 사원명 가리기
					<th:block sec:authorize="hasAuthority('1D3d')">
					출근, 퇴근 값안들어가면 행에 색상 적용,
					지각, 조퇴, 오전반차, 오후반차 셀색상변경
					얼럿창 -> 스윗얼럿
					 -->
					<div id="table">
						<table class="table table-striped-columns">
							<thead>
								<tr>
									<th>날짜</th>
									<th>사원명</th>
									<th>사원번호</th>
									<th>출근시간</th>
									<th>퇴근시간</th>
									<th>근무지</th>
									<th>근무상태</th>
									<th>근무여부</th>
								</tr>
							</thead>
							<tbody th:each="info : ${list}" id="infos">
								<tr
									th:onclick="|location.href='@{/workinfo(dt=${#dates.format(info.dt, 'yyyy-MM-dd')}, empNo=${info.empNo})}'|">
									<td>[[${#dates.format(info.dt, "yyyy/MM/dd")}]]</td>
									<td>[[${info.empName}]]</td>
									<td id="empNo">[[${info.empNo}]]</td>
									<td>[[${#dates.format(info.wkIn, "HH:mm")}]]</td>
									<td>[[${#dates.format(info.wkOut, "HH:mm")}]]</td>
									<td th:if="${info.wkYn == '근무일'}">[[${info.wkYn}]]</td>
									<td th:if="${info.wkYn == '연차'}" class="table-warning">[[${info.wkYn}]]</td>
									<td th:if="${info.wkYn == '오전반차'}" class="table-success">[[${info.wkYn}]]</td>
									<td th:if="${info.wkYn == '오후반차'}" class="table-success">[[${info.wkYn}]]</td>
									<td th:if="${info.wkStat == '정상근무'}">[[${info.wkStat}]]</td>
									<td th:if="${info.wkStat == '결근'}" class="table-danger">[[${info.wkStat}]]</td>
									<td th:if="${info.wkStat == '지각'}" class="table-info">[[${info.wkStat}]]</td>
									<td th:if="${info.wkStat == '조퇴'}" class="table-secondary">[[${info.wkStat}]]</td>
									<td th:if="${info.wkSite == '내근'}">[[${info.wkSite}]]</td>
									<td th:if="${info.wkSite == '외근'}" class="table-light">[[${info.wkSite}]]</td>
								</tr>
							</tbody>
						</table>
					</div>
					<br>
					<div>
						<nav aria-label="Page navigation">
							<ul class="pagination">
								<th:block th:if="${filter.prev}">
									<li class="page-item prev disabled"><a class="page-link"
										th:href="|worklist?page=${filter.startPage - 1 }|"> <i
											class="bx bx-chevron-left"></i></a></li>
								</th:block>
								<th:block
									th:each="num : ${#numbers.sequence(1, filter.endPage)}">
									<li class="page-item"
										th:attrappend="class=${num ==  filter.page ? 'active' : ' '}">
										<a th:href="|worklist?page=${num}&|" class="page-link">[[${num}]]</a>
									</li>
								</th:block>
								<th:block th:if="${filter.next}">
									<li class="page-item next"><a class="page-link"
										th:href="|worklist?page=${filter.endPage + 1 }|"> <i
											class="bx bx-chevron-right"></i></a></li>
								</th:block>
							</ul>
						</nav>
					</div>

				</div>
			</div>
		</div>
		<script>
		let header = $("meta[name='_csrf_header']").attr('content');
	    let token = $("meta[name='_csrf']").attr('content');
		let {date,time} = today();
		
		
			$('#filter').on('click', filters);
				
			function filters() {
				
				//$.html('');
				let oneDate = $('#oneDate').val();
				let wkYn = $('#wkYn').val();
				let wkStat = $('#wkStat').val();
				let wkSite = $('#wkSite').val();
				let tr = $('tbody').children('tr');
					
				
				$.ajax({
					url : 'worklist',
					method : 'Get',
					data : {
						oneDate : oneDate,
						wkYn : wkYn,
						wkStat : wkStat,
						wkSite : wkSite
					},
					success :function(){
						
						console.log(oneDate);
						console.log(wkYn);
						console.log(wkStat);
						console.log(wkSite);
						console.log('성공');
							}   
					})
			};
			
			// 출근
			 $('#wkIn').on('click', wkins);
			// 퇴근
			$('#wkOut').on('click', wkouts);
			// 조퇴
			$('#wkStop').on('click', wkstops);
			
			// 숙제: 출근에 숫자값을 주고 한번만 눌려지도록 설정하기(기본값1 누르면 0 값이 0이면 전송취소) 하루가 지나면 초기화되기... 
			// 현재 출퇴근조퇴까지 ajax성공 학원버튼처럼 만들어짐.
			
			// 퇴근, 조퇴 숨기기 처음에는 출근만 보이도록
			$('#wkOut').toggle();
			$('#wkStop').toggle();
			
			function wkins() {
				let empId = $('#id').val();
				let times = time;
				let days = date;
				console.log(empId,times);
			
				$.ajax({
					url : 'workin',
					method :'POST',
					data :{
				           dt: days,
				           empId: empId
					},
					beforeSend: function(xhr) {
		                xhr.setRequestHeader(header, token);
		            },
				    success : function(result){
				    	Swal.fire({
				    		title: '출근하셨습니다!!', 
				    		text: '화이팅!!',
				    		icon: 'success'});
				    	$('#wkIn').toggle();
				    	
				    	if($('#wkIn').val() == 1) {
				    	$('#wkIn').val(0);
				    	}
				    	$('#wkOut').toggle();
				    	$('#wkStop').toggle();
				    }
				})
			};
			
			function wkouts() {
				let empId = $('#id').val();
				let times = time;
				let days = date;
				$.ajax({
					url : 'workout',
					method :'POST',
					data :{
				           dt: days,
				           empId: empId
					},
					beforeSend: function(xhr) {
		                xhr.setRequestHeader(header, token);
		            },
				    success : function(result){
				    	Swal.fire({
				    		title: '퇴근하셨습니다!!', 
				    		text: '수고많으셨습니다.',
				    		icon: 'success'});
				    	$('#wkIn').toggle();
				    	$('#wkOut').toggle();
				    	$('#wkStop').toggle();
				    }
				})
			};
			// 조퇴
			function wkstops() {
				let empId = $('#id').val();
				let times = time;
				let days = date;
				$.ajax({
					url : 'workstop',
					method :'POST',
					data :{
				           dt: days,
				           empId: empId
					},
					beforeSend: function(xhr) {
		                xhr.setRequestHeader(header, token);
		            },
				    success : function(result){
				    	Swal.fire({
				    		title: '조퇴하셨습니다!!', 
				    		text: '빠른쾌유바랍니다!!',
				    		icon: 'success'});
				    	$('#wkIn').toggle();
				    	$('#wkOut').toggle();
				    	$('#wkStop').toggle();
				    }
				})
			};
		
		</script>
	</th:block>
</body>
</html>