<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">

<body>
	<th:block layout:fragment="Content">
		<div class="test">
			<div class="d-flex justify-content-center">
				<div class="card my-4 col-8">
					<br>
						<br>
						<h2 style="text-align: center">수정 화면</h2>
						<p>
						<hr>
						<form action="/workupdate" method="post" th:object="${info}">
						<table id="up">
								<tr>
									<th>사원번호</th>
									<td>11025</td>
									<th>사원명</th>
									<td>[[${#authentication.principal.empName}]]</td>
								</tr>
								<tr>
									<th>부서</th>
									<td>[[${#authentication.principal.deptId}]]</td>
									<th>근무여부</th>
									<td><input type="text" th:filed="*{wkSite}"></td>
								</tr>
							</table>
							<br>
							<table>
								<tr>
									<th>날짜</th>
									<th>출근시간</th>
									<th>퇴근시간</th>
									<th>출근위치</th>
									<th>퇴근위치</th>
									<th>근무지</th>
									<th>근무상태</th>
								</tr>
								<tr>
									<td><input type="date" th:filed="*{list.dt}"></td>
									<td><input type="date" th:filed="*{wkIn}"></td>
									<td><input type="date" th:filed="*{wkOut}"></td>
									<td><input type="text" th:filed="*{wkInLoc}"></td>
									<td><input type="text" th:filed="*{wkOutLoc}"></td>
									<td><input type="text" th:filed="*{wkYn}"></td>
									<td><input type="text" th:filed="*{wkStat}"></td>
								</tr>
							</table>
					<div>
						<br>
						<p>
							<button type="submit" class="btn btn-primary" id="up">수정</button>
							<a type="button" href="worklist" class="btn btn-primary" id="re">취소</a>
						</p>
					</div>
					</form>
				</div>
			</div>
		</div>
	</th:block>
	<script>
		
	</script>
	</th:block>
</body>
</html>