<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">

<body>
	<th:block layout:fragment="Content">
		<div class="container-xxl flex-grow-1">
			<div class="row mt-3 pt-3">
				<h4 class="ms-3">사원 목록</h4>
			</div>
			<div class="card my-4 col-11 p-3">
			<div class="row">
				<div>
					<!-- ip insert 모달 -->
					<button type="button" class="mt-3 btn rounded-pill btn-info"
						data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="float: right;">IP설정</button>
				</div>
				<div>
				<table class="mt-3 table table-bordered text-center border-dark" style="width:95%; margin-left: auto; margin-right: auto;">
					<thead>
						<tr>
							<th class="col-1 text-white" style="background-color:#3F72AF;">부서명</th>
							<th class="col-1 text-white" style="background-color:#3F72AF;">사원번호</th>
							<th class="col-1 text-white" style="background-color:#3F72AF;">사원명</th>
							<th class="col-1 text-white" style="background-color:#3F72AF;">직급</th>
							<th class="col-1 text-white" style="background-color:#3F72AF;">입사일</th>
							<th class="col-1 text-white" style="background-color:#3F72AF;">연락처</th>
						</tr>
					</thead>
					<tbody th:each="list : ${list}" id="infos">
						<tr	th:onclick="|location.href='@{/cust/work/worklists(empId=${list.empId})}'|">
							<td>[[${list.deptId}]]</td>
							<td>[[${list.empNo}]]</td>
							<td>[[${list.empName}]]</td>
							<td>[[${list.jobNo}]]</td>
							<td>[[${#dates.format(list.hireDt, "yyyy/MM/dd")}]]</td>
							<td>[[${list.empTel}]]</td>
						</tr>
					</tbody>
				</table>
				</div>
				
				<div class="paging mt-2" style="margin-left: auto; margin-right: auto;">
						<th:block th:if="${filter.totalCnt} != 0">
							<nav aria-label="Page navigation">
								<ul class="pagination justify-content-center">

									<th:block th:if="${filter.prev}">
										<li class="page-item prev disabled"><a
											class="page-link pagebtn"
											th:href="|workmanager?custNo=${#authentication.principal.custNo}&
														permId=${#authentication.principal.permId}&
														deptId=${#authentication.principal.deptId}&page=${filter.startPage - 1 }|">
												<i class="bx bx-chevron-left"></i>
										</a></li>
									</th:block>
									<th:block th:each="num : ${#numbers.sequence(filter.startPage, filter.endPage)}">
										<li class="page-item" th:classappend="${num == filter.page ? 'active' : ' '}">
											<a th:href="|workmanager?custNo=${#authentication.principal.custNo}&
														permId=${#authentication.principal.permId}&
														deptId=${#authentication.principal.deptId}&page=${num}|" th:id="${num}" class="page-link pagebtn">[[${num}]]</a>
										</li>
									</th:block>
									<th:block th:if="${filter.next}">
										<li class="page-item next"><a class="page-link pagebtn"
											th:href="|workmanager?custNo=${#authentication.principal.custNo}&
														permId=${#authentication.principal.permId}&
														deptId=${#authentication.principal.deptId}&page=${filter.endPage + 1 }|">
												<i class="bx bx-chevron-right"></i>
										</a></li>
									</th:block>
									<th:block th:unless="${filter.totalCnt} != 0">
										<p class="text-center mt-4">현재 등록된 기록이 없습니다.</p>
									</th:block>
								</ul>
							</nav>
						</th:block>
					</div>

				<!-- Modal -->
				<div class="modal fade" id="staticBackdrop"
					data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
					aria-labelledby="staticBackdropLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title fs-5" id="staticBackdropLabel">IP 관리
									목록</h3>
								<br>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<h6>적용완료 ip</h6>
								<div>
									<table class="mt-3 table table-bordered text-center border-dark">
										<thead>
											<tr>
												<td class="col-1 text-white" style="background-color:#3F72AF;"></td>
												<td class="col-1 text-white" style="background-color:#3F72AF;">ID</td>
												<td class="col-1 text-white" style="background-color:#3F72AF;">IP</td>
												<td class="col-1 text-white" style="background-color:#3F72AF;">날짜</td>
											</tr>
										</thead>
										<tbody th:each="ipinlists : ${iplist}" id="inlist">
											<tr>
												<td><input type="radio" name="incheck"></td>
												<td>[[${ipinlists.empId}]]</td>
												<td>[[${ipinlists.ip}]]</td>
												<td>[[${#dates.format(ipinlists.dt, "yyyy/MM/dd")}]]</td>
											</tr>
										</tbody>
									</table>
								</div>
								<button type="button" class="mt-3 btn btn-danger" id="indelete"
									style="float: right;">삭제</button>
								<br>
								<h6 class="mt-3">신청 ip</h6>
								<table class="mt-3 table table-bordered text-center border-dark">
									<thead>
										<tr>
											<td class="col-1 text-white" style="background-color:#3F72AF;"></td>
											<td class="col-1 text-white" style="background-color:#3F72AF;">ID</td>
											<td class="col-1 text-white" style="background-color:#3F72AF;">IP</td>
											<td class="col-1 text-white" style="background-color:#3F72AF;">날짜</td>
										</tr>
									</thead>
									<tbody th:each="ipoutlists : ${ipoutlist}" id="outlist">
										<tr>
											<td><input type="radio" name="outcheck"></td>
											<td>[[${ipoutlists.empId}]]</td>
											<td>[[${ipoutlists.ip}]]</td>
											<td>[[${#dates.format(ipoutlists.dt, "yyyy/MM/dd")}]]</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" id="outdelete">삭제</button>
								<button type="button" class="btn btn-primary" id="insert">등록</button>
								<button type="button" class="btn btn-secondary"
									data-bs-dismiss="modal">취소</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<script>
			// CSRF
			let header = $("meta[name='_csrf_header']").attr('content');
			let token = $("meta[name='_csrf']").attr('content');
			
			 $("#insert").on("click", insertBtn);
			 
			 $("#outdelete").on("click", outdeleteBtn);
			 
			 $("#indelete").on("click", indeleteBtn);
			 
			//  insert버튼
			function insertBtn() {
				let check = $('input[name=outcheck]:checked'); // 체크가된 상태
			
				let empid = $(check).closest("tr").find('td:eq(1)').text();
				let ip = $(check).closest("tr").find('td:eq(2)').text();
				let dt = $(check).closest("tr").find('td:eq(3)').text();
				$.ajax({
					url :"workinip",
					method :"POST",
		            data : {
		            	empId : empid,
		            	ip : ip,
		            },
		            beforeSend: function(xhr) {
		                xhr.setRequestHeader(header, token);
		            },
		            success : function(result){
					$.ajax({
							url :"outipdelete",
							method :"DELETE",
				            data : {
				            	ip : ip,
				            },
				            beforeSend: function(xhr) {
				                xhr.setRequestHeader(header, token);
				            },
				            success : function(result){
				            $('#inlist').append("<tr><td><input type='radio'></td><td>" + empid + "</td><td>" + ip + "</td><td>" + dt + "</td></tr>");
				            	$(check).closest("tr").remove();
			            	}
						});
				      }
					});
			}
			
				// out테이블에서의 삭제
				function outdeleteBtn() {
					var check = $('input[name=outcheck]:checked'); // 체크가된 상태
					var ip = $(check).closest("tr").find('td:eq(2)').text();
					
					$.ajax({
						url :"outipdelete",
						method :"DELETE",
			            data : {
			            	ip : ip,
			            },
			            beforeSend: function(xhr) {
			                xhr.setRequestHeader(header, token);
			            },
			            success : function(result){
			            	$(check).closest("tr").remove();
			            }
					});
				}
			
				// in테이블에서의 삭제
				function indeleteBtn() {
					var check = $('input[name=incheck]:checked'); // 체크가된 상태
					var ip = $(check).closest("tr").find('td:eq(2)').text();
					
					$.ajax({
						url :"inipdelete",
						method :"DELETE",
			            data : {
			            	ip : ip,
			            },
			            beforeSend: function(xhr) {
			                xhr.setRequestHeader(header, token);
			            },
			            success : function(result){
			            	$(check).closest("tr").remove();
			            }
					});
				}
		</script>
	</th:block>
</body>
</html>