<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-securityh">

<th:block th:fragment="MenuFragment">
	<div>
		<a href="/home" class="app-brand-link"> <span
			class="app-brand-logo demo"> <img src="/assets/img/logo.png"
				width="260px">
		</span>
		</a>
	</div>

	<div class="menu-inner-shadow"></div>

	<ul class="menu-inner py-1 overflow-auto">

		<!-- 고객사 메뉴 -->
		<th:block sec:authorize="hasAuthority('ABLE') and hasAnyAuthority('1C2c','1C3c','1C4c')">
			<!-- 메인화면 메뉴 -->
			<li class="menu-item"><a href="/home" class="menu-link"> <i
					class="menu-icon tf-icons bx bx-home-circle"></i>
					<div data-i18n="Analytics">메인</div>
			</a></li>

			<!-- 메일 메뉴 -->
			<th:block sec:authorize="hasAuthority('MD001')">
			<li class="menu-item"><a href="/" class="menu-link menu-toggle">
					<i class="menu-icon tf-icons bx bx-envelope"></i>
					<div>메일</div>
			</a>
				<ul class="menu-sub">
					<li class="menu-item"><a th:href="@{/cust/emailWrite}" class="menu-link">
							<div>메일작성</div>
					</a></li>
					<li class="menu-item"><a th:href="@{/cust/inboxList}" class="menu-link">
							<div>받은메일</div>
					</a></li>
					<li class="menu-item"><a th:href="@{/cust/emailList}" class="menu-link">
							<div>보낸메일</div>
					</a></li>
					<li class="menu-item"><a href="#" class="menu-link">
							<div>주소록관리</div>
					</a></li>
					<li class="menu-item"><a th:href="@{/cust/wastedList}" class="menu-link">
							<div>휴지통</div>
					</a></li>
				</ul></li>
			</th:block>

			<!-- 전자결재 메뉴 -->
			<th:block sec:authorize="hasAuthority('MD002') and hasAuthority('MD003')">
			<li class="menu-item"><a href="javascript:void(0);"
				class="menu-link menu-toggle"> <i
					class="menu-icon tf-icons bx bx-file"></i>
					<div>전자결재</div>
			</a>
				<ul class="menu-sub">
					<li class="menu-item"><a th:href="@{/cust/doc/insert}"
						class="menu-link">
							<div>문서작성</div>
					</a></li>
					<li class="menu-item"><a th:href="@{/cust/doc/mydoc}" class="menu-link">
							<div>문서함</div>
					</a></li>
					<li class="menu-item"><a th:href="@{/cust/doc/myapr}" class="menu-link">
							<div>결재함</div>
					</a></li>
					<li class="menu-item"><a th:href="@{/cust/doc/ing}" class="menu-link">
							<div>결재진행중 문서조회</div>
					</a></li>
					<li class="menu-item"><a th:href="@{/cust/doc/cmplt}" class="menu-link">
							<div>완료된 결재 조회</div>
					</a></li>
				</ul></li>
			</th:block>

			<!-- 근태관리 메뉴 -->
			<th:block sec:authorize="hasAuthority('MD004')">
			<li class="menu-item"><a href="javascript:void(0);"
				class="menu-link menu-toggle"> <i
					class="menu-icon tf-icons bx bx-calendar"></i>
					<div>근태관리</div>
			</a>
				<ul class="menu-sub">
					<li class="menu-item"><a th:href="@{/cust/work/worklist(empId=${#authentication.principal.empId})}" class="menu-link">
							<div>출퇴근 기록</div>
					</a></li>
					<th:block sec:authorize="hasAnyAuthority('1C3c','1C2c')">
					<li class="menu-item"><a th:href="@{/cust/work/workmanager}" class="menu-link">
							<div>사원목록</div>
					</a></li></th:block>
				</ul></li>
			</th:block>

			<!-- 업무관리 메뉴 -->
			<th:block sec:authorize="hasAuthority('MD005')">
			<li class="menu-item"><a href="javascript:void(0);"
				class="menu-link menu-toggle"> <i
					class="menu-icon tf-icons bx bx-dock-top"></i>
					<div>업무관리</div>
			</a>
				<ul class="menu-sub">
					<li class="menu-item"><a th:href="@{/cust/prjtAllList}"
						class="menu-link">
							<div>프로젝트 조회</div>
					</a></li>
					<li class="menu-item"><a th:href="@{/cust/taskAllList}"
						class="menu-link">
							<div>프로젝트 업무조회</div>
					</a></li>
					<th:block sec:authorize="hasAnyAuthority('1C2c','1C3c')">
					<li class="menu-item"> 
					<a th:href="@{/cust/prjtInsert}"class="menu-link">
							<div>프로젝트 등록</div>
					</a></li>
					</th:block>
					<li class="menu-item"><a th:href="@{/cust/regu/list}"
						class="menu-link">
							<div>상시업무 조회</div>
					</a></li>
					<th:block sec:authorize="hasAnyAuthority('1C2c','1C3c')">
					<li class="menu-item"
						sec:authorize="hasAuthority('1C2c') or hasAuthority('1C3c')">
						<a th:href="@{/cust/regu/stadList}" class="menu-link">
							<div>상시업무 목록</div>
					</a></li>
					<li class="menu-item"><a th:href="@{/cust/regu/insert}"
						class="menu-link">
							<div>상시업무 등록</div>
					</a></li>
					</th:block>
					<li class="menu-item"><a th:href="@{/cust/coopAllList}"
						class="menu-link">
							<div>협력업체목록</div>
					</a></li>
				</ul></li>
			</th:block>

			<!-- 게시판 메뉴 -->
			<th:block sec:authorize="hasAuthority('MD006')">
			<li class="menu-item"><a href="javascript:void(0);"
				class="menu-link menu-toggle"> <i
					class="menu-icon tf-icons bx bx-chat"></i>
					<div>게시판</div>
			</a>
				<ul class="menu-sub">
					<li class="menu-item"><a href="#" class="menu-link">
							<div>공지사항</div>
					</a></li>
					<li class="menu-item"><a href="#" class="menu-link">
							<div>자유게시판</div>
					</a></li>
					<li class="menu-item"><a href="#" class="menu-link">
							<div>부서게시판</div>
					</a></li>
				</ul></li>
			</th:block>

			<!-- 자료실 메뉴 -->
			<th:block sec:authorize="hasAuthority('MD007')">
			<li class="menu-item"><a href="javascript:void(0);"
				class="menu-link menu-toggle"> <i
					class="menu-icon tf-icons bx bx-detail"></i>
					<div>자료실</div>
			</a>
				<ul class="menu-sub">
					<li class="menu-item"><a href="#" class="menu-link">
							<div>공통 자료</div>
					</a></li>
					<li class="menu-item"><a href="#" class="menu-link">
							<div>공유 자료</div>
					</a></li>
					<li class="menu-item"><a href="#" class="menu-link">
							<div>부서 자료</div>
					</a></li>
				</ul></li>
			</th:block>
		</th:block>

		<!-- 관리자 기능 -->
		<th:block sec:authorize="hasAnyAuthority('1C2c','1C3c')">
		<li class="menu-item"><a href="javascript:void(0);"
			class="menu-link menu-toggle"> <i
				class="menu-icon tf-icons bx bx-lock-open-alt"></i>
				<div>관리자기능</div>
		</a>
			<ul class="menu-sub">
				<th:block sec:authorize="hasAuthority('ABLE')">
					<li class="menu-item"><a href="/cust/manager/empList" class="menu-link">
							<div>사원계정 관리</div>
					</a></li>
					<li class="menu-item"><a href="/cust/admin/dept" class="menu-link">
							<div>부서 관리</div>
					</a></li>
					<li class="menu-item"><a th:href="@{/cust/admin/jobList}" class="menu-link">
							<div>직급 관리</div>
					</a></li>
				</th:block>
				<li class="menu-item"><a th:href="@{/cust/admin/payAndCt}" class="menu-link">
						<div>결제/계약 관리</div>
				</a></li>
				<!-- <li class="menu-item"><a href="#" class="menu-link">
						<div>유지보수 관리</div>
				</a></li> -->
			</ul></li>
		</th:block>

		<!-- 솔루션 기능 -->
		<th:block sec:authorize="hasAuthority('1C1c')">
			<!-- 메인화면 메뉴 -->
			<li class="menu-item"><a th:href="@{/home}" class="menu-link">
					<i class="menu-icon tf-icons bx bx-home-circle"></i>
					<div>메인</div>
			</a></li>

			<!-- 고객관리 메뉴 -->
			<li class="menu-item"><a href="javascript:void(0);" class="menu-link menu-toggle">
				<i class="menu-icon tf-icons bx bx-crown"></i>
					<div>고객관리</div>
			</a>
				<ul class="menu-sub">
					<li class="menu-item"><a th:href="@{/sol/customer/insert}" class="menu-link">
							<div>고객 등록</div>
					</a></li>
					<li class="menu-item"><a th:href="@{/sol/customer/list}" class="menu-link">
							<div>고객 목록</div>
					</a></li>
				</ul></li>

			<!-- 계약관리 메뉴 -->
			<li class="menu-item"><a href="javascript:void(0);"
				class="menu-link menu-toggle"> <i
					class="menu-icon tf-icons bx bx-list-check"></i>
					<div>계약관리</div>
			</a>
				<ul class="menu-sub">
					<li class="menu-item"><a th:href="@{/sol/ctList}" class="menu-link">
							<div>계약 현황</div>
					</a></li>
					<li class="menu-item"><a th:href="@{/sol/ctInsert}" class="menu-link">
							<div>신규 계약</div>
					</a></li>
				</ul></li>

			<!-- 결제관리 메뉴 -->
			<li class="menu-item"><a href="javascript:void(0);"
				class="menu-link menu-toggle"> <i
					class="menu-icon tf-icons bx bx-collection"></i>
					<div>결제관리</div>
			</a>
				<ul class="menu-sub">
					<li class="menu-item"><a th:href="@{/sol/payList}" class="menu-link">
							<div>결제 내역</div>
					</a></li>
				</ul></li>

			<li class="menu-item"><a href="javascript:void(0);"
				class="menu-link menu-toggle"> <i
					class="menu-icon tf-icons bx bx-copy"></i>
					<div>모듈/템플릿 관리</div>
			</a>
				<ul class="menu-sub">
					<li class="menu-item"><a th:href="@{/sol/modList}" class="menu-link">
							<div>보유모듈목록</div>
					</a></li>
					<li class="menu-item"><a th:href="@{/sol/tempList}" class="menu-link">
							<div>템플릿 관리</div>
					</a></li>
				</ul></li>

			<!-- 유지보수 메뉴 -->
			<!-- <li class="menu-item"><a href="#" class="menu-link"> <i
					class="menu-icon tf-icons bx bx-support"></i>
					<div>유지보수</div>
			</a></li> -->
		</th:block>
	</ul>

</th:block>

</html>