<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}">

<th:block layout:fragment="Content">
<div class="d-flex justify-content-center">
<div class="card my-4 col-10">
	<h5 class="card-header">부서관리 - 목록</h5>
	<div class="card-body">
		<div id="taskTable">
			<div class="table-responsive">
				<div class="text-end">
					<button type="button" class="btn px-2 py-0 me-1 btn-danger dept-del"><b>부서삭제</b>
						<span class="icon bx bx-message-square-minus bx-md"></span>
					</button>
					<button type="button" class="btn px-2 py-0 ms-1 dept-add"><b>부서추가</b>
						<span class="icon bx bx-message-square-add bx-md"></span>
					</button>	
				</div>
				<table th:if="${#arrays.length(depts)} != 0" class="table table-hover text-center">
					<thead>
						<tr>
							<th class="col-2 text-white" style="background-color:#3F72AF;">부서명</th>
							<th class="col-3 text-white" style="background-color:#3F72AF;">부서소재지</th>
							<th class="col-3 text-white" style="background-color:#3F72AF;">부서설명</th>
							<th class="col-2 text-white" style="background-color:#3F72AF;">부서장</th>
							<th class="col-2 text-white" style="background-color:#3F72AF;">사원수</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="dept : ${depts}">
						<tr th:attr="data-did=${dept.deptId}">
							<td>[[ ${dept.deptName} ]]</td>
							
							<td>[[ ${dept.deptLoc} ]]</td>
							
							<td th:if="${dept.deptInfo != null}">[[ ${dept.deptInfo} ]]</td>
							<td th:unless="${dept.deptInfo != null}">-</td>
							
							<td th:if="${dept.mngrName != null}">[[ ${dept.mngrName} ]]</td>
							<td th:unless="${dept.mngrName != null}">미정</td>
							
							<td th:if="${dept.cnt != null}">[[ ${dept.cnt} ]] 명</td>
							<td th:unless="${dept.cnt != null}">없음</td>
						</tr>
						</th:block>
						<tr id="insertForm" style="display:none;">
							<td><input type="text" class="form-control" name="deptName" /></td>
							<td><input type="text" class="form-control" name="deptLoc" /></td>
							<td><input type="text" class="form-control" name="deptInfo" /></td>
							<td><input type="text" class="form-control" name="mngrName" readonly /></td>
							<td><button type="button" class="btn btn-primary">사원조회</button></td>						
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</div>

<div>
<input type="hidden" class="form-control bg-transparent" id="empAddr1">
<input type="hidden" class="form-control bg-transparent" id="empAddr2">
<input type="hidden" class="form-control bg-transparent" id="empAddr3">
<input type="hidden" class="form-control bg-transparent" id="empAddr4">												
</div>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                if(data.userSelectedType === 'R'){
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    document.getElementById("empAddr4").value = extraAddr;
                
                } else {
                    document.getElementById("empAddr4").value = '';
                }

                document.getElementById('empAddr1').value = data.zonecode;
                document.getElementById("empAddr2").value = addr;
                document.getElementById("empAddr3").focus();
            }
        }).open();
    }
</script>
<script>
$(function(){
	
	$('button.dept-add').on('click', function(e) {
		$('#insertForm').show();
		
		$(this).addClass('btn-info');
		
	});
	
	$('input[name="deptLoc"]').on('click', function(e){
		console.log('!')
		sample6_execDaumPostcode();
	})
	
	
}) // end.
</script>

</th:block>
</html>