<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>
	<th:block layout:fragment="Content">
	<div class="container">
			<br>
			<h4>프로젝트 상세조회</h4>
			<table class="table">
				<thead>
					<tr>
						<th>프로젝트ID</th>
						<th>프로젝트명</th>
						<th>프로젝트상태</th>
						<th>부서명</th>
						<th>총괄책임자</th>
						<th>시작일</th>
						<th>마감일</th>
						<th>개요</th>
						<th>목적</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="task : ${task}">
						<td>[[ ${task.taskNo}]]</td>
						<td>[[ ${task.taskName}]]</td>
						<td>[[ ${task.prjtStat}]]</td>
						<td>[[ ${task.deptName}]]</td>
						<td>[[ ${task.prjtStat}]]</td>
						<td>[[ ${task.empName}]]</td>
						<td>[[ ${#dates.format(task.taskStartDt, "yyyy-MM-dd")}]]</td>
						<td>[[ ${#dates.format(task.taskDueDt, "yyyy-MM-dd")}]]</td>
						<td>[[ ${task.empName}]]</td>
						<td>[[ ${task.purpose}]]</td>
					</tr>
				</tbody>
			</table>
			<div>
				<button type="button" class="btn btn-primary">수정</button>
				<button type="button" class="btn btn-primary">삭제</button>
			</div>
		</div>
	</th:block>
	</body>
</html>