<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>
	<th:block layout:fragment="Content">
	<div class="container">
		<br><br>
		<h3 style=" text-align: center">프로젝트 업무조회</h3>
		<br><br>
			<div style=" text-align: start">
				<p>시작일-마감일	<input type="date">-<input type="date"></p>
				<select>
					<option value="">업무번호</option>
					<option value="">프로젝트명</option>
					<option value="">업무명</option>
				</select> 
				<input type="text" style=" text-align: center">
					<button type="button">검색</button>
				<br>
			</div>	
			<div style=" text-align: end">
				<select>
					<option value="">업무번호</option>
					<option value="">업무명</option>
					<option value="">시작일</option>
					<option value="">마감일</option>
					<option value="">참여인원</option>
					<option value="">진행도</option>
			</select>
			</div>	
			<table class="table">
				<thead>
					<tr>
						<th>업무번호</th>
						<th>프로젝트명</th>
						<th>업무명</th>
						<th>시작일</th>
						<th>마감일</th>
						<th>참여인원</th>
						<th>진행도</th>
						<th>진행상황</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="task : ${task}">
						<td>[[ ${task.taskNo}]]</td>
						<td>[[ ${task.prjtName}]]</td>
						<td>[[ ${task.taskName}]]</td>
						<td>[[ ${#dates.format(task.taskStartDt, "yyyy-MM-dd")}]]</td>
						<td>[[ ${#dates.format(task.taskDueDt, "yyyy-MM-dd")}]]</td>
						<td>참여인원</td>
						<td>진행도</td>
						<td>[[ ${task.taskStat}]]</td>
					</tr>
				</tbody>
			</table>
		</div>
</th:block>
</body>
</html>