<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>
	<th:block layout:fragment="Content">
		<div class="d-flex justify-content-center">
			<div class="card my-4 col-10">
				<h5 class="card-header">업무 상세조회</h5>

				<div class="card-body">
					<input type="hidden" th:value="${task.taskNo}" name="taskNo" />
					<div class="table-responsive">
						<table class="table table-hover table-bordered">
							<tr>
								<th>프로젝트ID</th>
								<td id="pid">[[ ${task.prjtId}]]</td>
								<th>프로젝트명</th>
								<td>[[ ${task.prjtName}]]</td>
								<th>업무명</th>
								<td>[[ ${task.taskName}]]</td>
								<th>진행도</th>
								<td>[[ ${task.progress}]] %</td>
								<th>진행상황</th>
								<td>[[ ${task.prjtMat}]]</td>
							</tr>
						</table>
						<br>
						<table class="table table-hover table-bordered">
							<tr>
								<th>시작일</th>
								<td>[[ ${#dates.format(task.taskStartDt, "yyyy-MM-dd")}]]</td>
								<th>마감일</th>
								<td>[[ ${#dates.format(task.taskDueDt, "yyyy-MM-dd")}]]</td>
							</tr>
						</table>
						<br>
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th>업무목적</th>
									<td>[[ ${task.taskPurpose}]]</td>
									<th>업무내용</th>
									<td>[[ ${task.taskCntn}]]</td>
								</tr>
							</tbody>
						</table>
						<br>
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th>부서명</th>
									<th>부서내 참여인원</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="te : ${task.taskEmps}">
									<tr>
										<td>[[ ${te.deptName}]]</td>
										<td>[[ ${te.empName}]]&ensp; 
										<input type="checkbox"
											class="btn btn-primary mt-2 task-emp-ok"
											th:checked="${te.cmplt  == '5F1f'}" name="chk" /> <input
											type="hidden" th:value="${te.taskEmpId}" class="task-emp-id" />
										</td>
									</tr>
								</th:block>
							</tbody>
						</table>
						<br>
						<div style="text-align: center">
							<button type="button" class="btn btn-primary mt-2" id="taskok">개별업무완료</button>
							<button type="button"
							 th:onclick="|location.href='/cust/tsModify/${task.taskNo}'|"
							   class="btn btn-success mt-2">수정</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
		
			const token = document.querySelector('meta[name="_csrf"]')
					.getAttribute('content');
			const header = document.querySelector('meta[name="_csrf_header"]')
					.getAttribute('content');
			
			$(function(){
				
				$('#taskok').on('click', taskOK);
				
			});
			
			function taskOK() {
				
                if ($("input[name=chk]:checked").length == 0) {
                    Swal.fire({
                        title:  '반영실패',        
                        text:  '한명이상을 선택해주세요.',  
                        icon:  'error' 
                    });
                    return;
                }
				
				
				let chkEmps = $(".task-emp-ok:checked").not(':disabled').next();
				let taskNo = $('input[name="taskNo"]').val();
				
				
				let taskEmps = []
				for(let i = 0; i < chkEmps.length; i++){
					let obj = {taskNo: taskNo, taskEmpId: chkEmps[i].value};
					taskEmps.push(obj);
				}
				
				let param = {taskEmps};
				
				param["prjtId"] = $("#pid").text();
				
				$.ajax({
					type: 'PUT',
					url : '/cust/taskOk/' + taskNo,
					contentType : 'application/json',
					data :  JSON.stringify(param),
					beforeSend: function(xhr) {
				        xhr.setRequestHeader(header, token); // 헤더에 CSRF 토큰 추가
				    },
					success : function(result){
						Swal.fire({
							title:  '반영완료!',        
							text:  '업무 진행도 반영되었습니다.',  
							icon:  'success' 
						}).
						then(function(){
							location.reload(true);                  
						})
					},
					error : function(err){
						Swal.fire({
							title:  '반영실패',        
							text:  '업무 진행도 반영실패했습니다.',  
							icon:  'error' 
						}).
						then(function(){
							location.reload(true);                  
						})
					}
				});
			}
			
		</script>

	</th:block>
</body>
</html>