<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>
	<th:block layout:fragment="Content">
		<div class="d-flex justify-content-center">
			<div class="card my-4 col-10">
				<h5 class="card-header">프로젝트 업무조회</h5>
				<div class="card-body ">
					
					<!-- 검색 -->
					<p class="navbar-brand">검색조건</p>
					<nav class="navbar navbar-expand-lg navbar-light">
						<div class="container-fluid">
							<button class="navbar-toggler" type="button"
								data-bs-toggle="collapse"
								data-bs-target="#navbarSupportedContent"
								aria-controls="navbarSupportedContent" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<table>
									<tr>
										<td><select class="form-select searchKeySelect">
												<option value="t.task_name">업무명</option>
												<option value="p.prjt_name">프로젝트명</option>
												<option value="t.task_no">업무번호</option>
										</select></td>
										<td colspan='3'><input class="form-control searchKey" type="text"></td>
										<td class="text-white">_</td>
										
										<td class="text-white">_</td>
										<td class="form-control">진행상태</td>
										<td><select class="form-select prjtMat">
												<option value="statAll">전체</option>
												<option value="5B1b">업무진행중</option>
												<option value="5B2b">업무완료</option>
												<option value="5B3b">업무취소</option>
										</select></td>
									</tr>
									<tr>
									<td class="form-control" >기간</td>
										<td><input class="form-select fromDt" type="date"></td>
										<td>~</td>
										<td><input class="form-select toDt" type="date"></td>
										<td class="text-white">_</td>
										<td class="text-white">_</td>
										<td class="form-control">정렬조건</td>
										<td><select class="form-select searchSelect">
												<option value="t.task_no">업무번호순</option>
												<option value="t.task_no DESC">업무번호역순</option>
												<option value="t.task_start_dt">업무시작일순</option>
												<option value="t.task_start_dt DESC">업무시작일순</option>
												<option value="t.task_due_dt">업무마감일</option>
												<option value="t.task_due_dt DESC">업무마감일역순</option>
												<option value="participants_cnt">참여인원적은순</option>
												<option value="participants_cnt DESC">참여인원많은순</option>
												<option value="progress">진행도순</option>
										</select></td>
									</tr>
								</table>
								<span class="position-absolute top-50 end-0 translate-middle-y">
									<button class="btn btn-outline-success searchbtn bg-light"
										type="submit">검색</button>
								</span>
							</div>
						</div>
					</nav>
					<div id="taskTable">
						<!-- 업무 목록 출력 -->
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>업무번호</th>
										<th>프로젝트명</th>
										<th>업무명</th>
										<th>시작일</th>
										<th>마감일</th>
										<th>참여인원</th>
										<th>진행도</th>
										<th>진행상황</th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="task : ${list}">
										<tr
											th:onclick="|location.href='/tsInfo/${task.taskNo}'|">
											<td>[[ ${task.taskNo} ]]</td>
											<td>[[ ${task.prjtName} ]]</td>
											<td>[[ ${task.taskName} ]]</td>
											<td>[[ ${#dates.format(task.taskStartDt, "yyyy-MM-dd")}]]</td>
											<td>[[ ${#dates.format(task.taskDueDt, "yyyy-MM-dd")} ]]</td>
											<td>[[ ${task.participantsCnt} ]] 명</td>
											<td>[[ ${task.progress} ]] %</td>
											<td
												th:class="${task.prjtMat == '5B2b' ? 'table-secondary' : ''}">
												[[ ${task.prjtMat} ]]</td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
						<!-- 페이징 -->
						<div class="paging mt-2">
							<th:block th:if="${TaskDTO.totalCnt} != 0">
								<nav aria-label="Page navigation">
									<ul class="pagination justify-content-center">

										<th:block th:if="${TaskDTO.prev}">
											<li class="page-item prev"><a href="#"
												th:id="${TaskDTO.startPage - 1 }" class="page-link pagebtn"><i
													class="bx bx-chevron-left"></i></a></li>
										</th:block>
										<th:block
											th:each="num : ${#numbers.sequence(1, TaskDTO.endPage)}">
											<li class="page-item "
												th:attrappend="class=${num ==  TaskDTO.page ? 'active' : ' '}">
												<a href="#" th:id="${num}" class="page-link pagebtn">[[${num}]]</a>
											</li>
										</th:block>
										<th:block th:if="${TaskDTO.next}">
											<li class="page-item next"><a href="#"
												th:id="${TaskDTO.endPage + 1 }" class="page-link pagebtn"><i
													class="bx bx-chevron-right"></i></a></li>
										</th:block>
									</ul>
								</nav>
							</th:block>
							<th:block th:unless="${TaskDTO.totalCnt} != 0">
								<p class="text-center mt-4">현재 등록된 업무가 없습니다.</p>
							</th:block>
						</div>
						<!-- /페이징 -->
					</div>
				</div>
			</div>
		</div>

		<script>
			//CSRF
			let header = $("meta[name='_csrf_header']").attr('content');
			let token = $("meta[name='_csrf']").attr('content');

			//기간 검색 범위처리
			$('.fromDt').on('change', function(e) {
				$('.toDt').attr('min', this.value);
			});
			$('.toDt').on('change', function(e) {
				$('.fromDt').attr('max', this.value);
			});
			
			// 검색 조건 변수 
			let keyword;
			let searchCondition;
			let taskType;
			let prjtMat;
			let taskDt;
			let taskStart;
			let taskDue;
			let taskSort;
			
			//검색버튼 이벤트 처리
			$(".searchbtn").on("click", function(e) {
				//e.preventDefault(); 
				updateParams();
				let page = 1;
				showTable(page);
			});

			//페이징 링크 처리
			$(document).on("click", ".pagebtn", function(e) {
				e.preventDefault();
				let page = e.target.id;
				//updateParams();
				showTable(page);
			});
			
			// 검색 조건 갱신 함수
			 function updateParams() {
				//키워드 검색 처리
		        keyword = $('.searchKey').val();
		        searchCondition = $('.searchKeySelect').val();
		        
		    	// 기간 검색 처리
		        taskDt = $('.taskDt').val();
		        taskStart = $('.fromDt').val();
		        taskDue = $('.toDt').val();
		
				// 프로젝트 상황 검색 처리
				if ($('.prjtMat').val() != 'statAll') {
					prjtMat = $('.prjtMat').val();
		        } else {
		        	prjtMat = null;
		        }
				
				// 타입 검색처리
				if ($('.taskType').val() != 'typeAll') {
					taskType = $('.taskType').val();
		        } else {
		        	taskType = null;
		        }
				
				// 정렬 처리
				taskSort = $('.searchSelect').val();
			 
			 }
			 
			// 검색 AJAX 함수
			    function showTable(page) {
				$.ajax({
						url : '/viewTsList',
						type : 'POST',
						beforeSend : function(xhr) {
							xhr.setRequestHeader(header, token);
						},
						data : {
							page : page,
							taskSort : taskSort,
							taskStart : taskStart,
							taskDue : taskDue,
							taskDt : taskDt,
							prjtMat : prjtMat,
							taskType : taskType,
							keyword: keyword,
			                searchCondition: searchCondition
						},
						dataType : 'Text',
						success : function(result) {
								$('#taskTable').replaceWith(result);
					}
				});
			}
		</script>
	</th:block>
</body>
</html>