<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>
	<th:block layout:fragment="Content">
		<div class="d-flex justify-content-center">
			<div class="card my-4 col-10">
				<h5 class="card-header">업무 수정</h5>

				<div class="card-body">
					<input type="hidden" th:value="${task.taskNo}" name="taskNo" />
					<div class="table-responsive">
						<table class="table table-hover table-bordered">
							<tr>
								<th>업무명</th>
								<td><input type="text" class="form-control"
									th:value="${task.taskName}" name="taskName" /></td>
								<th>진행도</th>
								<td>[[ ${task.progress}]] %</td>
								<th>진행상황</th>
								<td class="fw-bold">진행상황</td>
									<td><select class="form-select" name="prjtMat" id="prjtMat">
										    <option value="5B1b">업무진행중</option>
										    <option value="5B2b">업무완료</option>
										    <option value="5B3b">업무취소</option>
									  	</select>
							</tr>
						</table>
						<br>
						<table class="table table-hover table-bordered">
							<tr>
								<th>시작일</th>
								<td><input type="date" class="form-control"
									th:value="${#dates.format(task.taskStartDt, 'yyyy-MM-dd')}"
									name="taskStartDt" /></td>
								<th>마감일</th>
								<td><input type="date" class="form-control"
									th:value="${#dates.format(task.taskDueDt, 'yyyy-MM-dd')}"
									name="taskDueDt" /></td>
							</tr>
						</table>
						<br>
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th>업무목적</th>
									<td><input type="text" class="form-control"
										th:value="${task.taskPurpose}" name="taskPurpose" /></td>
									<th>업무내용</th>
									<td><input type="text" class="form-control"
										th:value="${task.taskCntn}" name="taskCntn" /></td>
								</tr>
							</tbody>
						</table>
						<br>
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th>부서명</th>
									<td> </td>
								</tr>
								<tr>
									<th>부서참여인원</th>
									<td>
										
									</td>
								</tr>
							</thead>
						</table>
						<br>
						<div style="text-align: center">
							<button type="button" class="btn btn-primary mt-2" id="modiBtn">수정</button>
							<button type="button" class="btn btn-primary mt-2" onclick="goToInfo()">취소</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>

	<script th:inline="javascript">
		const token = document.querySelector('meta[name="_csrf"]')
			.getAttribute('content');
		const header = document.querySelector('meta[name="_csrf_header"]')
			.getAttribute('content');
   
		 $('#modiBtn').click(function() {
	            let formData = {
	                taskNo: $('input[name="taskNo"]').val(),
	                taskName: $('input[name="taskName"]').val(),
	                progress: $('input[name="progress"]').val(),
	                prjtMat: $('input[name="prjtMat"]').val(),
	                taskStartDt: $('input[name="taskStartDt"]').val(),
	                taskDueDt: $('input[name="taskDueDt"]').val(),
	                taskPurpose: $('input[name="taskPurpose"]').val(),
	                taskCntn: $('input[name="taskCntn"]').val(),
	                deptId: $('select[name="deptId"]').val()
	                
	            };
	
	            $.ajax({
	                url: 'cust/task',
	                type: 'POST',
	                data: formData,
	                success: function(response) {
	                    alert('업무가 성공적으로 수정되었습니다.');
	                    window.location.href = '/cust/taskInfo/' + response.taskNo;
	                },
	                error: function(xhr, status, error) {
	                    alert('업무 수정에 실패했습니다.');
	                    console.error(error);
	                }
	            });
	        });
	
	     // 프로젝트 상세로 
			function goToInfo() {
				let task = { taskNo: $('#taskNo').val() }
				location.href='/cust/taskInfo/' + task.taskNo;  ;
			};
	
	</script>

	</th:block>
</body>
</html>