<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>
	<th:block layout:fragment="Content">
		<div class="container">
			<form name="insertForm" th:action="@{/prjt/insert}" method="post"
				th:object="${projects}" id="prjtForm">   
				<!-- <select class="form-select" th:field="*{prjtId}">
                        <option value="프로젝트등록" th:location="@{/project/prjt/insert}">프로젝트 등록</option>
                        <option value="프로젝트업무등록" th:onclick="|location.href='@{/project/regu/insert}'|" >프로젝트 업무등록</option>
                        <option value="상시업무등록" th:onclick="|location.href='@{/reguInsert}'|"> 상시업무 등록</option>
                    </select> -->
				 <br><br><br>    
                    <div style=" text-align: center;">
                    	<button type="button" th:onclick="|location.href='@{/prjtInsert}'|" class="btn btn-primary">프로젝트 등록</button>
                    	<button type="button" th:onclick="|location.href='@{/taskInsert}'|" class="btn btn-primary">프로젝트 업무등록</button>
                    	<button type="button" th:onclick="|location.href='@{/reguInsert}'|" class="btn btn-primary">상시업무 등록</button>
                    </div>                      
				<table id="form" class="table">
					<h3>프로젝트 등록</h3>
					<tr>
						<th>프로젝트ID</th>
						<td><input type="text" th:field="*{prjtId}" readonly></td>
					</tr>
					<tr>
						<th>프로젝트명</th>
						<td><input type="text" th:field="*{prjtName}"></td>
					</tr>
					<tr>
						<th>부서명</th>
						<td><input type="text" th:field="*{deptName}"></td>
					</tr>
					<tr>
						<th>시작일</th>
						<td><input type="date" th:field="*{prjtStartDt}"></td>
					</tr>
					<tr>
						<th>마감일</th>
						<td><input type="date" th:field="*{prjtDueDT}"></td>
					</tr>
					<tr>
						<th>총괄책임자</th>
						<td><input type="text" th:field="*{respMngrId}" placeholder="목록에서 선택해주세요">
						<button type="button" class="btn btn-primary" id="respMngrId" data-bs-toggle="modal" data-bs-target="#respModal">등록</button>
						</td>
					</tr>
					<tr>
						<th>개요</th>
						<td><input type="text" th:field="*{smry}"></td>
					</tr>
					<tr>
						<th>목적</th>
						<td><textarea cols="50" th:field="*{purpose}"></textarea></td>
					</tr>
				</table>
				<div style=" text-align: center;">
					<button type="button" class="btn btn-primary" id="prjtInsertBtn" >저장</button>
					<button type="button" class="btn btn-secondary" >취소</button>
				</div>
			</form>
	
</div>

		<!------------------------------------------------ 모달 -------------------------------------------------->
		<!-- 총괄책임자 등록 모달창 -->
				<div  class="modal fade" id="respModal" tabindex="-1" aria-labelledby="respModalLabel" aria-hidden="true">
			<div class="modal-dialog" style=" text-align: center;">
				<div class=" modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="respModalLabel">책임자 선택</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<table>
						<thead>
							<tr>
								<th>부서명</th>
								<th>직급명</th>
								<th>성명</th>
								<th>선택</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>-</td>
								<td>-</td>
								<td>-</td>
								<td>
									<div class="form-check">
									  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
									  <label class="form-check-label" for="flexRadioDefault2"> 
									  </label></div>
								
								</td>
							<tr>	
						</tbody>
					</table>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="InsertBtn">등록</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
					</div>
				</div>
			</div>
			</div> 
			
		<!-- 		<div class="form-check">
	  			<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
	  			<label class="form-check-label" for="flexRadioDefault1">
	   				 Default radio
	  			</label>
				</div>
					<div class="form-check">
					  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
					  <label class="form-check-label" for="flexRadioDefault2">
					    Default checked radio
					  </label>
				</div> -->

		
		<!------------------------------------------------ 모달 끝-------------------------------------------------->
		<script>
			// 등록
			$(function(){
				$('#prjtInsertBtn').on('click', function(){
					let formData = $('prjtForm').serialize();
					console.log(formData);
					
					$.ajax({
						type: 'POST',
						url : '/prjtInsert',
						data : formData,
						success : function(data){
							alert('프로젝트 등록에 성공했습니다.');
							location.reload();
						},
						error : function(err){
							alert('프로젝트 등록에 실패했습니다.');
						}
					});
				});
			});
			
			// 총괄책임자 선택 
			$(function(){
				$
				
			});


			
	/* 		document.querySelector('form[name="insertForm"]').addEventListener(
					'submit', prjtInsert);

			function prjtInsert(event) {
				event.preventDefault();

				let name = document.getElementById('prjtName');
				if (name.value == '') {
					alert('프로젝트명이 입력되지않았습니다.');
					name.focus();
					return;
				}
				alert('프로젝트등록이 완료되었습니다.');
				insertForm.submit();
			}  */
		</script>
</html>








