<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>
	<th:block layout:fragment="Content">
<style>
.form-item input:focus{
    border-color:#0982f0;
    outline: none;
}
</style>	
		<div class="d-flex justify-content-center">
			<div class="card my-4 col-10">
				<h3 class="card-header">프로젝트 등록</h3>

				<div class="card-body form-item">
					<form name="insertForm" th:action="@{/cust/prjtInsert}"
						method="post" th:object="${projects}" id="prjtForm">
						<br>
						<br>
						<div style="text-align: center;">
							<button type="button"
								th:onclick="|location.href='@{/cust/prjtInsert}'|"
								class="btn btn-primary">프로젝트 등록</button>
							<button type="button"
								th:onclick="|location.href='@{/cust/taskInsert}'|"
								class="btn btn-primary">프로젝트 업무등록</button>
						</div>
						<br>
						<br>
						<br>
						<input type="hidden" th:field="*{prjtId}" style="width: 100px  height: 100px" readonly>
						<table id="form" class="table table-bordered border-2 col-12">
							<tr>
								<th style="font-size:15px">프로젝트명</th>
								<td><input type="text" th:field="*{prjtName}" style="width: 200px"></td>
							</tr>
							<tr>
								<th style="font-size:15px">시작일</th>
								<td><input type="date" th:field="*{prjtStartDt}" style="width: 200px"></td>
							</tr>
							<tr>
								<th style="font-size:15px">마감일</th>
								<td><input type="date" th:field="*{prjtDueDt}" style="width: 200px"></td>
							</tr>
							<tr>
								<th style="font-size:15px">책임자</th>
								<td><input type="hidden" th:field="*{respMngrId}" style="width: 230px">
									<input type="text" id="respMngrName" placeholder="버튼을 눌러 선택하세요">&ensp;
									<button type="button" class="btn btn-primary" id="respMngrId"
										data-bs-toggle="modal" data-bs-target="#respModal">선택</button></td>
							</tr>
							<tr>
								<th style="font-size:15px">개요</th>
								<td><input type="text" th:field="*{smry}"style="width: 200px"></td>
							</tr>
							<tr>
								<th style="font-size:15px">목적</th>
								<td><textarea cols="50" th:field="*{purpose}"></textarea></td>
							</tr>
						</table>
						<br>
						<br>
						<div style="text-align: center;">
							<button type="button" class="btn btn-primary" id="prjtInsertBtn"
								onclick="prjtInsertBtn">저장</button>
							<button type="button" class="btn btn-secondary">취소</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!------------------------------------------------ 모달 -------------------------------------------------->
		<!-- 총괄책임자 등록 모달창 -->
		<div class="modal fade" id="respModal" tabindex="-1"
			aria-labelledby="respModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="text-align: center;">
				<div class=" modal-content">
					<div class="modal-header" style="text-align: center">
						<h5 class="modal-title" id="respModalLabel">책임자 선택</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>

					<table class="table table-light table-sm">
						<thead>
							<tr>
								<th>부서명</th>
								<th>직급명</th>
								<th>성명</th>
								<th>선택</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="mngr : ${mngr}">
								<tr>
									<td>[[ ${mngr.deptName} ]]</td>
									<td>[[ ${mngr.jobTitle} ]]</td>
									<td>[[ ${mngr.empName} ]]</td>
									<td>[[ ${mngr.empId} ]]</td>
									<td><input class="form-radio-input" type="radio"
										name="mngrCheck" th:value="${mngr.empId}"></td>
								</tr>
							</th:block>
						</tbody>
					</table>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="respInBtn"
							data-bs-dismiss="modal">등록</button>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">취소</button>
					</div>
				</div>
			</div>
		</div>
		<!------------------------------------------------ 모달 끝-------------------------------------------------->

		<script>
			$(function() {
				// 책임자이름 선택 등록  
				$('#respInBtn').on(
						'click',
						function() {
							let chkMngr = $("input[name=mngrCheck]:checked");

							if (chkMngr.val().length > 0) {

								let mngrName = $(chkMngr).closest('tr').find(
										'td:eq(2)').text();
								let mngrId = $(chkMngr).closest('tr').find(
										'td:eq(3)').text();

								$('#respMngrName').val(mngrName);
								$('#respMngrId').val(mngrId);
							}
						}); //

				
				// 등록
				$('#prjtInsertBtn').on('click', function() {
					let formData = $('#prjtForm').serialize();
					console.log(formData);
					$.ajax({
						type : 'POST',
						url : '/cust/prjtInsert',
						data : formData,
						success : function(data) {
							console.log(data)
							Swal.fire({
								title : '등록완료!',
								text : '프로젝트 업무 등록이 성공했습니다.',
								icon : 'success'
							}).then(function() {
								 let prjtId = data.prjtId;
								 console.log(prjtId)
									 location.href='/cust/pj/Info?prjtId=' + prjtId;
							})
						},
						error : function(err) {
							Swal.fire({
								title : '등록실패',
								text : '프로젝트 업무 등록 실패했습니다.',
								icon : 'error'
							}).then(function() {
								location.reload(true);
							});

						}
					});
				});

			});
		</script>
	</th:block>
</body>
</html>
