<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>
	<th:block layout:fragment="Content">
		<div class="container">
		<br><br>
		<h3 style=" text-align: center">프로젝트 업무 조회</h3>
		<br><br>
			<div style=" text-align: start">
				<input type="date"> <input type="date">
				<select>
				<option value="">업무번호</option>
				<option value="">프로젝트명</option>
				<option value="">업무명</option>
			</select> 
				<input type="text" style=" text-align: center">
				<button type="button">검색</button>
				<br>
			</div>	
			<div style=" text-align: end">
				<select>
				<option value="">업무번호순</option>
				<option value="">업무명순</option>
				<option value="">시작일순</option>
				<option value="">마감일순</option>
				<option value="">참여인원순</option>
				<option value="">진행도순</option>
			</select>
			</div>	
			
			<table class="table" >
				<thead>
					<tr>
						<th>업무번호</th>
						<th>프로젝트명</th>
						<th>업무명</th>
						<th>시작일</th>
						<th>마감일</th>
						<th>참여인원</th>
						<th>진행도</th>
						<th>진행상황</th>
					</tr>
				</thead>
				<tbody>
				<th:block th:each="prjtInfo, info : ${projects}">
					<tr th:id="${info.count}"
					th:onclick="|location.href='@{/prjtInfo(taskNo=${prjtInfo.taskNo})}'|">
						<td>[[ ${prjtInfo.taskNo}]]</td>
						<td>[[ ${prjtInfo.prjtName}]]</td>
						<td>[[ ${prjtInfo.taskName}]]</td>
						<td>[[ ${#dates.format(prjtInfo.prjtStartDt, "yyyy/MM/dd")}]]</td>
						<td>[[ ${#dates.format(prjtInfo.prjtDueDt, "yyyy/MM/dd")}]]</td>
						<td>-</td>
						<td>-</td>
						<td>[[ ${prjtInfo.prjtStat}]]</td>
					</tr>
					</th:block>
				</tbody>
			</table>
			
		</div>
		</th:block>
	</body>
</html>