<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>
	<th:block layout:fragment="Content">

		<div class="container">
			<br>
			<h4>프로젝트 조회</h4>
		 	<input type="date"> <input type="date">
			<br>
			<select>
				<option value="">업무번호</option>
				<option value="">프로젝트명</option>
				<option value="">업무명</option>
			</select> 
				<input type="text">
				<button type="button">검색</button>
				<br>
			<select>
				<option value="">업무번호순</option>
				<option value="">업무명순</option>
				<option value="">시작일순</option>
				<option value="">마감일순</option>
				<option value="">참여인원순</option>
				<option value="">진행도순</option>
			</select>
			
			<table class="table">
				<thead>
					<tr>
						<th>업무번호</th>
						<th>프로젝트명</th>
						<th>업무명</th>
						<th>시작일</th>
						<th>마감일</th>
						<th>참여인원</th>
						<th>진행도</th>
						<th>진행상황</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="info : ${projects}">
						<td>[[ ${info.taskNo}]]</td>
						<td>[[ ${info.prjtName}]]</td>
						<td>[[ ${info.taskName}]]</td>
						<td>[[ ${#dates.format(info.prjtStartDt, "yyyy/MM/dd")}]]</td>
						<td>[[ ${#dates.format(info.prjtDueDT, "yyyy/MM/dd")}]]</td>
					</tr>
				</tbody>
			</table>
		</div>
</html>