<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>
	<th:block layout:fragment="Content">
		<div class="container container-p-y mt-3">
			<h2>프로젝트 상세조회</h2>
			<div class="bg-light p-3 m-5">
				<div class="table-responsive">
					<input type="hidden" th:value="${prjt.prjtId}" id="prjtId" readonly />
					<div class="table-responsive">
						<table class="table table-hover table-bordered">
							<tr>
								<th>프로젝트ID</th>
								<td id="pid">[[ ${prjt.prjtId}]]</td>
								<th>프로젝트명</th>
								<td>[[ ${prjt.prjtName}]]</td>
								<th>책임자</th>
								<td>[[ ${prjt.empName}]]</td>
								<th>진행상황</th>
								<td>[[ ${prjt.codeName}]]</td>
							</tr>
						</table>
						<br>
						<table class="table table-hover table-bordered">
							<tr>
								<th>시작일</th>
								<td>[[ ${#dates.format(prjt.prjtStartDt, "yyyy-MM-dd")}]]</td>
								<th>마감일</th>
								<td>[[ ${#dates.format(prjt.prjtDueDt, "yyyy-MM-dd")}]]</td>
							</tr>
						</table>
						<br>
						<table class="table table-hover table-bordered">
							<thead>
								<tr>
									<th>목적</th>
									<td>[[ ${prjt.purpose}]]</td>
									<th>개요</th>
									<td>[[ ${prjt.smry}]]</td>
								</tr>
							</tbody>
						</table>
						<br>
						<div style="text-align: end">
							<button type="button" class="btn btn-light  mt-2"
								onclick="goToList()">프로젝트목록</button>
						</div>
					</div>
				</div>
			</div>
			<div class="bg-light p-3 m-5">
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>업무번호</th>
								<th>업무상황</th>
								<th>업무명</th>
								<th>업무시작일</th>
								<th>업무마감일</th>
								<th>참여인원</th>
								<th>진행도</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="task : ${list}"> 
								<tr th:onclick="|location.href='@{/cust/tsInfo/{tno}(tno=${task.taskNo})}'|">
									<td>[[ ${task.taskNo} ]]</td>
									<td>[[ ${task.prjtMat} ]]</td>
									<td>[[ ${task.taskName} ]]</td>
									<td>[[ ${#dates.format(task.taskStartDt, "yyyy-MM-dd")}]]</td>
									<td>[[ ${#dates.format(task.taskDueDt, "yyyy-MM-dd")} ]]</td>
									<td>[[ ${task.participantsCnt} ]] 명</td>
									<td>[[ ${task.progress} ]] %</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<script>
		
			const token = document.querySelector('meta[name="_csrf"]')
					.getAttribute('content');
			const header = document.querySelector('meta[name="_csrf_header"]')
					.getAttribute('content');

			// 프로젝트 목록으로
			function goToList() {
				window.location.href = '/cust/prjtAllList';
			}

		</script>
	</th:block>
</body>
</html>