<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>
	<th:block layout:fragment="Content">
		<div class="container">
			<form name="updateForm" th:action="@{/prjtUpdate}" method="post"
				th:object="${prjtInfo}" id="prjtUpdatgeForm">
				<br><br><br>
				<table id="form" class="table">
					<h3>프로젝트 수정</h3>
					
						<tr>
							<th>프로젝트ID</th>
							<td><input type="text" readonly></td>
						</tr>
						
				</table>
				<div>
					<button type="button" id="prjtUpdateBtn" class="btn btn-success">등록</button>
					<button type="button" class="btn btn-secondary">취소</button>
				</div>
			</form>
		</div>
	</th:block>
</body>
</html>