<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-securityh">
	  
<th:block layout:fragment="Content">
<th:block sec:authorize="hasAuthority('1C1c')">

<style>
.cust-table th{
	text-align:center;
	background-color:#F9F7F7;
	font-weight:bold;
}
</style>

<div class="d-flex justify-content-center">
<div class="card my-4 col-10">
	<h5 class="card-header">고객관리 - 상세</h5>
	<div class="card-body">	
		<div class="table-responsive">
			<table class="table table-bordered cust-table">
				<tr style="background-color:#3F72AF;">
					<td class="col-1 text-white text-center" >고객번호 <span id="cno">[[ ${cust.custNo} ]]</span></td>
					<td colspan="5" class="text-start align-middle text-white">
						고객사 상세정보
					</td>
				</tr>
				<tr>
					<th class="col-2">사업자번호</th><td class="col-3">[[ ${cust.brn} ]]</td>
					<th class="col-1">상호명</th><td class="col-2">[[ ${cust.custName} ]]</td>
					<th class="col-1">대표자</th><td class="col-3">[[ ${cust.rep} ]]</td>
				</tr>
				<tr>
				</tr>
				<tr>
					<th>주소</th><td colspan="3">[[ ${cust.custAddr} ]]</td>
					<th>전화번호</th><td>[[ ${cust.custTel} ]]</td>
				</tr>
				<tr>
				</tr>
				<tr>
					<th>계약상태</th>
					<td>[[ ${cust.lastCtStatName} ]]
						<span ><a href="/sol/ctInsert" th:if="${cust.lastCtStat != '0A1a'}" class="text-danger">
						&emsp;신규계약 등록하기
						</a></span>
					</td>
					<th>계약번호</th>
					<td th:if="${cust.lastCtNo != null}">[[ ${cust.lastCtNo} ]]</td>
					<td th:unless="${cust.lastCtNo != null}">-</td>
					<th>결제담당</th><td>[[ ${cust.payPic} ]] &emsp;&emsp;(TEL : <span>[[ ${cust.payPicTel} ]]</span>)</td>
				</tr>
				<tr>
				</tr>
			</table>
			<div class="d-flex justify-content-between mt-3">
				<button type="button" th:onclick="|location.href='@{list}'|" class="btn btn-primary">목록으로</button>
				<button th:if="${#arrays.length(list)} != 0" type="button" class="btn btn-secondary py-1 doc-toggle-btn">등록계정 ▼</button>
				<div th:unless="${#arrays.length(list)} != 0">
				<div class="text-end">
						<button th:if="${cust.lastCtStat == '0A1a'}" type="button" id="firstEmp"
								class="btn btn-danger">최초계정생성</button>	
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 계정목록 -->
	<div th:if="${#arrays.length(list)} != 0" class="card-body pt-0 collapse doc-toggle-area">
		<div class="d-flex justify-content-between condition">
			<div class="col-3 d-flex mt-3 justify-content-start">
			<span><b>등록가능 사원 수 : [[${cust.maxEmps}]]</b></span>&emsp;&emsp;
			<span><b>현재 사원 수 : [[${cust.curEmps}]]</b></span>
			</div>
			<div class="col-3 d-flex justify-content-between">
			<select class="form-select keywordCondition">
				<option value="all">권 한</option>
				<option value="1C2c">관리자</option>
				<option value="1C3c">부서장</option>
				<option value="1C4c">사원</option>
			</select>
			<select class="form-select searchCondition">
				<option value="all">계정상태</option>
				<option value="1D1d">재직</option>
				<option value="1D2d">퇴직</option>
				<option value="1D3d">최초</option>
			</select>
		</div>
		</div>
		<!-- Emps Fragment -->
		<th:block th:replace="solution/cust/modal :: Emps"></th:block>
	</div>
	
	
	
</div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
	
	const token = document.querySelector('meta[name="_csrf"]').getAttribute('content');
    const header = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
	let cno = document.getElementById('cno').innerText;
    
    // 최초계정생성 버튼클릭이벤트.
	if(document.getElementById('firstEmp') != null) {
	    document.getElementById('firstEmp').addEventListener('click', firstEmp);	
	}
    
	// 최초계정 생성 ajax.
   	function firstEmp(){
		let url = 'firstEmp';
		let obj = {custNo : cno}
		
		fetch(url, {
			method : 'post',
			body : JSON.stringify(obj),
			headers : {
				'Content-type' : 'application/json',
				[header]: token // [헤더네임]:토큰번호로 CSRF 토큰을 헤더에 포함
			}
		})
		.then(res => res.json())
		.then(ret => {
			
			Swal.fire({
				icon: 'success',
			    title: ret.result,
			    text: '최초 비밀번호 1111',
			})
			.then((ret) => {
				if(ret.value){
					location.reload();
				}
			})
			
		})
		.catch(err => console.error(err))		
   	}
	
	// 계정공간 토글
	if($('.doc-toggle-btn') != null) {
		$('.doc-toggle-btn').click(function() {
			$('.doc-toggle-area').slideToggle();
		});
	}
	
	// 
	if($('.condition') != null) {
		//
		pagination();
		
		// 셀렉트변경.
		$('.condition').on('change', 'select', function(e) {
			let keywordCondition = $('.keywordCondition').val();
			let searchCondition = $('.searchCondition').val();
			let page = 1;
			let param = {keywordCondition, searchCondition, page};
			showTable(param);
		})

	}

	
// 페이징
function pagination() {
	$('.page-item a').on('click',function(event){
		event.preventDefault();
		let keywordCondition = $('.keywordCondition').val();
		let searchCondition = $('.searchCondition').val();
        let page = $(this).attr('href');
        let param = {keywordCondition, searchCondition, page};
		showTable(param);
	}); 
}

//검색 AJAX 함수
function showTable(param) {
    $.ajax({
        url: 'emps?custNo=' + cno,
        type: 'POST',
        beforeSend: function(xhr) {
            xhr.setRequestHeader(header, token);
        },
        data: param,
        dataType: 'text',
        success: function(result) {
            $('#EmpListArea').replaceWith(result);
            pagination();
        }
    });
}
	
})//end

</script>
</th:block>
</th:block>
</html>