<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}">
	  
<th:block layout:fragment="Content">
<style>
.cust-table th{
	font-size: 0.9rem;
	font-weight: bold;
	text-align: center;
}
</style>

<div class="d-flex justify-content-center">
<div class="my-4 col-10">
<div class="card col-8">
	<h5 class="card-header">고객관리 - 등록</h5>
	
	<div class="card-body pt-0">
		<div class="table-responsive">
			<form th:action="@{insert}" id="custInsertForm" method="post" th:object="${cust}">
				<table class="table table-bordered border-2 cust-table">
					<tr>
						<th colspan="4" class="py-3" style="background-color:#F9F7F7;">
						<h6 class="p-0 m-0"><b>고객사 정보입력</b></h6></th>
					</tr>
					<tr>
						<th>상호명</th>
						<td>
							<input type="text" th:field="*{custName}" class="form-control bg-transparent" />
						</td>
						<th>스펠링</th>
						<td>
							<input type="text" size="3" th:field="*{spell}" placeholder="대문자 3글자 - 미입력시 C 등록" class="form-control bg-transparent" />
						</td>
					</tr>
					<tr>
						<th>대표자</th>
						<td>
							<input type="text" th:field="*{rep}" class="form-control bg-transparent" />
						</td>
						<th class="col-2">개업일자</th>
						<td>
							<input type="date" max="9999-12-31" class="form-control bg-transparent" />
						</td>
					</tr>
					<tr>
						<th>사업자번호</th>
						<td colspan="2">
							<input type="text" th:field="*{brn}" class="form-control bg-transparent" />
						</td>
						<td class="text-start"  style="border-left:hidden;">
							<button type="button" class="btn btn-warning" id="test">사업자번호 확인</button>
						</td>
					</tr>
					<tr>
						<th rowspan="2">주소</th>
						<td colspan="2">
							<input type="text" class="form-control bg-transparent" id="sample6_postcode" placeholder="우편번호">
						</td>
						<td class="text-start"  style="border-left:hidden;">
							<input type="button" class="btn btn-primary" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
						</td>
					</tr>
					<tr>
						<td colspan="3" style="border-top:hidden;">
							<input type="text" class="form-control bg-transparent" id="sample6_address" placeholder="주소">
							<div class="d-flex justify-content-center mt-1">
							<input type="text" class="form-control bg-transparent me-1" id="sample6_detailAddress" placeholder="상세주소">
							<input type="text" class="form-control bg-transparent" id="sample6_extraAddress" placeholder="참고항목">
							</div>
						</td>					
					</tr>
					<tr>
						<th>대표번호</th>
						<td colspan="3">
							<input type="text" th:field="*{custTel}" class="form-control bg-transparent tell-chk"
								   placeholder="숫자만 입력하세요." />
						</td>
					</tr>
					<tr>
						<th>결제담당자</th>
						<td>
							<input type="text" th:field="*{payPic}" class="form-control bg-transparent" />
						</td>
						<th>담당자전화</th>
						<td>
							<input type="text" th:field="*{payPicTel}" class="form-control bg-transparent tell-chk" placeholder="숫자만 입력하세요." />
						</td>
					</tr>
				</table>
				<div class="text-end">
					<button type="submit" id="submit-btn" class="btn btn-info mt-3">고객등록</button>
					<button type="reset" th:onclick="|location.href='@{list}'|" class="btn btn-secondary mt-3">등록취소</button>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
</div>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
</script>

<script>
let flag = '';
$(function() { 
	
	$("#brn").keyup(function(){
		$(this).val($(this).val().replace(/[^0-9]/gi, "").replace(/^(\d{3})(\d{2})(\d{5})$/, `$1-$2-$3`));
	});
	
	$("#brn").focus(function(){
		flag='NO';
		$("#brn").css('color','black');		
	})
	
	$(".tell-chk").keyup(function(){
		$(this).val($(this).val().replace(/[^0-9]/gi, "").replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`));
	});
	
	$("#spell").keyup(function(e){
		$(this).val($(this).val().replace(/[^A-Z]/g, ''));
	});
	
	$("#test").on('click', function(){
		let bno = $('#brn').val();
		bno = bno.replace(/-/gi,'');
		bnoCheck(bno);
	});
	
	$('#custInsertForm').submit(function(event) {
		event.preventDefault();
		
		if(dataCheck() != true) return;
		
		// 주소.
		let addr1 = $('#sample6_address').val();
		if(addr1 == '') {
			
			Swal.fire({
				icon: 'error',               
			  	title: '주소를 입력하세요',    
			  	text: '', 
			});
			return;
		}
		let addr2 = " " + $('#sample6_detailAddress').val();
		let addr3 = " (" + $('#sample6_postcode').val() + ")";
		
		let creatInput = $(`<input type="hidden" name="custAddr" value="${addr1+addr2+addr3}" />`);
		$('#custName').parent().append(creatInput);
		
		this.submit();
		
	})
	
}) //end.

function bnoCheck(bno) {
	
	let data = {
			"b_no" : [bno]
	} 
	
	$.ajax({
	  url: "https://api.odcloud.kr/api/nts-businessman/v1/status?serviceKey=mE1CN7xzr3aXt4%2BDH2dN8SIwZlnXMkO3hHulmWVclpgFGD9DrLJvJIssH1o99H0zFgMgRBdEp86aqj%2F38zqfJw%3D%3D",  // serviceKey 값을 xxxxxx에 입력
	  type: "post",
	  data: JSON.stringify(data), // json 을 string으로 변환하여 전송
	  dataType: "json",
	  contentType: "application/json",
	  accept: "application/json",
	  success: function(result) {
		  console.log(result)
		  $("#brn").css('color','blue');
	      if(result.match_cnt > 0){
	    	  Swal.fire({
		    	  icon: 'success',               
				  title: '사업자번호 확인완료!',    
				  text: result.data[0].tax_type, 
			  });
	    	  flag = 'YES';
	    	  
	      } else {
	    	  Swal.fire({
		    	  icon: 'error',               
				  title: '사업자번호 확인안됨',    
				  text: result.data[0].tax_type, 
			  });
	    	  flag = 'YES';
	      }
	      //$('#brn').attr('readonly', true);
	  },
	  error: function(result) {
	      console.log(result.responseText); //responseText의 에러메세지 확인
	  }
	});
}

function dataCheck() {
	
	if($('#custName').val() == '') {
		Swal.fire({
	    	  icon: 'info',               
			  title: '상호명 필수입력',
			  text:'',
			  confirmButtonText: '확인'
		});
		$('#custName').focus();
		return false;
	} else if($('#rep').val() == '') {
		Swal.fire({
	    	  icon: 'info',               
			  title: '대표자 필수입력',
			  text:'',
			  confirmButtonText: '확인'
		});
		$('#rep').focus();
		return false;
	} else if($('#brn').val() == '' || flag == 'NO') {
		Swal.fire({
	    	  icon: 'info',               
			  title: '사업자번호 필수입력',
			  text:'사업자번호 입력 후 사업자번호 버튼을 클릭해주세요.',
			  confirmButtonText: '확인'
		});
		$('#brn').focus();
		return false;
	} else if($('#custTel').val() == '') {
		Swal.fire({
	    	  icon: 'info',               
			  title: '전화번호 필수입력',
			  text:'',
			  confirmButtonText: '확인'
		});
		$('#custTel').focus();
		return false;
	} else if($('#payPic').val() == '') {
		Swal.fire({
	    	  icon: 'info',               
			  title: '결제담당 필수입력',
			  text:'',
			  confirmButtonText: '확인'
		});
		$('#payPic').focus();
		return false;
	} else if($('#payPicTel').val() == '') {
		Swal.fire({
	    	  icon: 'info',               
			  title: '결제담당 연락처 필수입력',
			  text:'',
			  confirmButtonText: '확인'
		});
		$('#payPicTel').focus();
		return false;
	}
	
	if($('#spell').val() == '') {
		$('#spell').val('C');
	}
	
	return true;
	
}

</script>

</th:block>
</html>