<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.samjo.app.emp.mapper.DeptMapper">
	
	<!-- 한 부서에 소속된 사원들 가져오는 Map 정의 -->
	<resultMap type="DeptVO" id="deptMap">
		<id property="deptId" column="dept_id" />
		<result property="deptName" column="dept_name" />
		<collection property="emps" ofType="EmpVO">
			<id property="empId" column="emp_id"/>
			<result property="empName" column="emp_name"/>
			<result property="jobNo" column="job_no"/>
			<result property="jobTitle" column="job_title"/>
		</collection>
	</resultMap>

	<!-- 로그인한 사원의 deptId로 해당 부서의 사원목록 가져오기.  -->
	<select id="selectMyDept" resultMap="deptMap">
		SELECT dt.dept_id
		       ,dt.dept_name
		       ,e.emp_id
		       ,e.job_no
		       ,e.emp_name
		       ,j.job_title
		FROM dept dt JOIN emp e
		            ON(dt.dept_id = e.dept_id)
		           JOIN jobs j
		            ON(e.job_no = j.job_no)
		WHERE dt.dept_id = #{did}
		ORDER BY job_no
	</select>
	
	<!-- 한 회의사의 모든 사원 목록. -->
	<select id="selectEmps" resultType="EmpVO">
		SELECT e.emp_id
		      ,e.dept_id
		      ,e.job_no
		      ,dt.dept_name
		      ,e.emp_name
		      ,j.job_title
		FROM emp e JOIN dept dt
		            ON(e.dept_id = dt.dept_id)
		           JOIN jobs j
		            ON(e.job_no = j.job_no)
		WHERE dt.cust_no = #{cno}
		ORDER BY dt.dept_id, e.job_no	
	</select>
	
	
	<!-- 부서 전체 목록 -->
	<select id="selectDeptAll" resultType="DeptVO">
		SELECT dept_id
		            ,cust_no
		            ,dept_name
		            ,dept_loc
		            ,dept_info
		            ,dept_mngr
		FROM dept
	</select>	
	
	<!-- 프로젝트 등록시 가져올 책임자 목록 -->	
	<select id="respMngrList" resultType="EmpVO">
		SELECT get_deptname(e.dept_id)
					      ,e.emp_name
					      ,j.job_title
					      ,e.emp_id
			FROM  emp e JOIN jobs j ON (e.job_no = j.job_no)
			WHERE j.perm_id IN ('1C2c', '1C3c')
			<!-- AND   e.cust_no = #{custNo} --> 
	</select>
</mapper>
  