<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.samjo.app.approval.mapper.DocMapper">

	<!-- 전체목록 : 나중에 cust id 및 열람가능 문서로 제한해야함. -->
	<select id="selectDocAll" parameterType="searchVO" resultType="DocVO">
		SELECT rn
		       ,doc_no
		       ,draft
		       ,dept_id
		       ,title
		       ,cntn
		       ,draft_dt
		       ,draft_stat
		       ,temp_id
		       ,final_line
		       ,now_line
		       ,doc_stat
		       ,cmplt_dt
		FROM (SELECT /*+ INDEX(DOC DOC_DOC_NO_PK) */
		            rownum rn,
		            doc.*
		      FROM  doc
		      WHERE rownum <![CDATA[<=]]> (#{page} * 5)) a
		WHERE  a.rn > (#{page} - 1) * 5	
	</select>
	
	<!-- 페이징 위한 count. -->
	<select id="count">
		SELECT count(*)
		FROM doc
	</select>

	<!-- 한 문서 상세정보. -->
	<select id="selectDoc" resultType="DocVO">
		SELECT d.doc_no
				,d.draft
		        ,e.emp_name as draft_name
		        ,d.dept_id
		        ,dt.dept_name
		        ,d.title
		        ,d.cntn
		        ,d.draft_dt
		        ,d.draft_stat
		        ,get_codename(d.draft_stat) as draft_stat_name       
		        ,d.temp_id
		        ,temp_id
		        ,d.final_line
		        ,d.now_line
		        ,d.doc_stat
		        ,get_codename(d.doc_stat) as doc_stat_name
				,d.cmplt_dt
		FROM doc d JOIN emp e 
		             ON(d.draft = e.emp_id)
		           JOIN dept dt 
		             ON(d.dept_id = dt.dept_id)
		WHERE doc_no = #{docNo}
	</select>
	
	<insert id="insertDoc" parameterType="DocVO">
		INSERT INTO doc
				(
					doc_no
	                ,draft
	                ,cust_no
	                ,dept_id
	                ,title
	                <if test="cntn != null and !cntn.equals('')">
	                ,cntn
	                </if>
	                ,temp_id
	                ,final_line
				)
	  	  VALUES
	  	  		(
	  	  			#{docNo}
			        ,#{draft}
			        ,#{custNo}
			        ,#{deptId}
			        ,#{title}
			        <if test="cntn != null and !cntn.equals('')">
			        ,#{cntn}
			        </if>
			        ,#{tempId}
			        ,#{finalLine}
			     )
	</insert>
	
	<select id="getDocNo" resultType="docVO">
		SELECT NVL(MAX(doc_no), 0) + 1 as docNo
		FROM doc	
	</select>
	
	<update id="updateDoc" parameterType="DocVO">
		UPDATE doc
		SET draft = draft
		    ,title = #{title}
		    <if test="cntn != null and !cntn.equals('')">
		    ,cntn = #{cntn}
		    </if>
		    ,final_line = #{finalLine}
		WHERE doc_no = #{docNo}
	</update>

</mapper>
  