<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.samjo.app.emp.mapper.EmpMapper">

	<!-- 최초계정 등록. -->
	<insert id="insertFirstEmp" parameterType="EmpVO">
		INSERT INTO emp(
		                    emp_id,
		                    ct_no,
		                    cust_no,
		                    dept_id,
		                    job_no,
		                    emp_no,
		                    pw,
		                    emp_name,
		                    hire_dt,
		                    emp_stat,
		                    emp_addr1,
		                    emp_tel,
		                    email_addr
		                )
		    SELECT  
		    		cust_no || '000'
		           , #{ctNo}
		           , cust_no
		           , #{deptId}
		           , #{jobNo}
		           , '000'
		           , #{pw}
		           , rep
		           , SYSDATE
		           , '1D1d'
		           , SUBSTR(cust_addr, -6, 5)
		           , cust_tel
		           , cust_no||'000@'||cust_no||'yedam'
		    FROM  cust
		    where cust_no = #{custNo}
	</insert>

	<!-- 한 회사의 등록된 계정들 목록 -->
	<select id="selectEmpAll" parameterType="map" resultType="EmpVO">
		SELECT   g.rn
		        ,g.emp_id
		        ,g.perm_id
		        ,g.perm_name
		        ,g.dept_id
		        ,g.dept_name
		        ,g.emp_name
		        ,g.job_no
		        ,g.job_title
		        ,g.hire_dt
		        ,g.emp_stat
		        ,g.emp_stat_name
		FROM (
		        SELECT  ROW_NUMBER() OVER (ORDER BY  e.emp_id) rn
		                ,e.emp_id
		                ,j.perm_id
		                ,p.perm_name
		                ,e.dept_id
		                ,d.dept_name
		                ,e.emp_name
		                ,e.job_no
		                ,j.job_title
		                ,e.hire_dt
		                ,e.emp_stat
		                ,get_codename(emp_stat) as emp_stat_name
		        FROM emp e JOIN dept d ON (e.dept_id = d.dept_id)
		                   JOIN jobs j ON (e.job_no = j.job_no)
		                   JOIN perm p ON (j.perm_id = p.perm_id)
		        WHERE cust_no <![CDATA[<>]]> '0000' 
		        AND   cust_no = #{cno}
		        <if test="sch.searchCondition != null and !sch.searchCondition.equals('all')">
		        	<choose>
		        		<when test="sch.searchCondition.equals('1D3d')">
		        		AND   emp_stat = '1D1d' and substr(emp_id, -3) = '000'
		        		</when>
		        		<otherwise>
			        	AND   e.emp_stat = #{sch.searchCondition}
		        		</otherwise>
		        	</choose>
		        </if>
		        <if test="sch.keywordCondition != null and !sch.keywordCondition.equals('all')">
		        	AND   j.perm_id = #{sch.keywordCondition}
		        </if>
		     ) g
		WHERE  g.rn <![CDATA[<=]]> (#{sch.page} * 10)
		AND    g.rn > (#{sch.page} - 1) * 10	
	</select>
	
	<select id="countEmpAll" parameterType="map" resultType="int">
		SELECT  COUNT(*)
		FROM (
		        SELECT   e.emp_id
		                ,j.perm_id
		                ,e.emp_stat
		        FROM emp e JOIN dept d ON (e.dept_id = d.dept_id)
		                   JOIN jobs j ON (e.job_no = j.job_no)
		                   JOIN perm p ON (j.perm_id = p.perm_id)
		        WHERE cust_no <![CDATA[<>]]> '0000' 
		        AND   cust_no = #{cno}
		        <if test="sch.searchCondition != null and !sch.searchCondition.equals('all')">
		        	<choose>
		        		<when test="sch.searchCondition.equals('1D3d')">
		        		AND   emp_stat = '1D1d' and substr(emp_id, -3) = '000'
		        		</when>
		        		<otherwise>
			        	AND   e.emp_stat = #{sch.searchCondition}
		        		</otherwise>
		        	</choose>
		        </if>
		        <if test="sch.keywordCondition != null and !sch.keywordCondition.equals('all')">
		        	AND   j.perm_id = #{sch.keywordCondition}
		        </if>
		     )
	</select>
	
	<select id="countEno" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM emp
		WHERE cust_no = #{cno}
		AND  emp_no = #{eno}
	</select>
	
	<!-- 사원등록 -->
	<insert id="insertEmp" parameterType="EmpVO">
		<selectKey keyProperty="empId" resultType="string" order="BEFORE">
			SELECT #{custNo}||#{empNo}
			FROM   dual
		</selectKey>
		INSERT INTO emp(
		                    emp_id,
		                    ct_no,
		                    cust_no,
		                    dept_id,
		                    job_no,
		                    emp_no,
		                    pw,
		                    emp_name,
		                    hire_dt,
		                    emp_stat,
		                    emp_addr1,
		                    emp_addr2,
		                    emp_addr3,
		                    emp_addr4,
		                    emp_tel,
		                    email_addr
		                )
		    VALUES (
		                #{empId}
		                ,#{ctNo}
		                ,#{custNo}
		                ,#{deptId}
		                ,#{jobNo}
		                ,#{empNo}
		                ,#{pw}
		                ,#{empName}
		                ,#{hireDt}
		                ,'1D1d'
		                ,#{empAddr1}
		                ,#{empAddr2}
		                ,#{empAddr3}
		                ,#{empAddr4}
		                ,#{empTel}
		                ,#{custNo}||#{empNo}||'@'||#{custNo}||'.yedam'
		            )
	</insert>
	
	<!-- 사원단건조회 -->
	<select id="selectEmpInfo" parameterType="map" resultType="EmpVO">
		SELECT  e.emp_id
		       ,e.emp_no
		       ,e.emp_name
		       ,e.dept_id
		       ,get_deptname(e.dept_id) as dept_name
		       ,e.job_no
		       ,j.job_title
		       ,j.perm_id
		       ,get_codename(j.perm_id) as perm_name
		       ,e.hire_dt
		       ,e.emp_stat
		       ,get_codename(e.emp_stat) as emp_stat_name
		       ,e.emp_addr1
		       ,e.emp_addr2
		       ,e.emp_addr3
		       ,e.emp_addr4
		       ,e.emp_tel
		       ,e.email_addr
		       ,e.fire_dt
		FROM emp e LEFT OUTER JOIN jobs j
		                        ON (e.job_no = j.job_no)
		WHERE emp_id = #{eid}
			<if test="!cno.equals('0000')">
			AND   e.cust_no = #{cno}
			</if>
	</select>
	
	<!-- 사원수정 -->
	<update id="updateEmp" parameterType="EmpVO">
		UPDATE  emp
		SET		emp_no = emp_no
				<if test="emp.pw != null and !emp.pw.equals('')">
					, pw = #{emp.pw}	
				</if>     
				<if test="emp.empName != null and !emp.empName.equals('')">
		        	, emp_name = #{emp.empName}
		        </if>
				<if test="emp.deptId != null and !emp.deptId.equals('')">
		       		, dept_id = #{emp.deptId}
		       	</if>
				<if test="emp.jobNo != null and emp.jobNo != 0">
			        , job_no = #{emp.jobNo}
			    </if>
				<if test="emp.empTel != null and !emp.empTel.equals('')">
		       		, emp_tel = #{emp.empTel}
		       	</if>
				<if test="emp.hireDt != null and !emp.hireDt.equals('')">
		       		, hire_dt = #{emp.hireDt}
		       	</if>
				<if test="emp.fireDt != null and !emp.fireDt.equals('')">		       	
		       		, fire_dt = #{emp.fireDt}
		       	</if>
				<if test="emp.empAddr1 != null and !emp.empAddr1.equals('')">		       	
		       		, emp_addr1 = #{emp.empAddr1}
		       		, emp_addr2 = #{emp.empAddr2}
		       		, emp_addr3 = #{emp.empAddr3}
		       		, emp_addr4 = #{emp.empAddr4}
		       	</if>
		WHERE  emp_id = #{emp.empId}	
	</update>

</mapper>
