<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.samjo.app.project.mapper.ProjectMapper">

	<!-- 프로젝트 전체 조회 -->
	<select id="selectPrjtAllList" resultType="ProjectVO">
		SELECT p.prjt_id 
		           ,p.prjt_name
		           ,t.task_name
		           ,p.prjt_start_dt  
		           ,p.prjt_due_dt
		           ,e.task_emp_id
		           ,t.prjt_mat 
		FROM prjt p join task_emps e
		             on p.prjt_id = e.task_no
		             join task_common t 
		             on t.task_no = e.task_no 
		ORDER BY p.prjt_id
		</select>
	
	<!-- 프로젝트 단건 -->
	<select id="selectPrjt" resultType="ProjectVO">
	SELECT p.prjt_name
		      ,t.task_name
		      ,t.task_no
		      ,e.dept_name
		      ,e.task_emp_id
		      ,p.prjt_start_dt
		      ,p.prjt_due_dt
		      ,p.purpose
		      ,p.smry
		FROM prjt p join task_common t 
		             on p.prjt_id = t.task_no
		             join task_emps e
		             on t.task_no = e.task_no 
		ORDER BY p.prjt_id
	</select>
	
	<!-- 프로젝트 등록 -->
	<insert id="insertPrjt" parameterType="ProjectVO"> 
			<selectKey keyProperty="prjtId" order="BEFORE"
			resultType="string">
			SELECT NVL(MAX(prjt_id),0) +1 
			FROM prjt
		</selectKey>
		
		INSERT ALL INTO prjt ( prjt_id
							,prjt_name
							,prjt_stat
							,prjt_start_dt
							,prjt_due_dt
							,smry
							,purpose
							,resp_mngr_id)
					VALUES (#{prjtId}
							,#{prjtName}
							,#{prjtStat}
							,#{prjtStartDt}
							,#{prjtDueDT}
							,#{smry}
							,#{purpose}
							,#{respMngrId})
		INTO dept (dept_id
					,dept_name
					,cust_no
					, dept_loc
					, dept_mngr)
		VALUES(#{deptId}
				,#{deptName}
				,#{custNo}
				,#{deptLoc}
				,#{deptMngr})
		SELECT * FROM DUAL
	</insert>
	
	
	
	
	
	
	<!-- 협력업체 전체 조회 -->
	<select id="selectCoopCoAllList" resultType="CoopCoVO">
		SELECT coop_co_no
		       ,task_no
		       ,co_name
		       ,co_tel
		       ,pic
		       ,cust_addr
		       ,cntn
		FROM coop_co
		ORDER BY coop_co_no
	</select>
	
</mapper>
