<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.samjo.app.project.mapper.ProjectMapper">
	<!-- 프로젝트(상위),업무공통(효주) // 프로젝트(하위), 협력업체 task-mapper.xml에 -->
	
	<!-- 프로젝트(상위) 전체 조회 -->
	<select id="selectPrjtAllList" resultType="ProjectVO" parameterType="SearchVO">
		SELECT r.*
			FROM (SELECT rownum rn,
						t.*
						FROM (SELECT  prjt_id 
									  ,prjt_name  
								      ,prjt_start_dt
								      ,prjt_due_dt
								      ,purpose
								      ,smry
								      ,get_codename(prjt_stat) as prjt_stat
				 FROM prjt
			<where>
					<if test="keyword != null and keyword != ''">
						AND ${searchCondition} LIKE '%' || #{keyword} || '%'
					</if>
					<if test="prjtStat != null and prjtStat != ''">
						AND prjt_stat LIKE #{prjtStat}
					</if>
				<choose>
					<when test="prjtStart != null and prjtDue != null">
						AND prjt_start_dt <![CDATA[>=]]> #{prjtStart}  AND prjt_due_dt <![CDATA[<=]]> #{prjtDue}
					</when>
					<when test="(prjtStart != null) and (prjtDue == null)">
						AND prjt_start_dt >= #{prjtStart}
					</when>
					<when test="(prjtDue != null) and (prjtStart == null)">
						AND prjt_due_dt <![CDATA[<=]]> #{prjtDue}
					</when>
				</choose>
				</where>
				ORDER BY  ${prjtSort} DESC, prjt_id DESC) t 
			WHERE rownum <![CDATA[<=]]> (#{page} * 10)) r
		WHERE r.rn > (#{page} -1) * 10 
	</select>
	
	<!-- 프로젝트 페이징 -->
	<select id="prjtCount" parameterType="SearchVO">
		SELECT COUNT(*)
		FROM prjt 
		<where>
			<!-- 각 검색 조건에 대한 동적 추가 -->
			<if test="keyword != null and keyword != ''">
						AND ${searchCondition} LIKE '%' || #{keyword} || '%'
					</if>
					<if test="prjtStat != null and prjtStat != ''">
						AND prjt_stat LIKE #{prjtStat}
					</if>
				<choose>
					<when test="prjtStart != null and prjtDue != null">
						AND prjt_start_dt <![CDATA[>=]]> #{prjtStart}  AND prjt_due_dt <![CDATA[<=]]> #{prjtDue}
					</when>
					<when test="(prjtStart != null) and (prjtDue == null)">
						AND prjt_start_dt >= #{prjtStart}
					</when>
					<when test="(prjtDue != null) and (prjtStart == null)">
						AND prjt_due_dt <![CDATA[<=]]> #{prjtDue}
					</when>
				</choose>
		</where>
	</select>
	
	<!-- 단순 프로젝트 조회 -->
	<select id="prjtList" resultType="ProjectVO" parameterType="SearchVO">
	SELECT  prjt_id
	        ,prjt_name
	        ,get_codename(prjt_stat) as prjt_stat
	        ,smry
	        ,purpose
	        ,prjt_start_dt
	        ,prjt_due_dt 
		FROM prjt 
		-- WHERE prjt_stat = '5E1e' 
	</select>
	
	<!-- 프로젝트(상위) 단건 -->
	<select id="selectPrjt" resultType="ProjectVO">
			SELECT       prjt_id
						 ,prjt_name
						 ,get_emptitle(resp_mngr_id) as emp_name
					     ,prjt_start_dt
					     ,get_codename(prjt_stat) as prjt_stat
						 ,prjt_due_dt
						 ,purpose
						 ,smry
			FROM prjt 
			WHERE prjt_id = #{prjtId}
	</select>
	
	<!-- 공통업무 List -->
	<select id="taskList" resultType="ProjectVO" parameterType="map">
			SELECT t.task_no,
			        p.prjt_id,
			        get_codename(t.prjt_mat) as prjt_mat,
			        t.task_name,
			        t.task_start_dt,
			        t.task_due_dt,
			        t.prjt_mat,
			        (SELECT COUNT(*)
			         FROM task_emps te
			         WHERE te.task_no = t.task_no) AS participants_cnt,
			        (SELECT
			            CASE
			            WHEN COUNT(*) = 0 THEN 0
			            ELSE TRUNC(SUM(CASE WHEN te.cmplt= '5F1f' THEN 1 ELSE 0 END) * 100.0 /COUNT(*))
			            END
			        FROM task_emps te
			        WHERE te.task_no = t.task_no) AS progress
			FROM task_common t JOIN prjt p 
			                    ON (p.prjt_id = t.standard_no)
			WHERE p.prjt_id = #{pid}
			AND p.cust_no = #{cno}
			AND t.task_type = '5A1a'
	</select>
	
	<!-- 프로젝트(상위) 등록 -->
	<insert id="insertPrjt" parameterType="ProjectVO"> 
			<selectKey keyProperty="prjtId" order="BEFORE"
			resultType="string">
			SELECT 'CPJ'||LPAD(NVL((MAX(TO_NUMBER(SUBSTR(prjt_id, -4)))),0) + 1, 4, '0') 
			FROM prjt
		</selectKey>
		INSERT INTO prjt (prjt_id 
							,prjt_name 
							,prjt_stat 
							,prjt_start_dt 
							,prjt_due_dt 
							,smry 
							,purpose 
							,resp_mngr_id
							,cust_no)
					VALUES (#{prjtId}
							,#{prjtName}
							,#{prjtStat}
							,#{prjtStartDt}
							,#{prjtDueDt}
							,#{smry}
							,#{purpose}
							,#{respMngrId}
							,#{custNo})
	</insert>
	
	<!-- 프로젝트(상위) 수정 prjt테이블만 수정.  -->
	<update id="updatePrjt" parameterType="ProjectVO">
		SET        		prjt_name = #{prjtName}
		                ,prjt_stat = #{prjtStat}
					    ,prjt_start_dt = #{prjtStartDt}
					    ,prjt_due_dt  = #{prjtDueDt}
					    ,purpose = #{purpose},
					    ,smry = #{smry}
		                ,resp_mngr_id = #{respMngrId}
		                ,cust = #{cust}
		WHERE prjt_id = #{prjtId}
	</update>	
		
	<!-- 프로젝트 전체 수정  -->
	<update id="modifyPrjt" parameterType="ProjectVO">
		UPDATE prjt
		SET   
			<if test="prjtName != null and !prjtName.equals('')">
				 prjt_name = #{prjtName}
			</if>     		
			<if test="prjtStat != null and !prjtStat.equals('')">
				, prjt_stat =  #{prjtStat}
			</if>
			<if test="prjtStartDt != null and !prjtStartDt.equals('')">
				, prjt_start_dt = #{prjtStartDt}
			</if>
			<if test="prjtDueDt != null and !prjtDueDt.equals('')">
				, prjt_due_dt = #{prjtDueDt}
			</if>
			<if test="purpose != null and !purpose.equals('')">
				, purpose = #{purpose}
			</if>
			<if test="smry != null and !smry.equals('')">
				, smry = #{smry}
			</if>
			 <if test="respMngrId != null and !respMngrId.equals('')">
				, resp_mngr_id = #{respMngrId}
			</if>
		WHERE prjt_id = #{prjtId}
		AND cust_no =#{custNo}
	</update>
	
	<!-- 효주 - 업무공통 조회 : 마감날짜 이전 업무번호 -->
	<select id="selectTasks" parameterType="EmpVO" resultType="ProjectVO">
		SELECT  tc.task_no
		       ,tc.dept_id
		       ,get_deptname(tc.dept_id) as dept_name 
		       ,tc.task_name
		FROM   task_common tc
		WHERE  task_due_dt > SYSDATE
		AND	
			<choose>
				<when test="emp.permId.equals('1C2c')">
					tc.cust_no = #{emp.custNo}
				</when>
				<when test="emp.permId.equals('1C3c')">
					tc.cust_no = #{emp.custNo}
					AND (   
							tc.dept_id = #{emp.deptId}
					     or tc.task_no IN (SELECT task_no FROM task_emps WHERE task_emp_id = #{emp.empId})
						)
				</when>
				<otherwise>
					tc.cust_no = #{emp.custNo}
					AND tc.task_no IN (SELECT task_no FROM task_emps WHERE task_emp_id = #{emp.empId})
				</otherwise>
			</choose>		
	</select>
	<!-- 효주 끝. -->
	
</mapper>
