<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.samjo.app.approval.mapper.TempMapper">

	<select id="selectCustTemps" resultType="TempVO">
		SELECT temp_no
		       ,temp_name
		       ,temp_img
		FROM temp
		ORDER BY temp_no
	</select>
	
	<insert id="insertPto" parameterType="TempVO">
		INSERT INTO doc_pto
		        (
		            doc_no
		            ,pto_type
		            ,pto_start_dt
		            ,pto_end_dt
		            ,reason
		        )
		  VALUES
		        (
		            #{docNo}
		            ,#{ptoType}
		            ,TO_DATE(#{ptoStartDt}, 'YYYY-MM-DD HH24:MI')
		            ,TO_DATE(#{ptoEndDt}, 'YYYY-MM-DD HH24:MI')
		            ,#{reason}
		        )	
	
	</insert>
	
	<select id="selectPto" resultType="TempVO">
		SELECT doc_no
		       ,pto_type
		       ,pto_start_dt
		       ,pto_end_dt
		       ,reason
		FROM doc_pto
		WHERE doc_no = #{dno}	
	</select>

</mapper>