<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.samjo.app.work.mapper.WorkMapper">
  <select id="selectlist" resultType="WorkVO" parameterType="workSearchVO">
	SELECT t.*
	FROM (SELECT rownum rn, 
	                     f.*
	      FROM (SELECT w.*
	            FROM (SELECT e.*
	                  FROM (SELECT
	                               i.dt,
	                               j.emp_id,
	                               j.emp_name,
	                               j.emp_no,
	                               i.wk_in,
	                               i.wk_out,
	                               get_codename(wk_yn) wk_yn,
	                               get_codename(wk_stat) wk_stat,
	                               get_codename(wk_site) wk_site
	                               FROM emp j join wk i
	                                            on j.emp_id = i.emp_id
	                               WHERE j.emp_id = #{empId}
	                         ORDER BY dt DESC) e
	                   <include refid="select"></include>
	                             ) w
	            WHERE rownum <![CDATA[<=]]> (#{page} * 5)) f ) t
	WHERE t.rn > (#{page} -1) * 5
  </select>
  <!-- 계정 정보 조회 테이블 -->
  <select id="selectemp" resultType="WorkVO">
    SELECT 
           emp_id,
           emp_no,
           emp_name,
           trunc(months_between(sysdate, hire_dt) / 12) year,
           trunc(months_between(sysdate, hire_dt)) month,
           trunc(sysdate - hire_dt) day,
           hire_dt,
           (select count(*)
           from wk
           where wk_yn = '2A1a'and emp_id = #{empId}) au,
           (select count(*)
           from wk
           where wk_stat = '2B3b'and emp_id = #{empId}) tdy,
           (select count(*)
           from wk
           where wk_stat = '2B4b'and emp_id = #{empId}) early,
           (select wk_yn
           from wk
           where emp_id = #{empId} and dt = trunc(sysdate)) wk_yn
	FROM emp
	WHERE emp_id = #{empId}
  </select>
  <!-- worklist 전체 조회 (부서장권한으로 접속 시 처음에는 자신꺼만 매니저를통해서 접근시 자신의 부서를 조회)-->
  <select id="selectAllList" resultType="WorkVO" parameterType="WorkSearchVO">
	SELECT t.*
	FROM (SELECT rownum rn, 
	                     f.*
	      FROM (SELECT w.*
	            FROM (SELECT e.*
	                  FROM (SELECT
	                               i.dt,
	                               j.emp_id,
	                               j.emp_name,
	                               j.emp_no,
	                               i.wk_in,
	                               i.wk_out,
	                               get_codename(wk_yn) wk_yn,
	                               get_codename(wk_stat) wk_stat,
	                               get_codename(wk_site) wk_site
	                               FROM emp j join wk i
	                                            on j.emp_id = i.emp_id
	                               WHERE j.emp_id = #{empId}
	                         ORDER BY dt DESC) e
	                   <include refid="select"></include>
	                             ) w
	            WHERE rownum <![CDATA[<=]]> (#{page} * 5)) f ) t
	WHERE t.rn > (#{page} -1) * 5
  </select>
	<!-- 페이징 위한 count.(조건집어넣기 제대로안되는중) -->
 	<select id="workcount">
		SELECT count(*)
		FROM (SELECT
                    i.dt,
                    j.emp_id,
                    j.emp_name,
                    j.emp_no,
                    i.wk_in,
                    i.wk_out,
                    get_codename(wk_yn) wk_yn,
                    get_codename(wk_stat) wk_stat,
                    get_codename(wk_site) wk_site
                    FROM emp j join wk i
                                 on j.emp_id = i.emp_id
                    WHERE j.emp_id = #{empId})
		<include refid="select"></include>
	</select>
	
	<!-- 조건문 -->
	<sql id="select">
	<where>
		<if test="oneDate != null">
				AND dt >=  #{oneDate}
		</if>
		<if test="twoDate != null">
				AND dt <![CDATA[<=]]>  #{twoDate}
		</if>
             <if test="wkYn != null and wkYn != ''"> 
                       AND wk_yn   = #{wkYn}
             </if>
             <if test="wkStat != null and wkStat != ''">
                      AND wk_stat = #{wkStat}
             </if>
             <if test="wkSite != null and wkSite != ''">  
                      AND wk_site = #{wkSite} 
             </if>
    </where>
	</sql>
	<!-- worklist랑 똑같이 최신화해야함-->
	<select id="managerWorkList" resultType="WorkManagerVO">
	SELECT l.*
    FROM (SELECT t.*
          FROM(SELECT e.*, rownum rn
               FROM (SELECT
                      (SELECT dept_name
                       FROM dept
                       WHERE dept_id = emp.dept_id) dept_id ,
                       emp_id,
                       emp_no,
                       emp_name,
                      (SELECT job_title
                       FROM jobs
                       WHERE job_no = emp.job_no) job_no ,
                       hire_dt,
                       emp_tel
                 FROM emp
                 WHERE cust_no = #{custNo}
					<if test="permId.equals('1C3c')">
                 		AND dept_id = #{deptId}
					</if>
                 ) e
            WHERE ROWNUM <![CDATA[<=]]> (#{page} * 5)) t) l
	WHERE l.rn > (#{page} -1) * 5
	</select>
	
	<select id="managercount">
		SELECT count(*)
		FROM (SELECT
                      (SELECT dept_name
                       FROM dept
                       WHERE dept_id = emp.dept_id) dept_id ,
                       emp_id,
                       emp_no,
                       emp_name,
                      (SELECT job_title
                       FROM jobs
                       WHERE job_no = emp.job_no) job_no ,
                       hire_dt,
                       emp_tel
                 FROM emp
                 WHERE cust_no = #{custNo}
                 <if test="permId.equals('1C3c')">
                 		AND dept_id = #{deptId}
					</if>
                 )
	</select>
	
	<!-- 출근을 입력하기위해... 중복이되면 안됨. (조건 = empID, Dt)-->
	<update id="workin">
	UPDATE wk
	SET wk_in = sysdate,
	    wk_stat = GET_wkTIME(),
	    wk_in_loc = #{wkInLoc}
	where emp_id = #{empId} AND dt = #{dt}
	</update>
	
	<select id="workincheck">
	SELECT COUNT(wk_in)
	FROM WK
	WHERE emp_id = #{empId} AND dt = #{dt}
	</select>
	
	<!-- 퇴근을 입력하기위해... 중복이됨.-->
	<update id="workout">
	UPDATE wk
	SET wk_out = sysdate,
	    wk_out_loc = #{wkOutLoc}
	where emp_id = #{empId} AND dt = #{dt}
	</update>
	
	<!-- 조퇴 -->
	<update id="workstop">
	UPDATE wk
	SET wk_out = sysdate,
	    wk_stat = '2B4b',
	    wk_out_loc = #{wkOutLoc}
	where emp_id = #{empId} AND dt = #{dt}
	</update>
   
   <!-- 상세페이지 확인 -->
  <select id="selectWork" resultType="WorkVO">
	SELECT j.emp_id,
	       j.emp_no,
	       j.emp_name,
	       (SELECT dept_name
	        FROM dept
	        WHERE dept_id = j.dept_id) dept_id ,
	       i.dt,
	       i.wk_in,
	       i.wk_out,
	       i.wk_in_loc,
	       i.wk_out_loc,
	       get_codename(wk_yn) wk_yn,
	       get_codename(wk_stat) wk_stat,
	       get_codename(wk_site) wk_site
	FROM emp j JOIN wk i
	             ON j.emp_id = i.emp_id
	WHERE dt = #{dt} AND j.emp_id = #{empId}
   </select>
   
   <!-- 상세페이지에서 작동하는 업데이트 -->
   <update id="update" parameterType="WorkVO">
   UPDATE wk 
   SET
   		<if test="wkIn != null">
          wk_in = #{wkIn},
        </if>
        <if test="wkOut != null">
          wk_out = #{wkOut},
        </if>
          wk_in_loc = #{wkInLoc},
          wk_out_loc = #{wkOutLoc},
          wk_yn = #{wkYn},
          wk_stat = #{wkStat},
          wk_site = #{wkSite}
   WHERE emp_id = #{empId} 
     AND  dt = #{dt}
   </update>
   
   <!-- ip관련 -->
   
   <!-- ip 필터 -->
   <select id="inipcheck">
    SELECT ip
	FROM inip
   </select>
   
   <!-- 신청 ip 조회 -->
	<select id="selectoutip">
	SELECT emp_id,
	       ip,
	       dt
	FROM outip
	</select>
	<!-- 신청된 ip 조회 -->
   <select id="selectinip">
    SELECT emp_id,
	       ip,
	       dt
	FROM inip
   </select>
   
  <!-- 신청한 ip를 등록 -->
  <insert id="insertinip" parameterType="WorkVO">
  INSERT INTO inip
  VALUES(
  #{empId},
  #{ip},
  sysdate)
   </insert>
  <!-- 신청ip 등록 -->
  <insert id="insertoutip" parameterType="WorkVO">
  INSERT INTO outip
  VALUES(
  #{empId},
  #{ip},
  sysdate)
  </insert>
   
   <!-- outip 등록위한 삭제 -->
  <delete id="outdelete">
  delete outip
  where ip = #{ip}
  </delete>
  
  <!-- 신청 ip삭제 -->
  <delete id="indelete">
  delete inip
  where ip = #{ip}
   </delete> 
   
  </mapper>
  