<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<th:block th:fragment="TempPTO">		

	<div id="pto" class="border border-3 w-95 py-5 mt-3" contentEditable="true">	
		<div class="container">
		<div class="row section">
			<div class="text-center" contenteditable="false">
				<h2 class="font-weight-bold m-3 text-center" contenteditable="false">휴가 신청서</h2>
			</div>
		</div>
		<div class="row section">
			<div class="col-6">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td class="bg-light font-weight-bold text-center col-4" contenteditable="false">작성일</td>
							<td data-td="now"></td>
						</tr>
						<tr>
							<td class="bg-light font-weight-bold text-center col-4" contenteditable="false">신청자</td>
							<td data-td="name"></td>
						</tr>
						<tr>
							<td class="bg-light font-weight-bold text-center col-4" contenteditable="false">부서</td>
							<td data-td="dept"></td>
						</tr>
						<tr>
							<td class="bg-light font-weight-bold text-center col-4" contenteditable="false">문서번호</td>
							<td data-td="dno"></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
		<div class="row">
			<div class="col-12">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td rowspan="3" class="bg-light font-weight-bold text-center col-2" contenteditable="false">
								신청내용</td>
							<td class="bg-light font-weight-bold text-center col-">휴가종류</td>
							<td colspan="2">
								<select class="form-select border border-3" name="pto.ptoType" id="ptoType">
									<option>휴가종류 선택</option>
									<option value="4C1c">연차</option>
									<option value="4C2c">오전반차</option>
									<option value="4C3c">오후반차</option>
								</select>
							</td>
						</tr>
						<tr>
							<td class="bg-light font-weight-bold text-center col-2" contenteditable="false">날짜선택
							</td>
							<td class="text-end">
								<input type="date" class="form-control col-6" id="sdt" />
								<input type="time" class="form-control col-6" id="stime" readonly />부터
								<!-- <label for="ptoStartDt">시작 날짜 및 시간:</label>
								<input id="ptoStartDt" type="datetime-local" class="form-control col-6" />부터</td> -->
							<td class="text-end">
								<input type="date" class="form-control col-6" id="edt" />
								<input type="time" class="form-control col-6" id="etime" readonly />까지</td>
								<!-- <label for="ptoEndDt">종료 날짜 및 시간:</label>
								<input id="ptoEndDt" type="datetime-local" class="form-control col-6" />까지</td> -->
						</tr>
						<tr>
							<td class="bg-light font-weight-bold text-center col-2" contenteditable="false">사유</td>
							<td colspan="2"><textarea name="pto.reason" class="form-control-plaintext">내용입력</textarea></td>
						</tr>
						<tr>
							<td colspan="4">
								<p>해당 증빙을 첨부하세요.</p>
								<p>종류 : 연차, 반차, 보건, 경조, 교육, 훈련, 외출, 조퇴, 기타</p>
								<p>시간 : 연차/보건/경조 =&gt; "전일"</p>
								<p> 반차 =&gt; "오전","오후"</p>
								<p> 교육/훈련/외출/조퇴 =&gt; 구체적 시간 기재</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row section">
			<div class="col-12 text-center" contenteditable="false">
				<h4>위와 같이 신청하오니 재가하여 주시기 바랍니다.</h4>
			</div>
		</div>

		</div>
	</div>	
	
	<!-- <script type="module" th:src="@{/samjo/approval.js}"></script> -->
	<script>
	$(document).ready(function() {
	    // 원하는 날짜를 설정합니다. 예: 2024년 5월 17일
	    //var preselectedDate = '2024-05-17';
	    
	    // 날짜를 미리 선택하고 disabled 상태로 설정합니다.
	   // $('#myDateInput').val(preselectedDate).attr('disabled', 'disabled');
	});
	</script>
</th:block>


<th:block th:fragment="TempEXT">		

	<div id="ext" class="border border-3 w-95 py-5 mt-3" contentEditable="true">

<div class="container">
    <div class="row section" contentEditable="true">
      <div class="col-12">
        <h3>지출결의서</h3>
        <table class="table table-bordered border border-1">
          <tr>
            <th>문서번호</th>
            <td colspan="2">...</td>
			<th>작성일자</th>
			<td colspan="2">...</td>
          </tr>
          <tr>
            <th>부서</th>
            <td>개발팀</td>
			<th>직급</th>
			<td>대리</td>
			<th>기안자</th>
			<td>홍길동</td>
          </tr>
		</table>
		<br>
		<table class="table table-bordered border border-1">
			<tr>
				<th>순번</th>
				<th>지출일자</th>
				<th>거래처</th>
				<th>금액</th>
				<th>비고</th>
			</tr>
			<tr>
				<td><input type="number" class="form-control" value="1" /></td>
				<td><input type="date" class="form-control" /></td>
				<td><input type="text" class="form-control" /></td>
				<td><input type="number" class="form-control" /></td>
				<td><input type="text" class="form-control" /></td>
			</tr>
			<tr>
				<td><input type="number" class="form-control" /></td>
				<td><input type="date" class="form-control" /></td>
				<td><input type="text" class="form-control" /></td>
				<td><input type="number" class="form-control" /></td>
				<td><input type="text" class="form-control" /></td>
			</tr>
			<tr>
				<td><input type="number" class="form-control" /></td>
				<td><input type="date" class="form-control" /></td>
				<td><input type="text" class="form-control" /></td>
				<td><input type="number" class="form-control" /></td>
				<td><input type="text" class="form-control" /></td>
			</tr>
			<tr>
				<td><input type="number" class="form-control" /></td>
				<td><input type="date" class="form-control" /></td>
				<td><input type="text" class="form-control" /></td>
				<td><input type="number" class="form-control" /></td>
				<td><input type="text" class="form-control" /></td>
			</tr>
			<tr>
				<td colspan="3">합계</td>
				<td colspan="2">...</td>
			</tr>
		</table>
      </div>
    </div>
  </div>
 </div>
 </th:block>