<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>

	<th:block layout:fragment="Content">
		<div class="d-flex justify-content-center">
			<div class="card my-4 col-10">
				<h5 class="card-header">템플릿 등록</h5>
				<div class="card-body">
					<!-- 템플릿 등록/수정 -->
					<form>
						<div class="card-body">
							<div class="mt-3 row">
								<label for="title" class="col-md-2 col-form-label">템플릿번호</label>
								<div class="col-md-5">
									<input class="form-control" type="text" placeholder="자동 등록"
										disabled />
								</div>
							</div>
							<div class="mt-3 row">
								<label for="title" class="col-md-2 col-form-label">사용고객사</label>
								<div class="col-md-3">
									<input class="form-control custName" type="text" readOnly />
								</div>
								<!-- 고객사 선택 모달버튼 -->
								<div class="col-md-3">
									<button type="button" class="btn btn-primary"
										data-bs-toggle="modal" data-bs-target="#CustModal">고객사
										선택</button>
								</div>
								<!-- 고객사 선택 모달화면 -->
								<div class="modal fade" id="CustModal" tabindex="-1">
									<div class="modal-dialog modal-xl modal-dialog-scrollable"
										role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="modalScrollableTitle">고객사
													선택</h5>
												<button type="button" class="btn-close"
													data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<table class="table table-hover">
													<thead>
														<tr>
															<th>상호명</th>
															<th>고객번호</th>
															<th>대표자명</th>
															<th>선택</th>
														</tr>
													</thead>
													<tbody>
														<th:block th:each="CustVO : ${custlist}">
															<tr>
																<td>[[ ${CustVO.custName} ]]</td>
																<td>[[ ${CustVO.custNo} ]]</td>
																<td>[[ ${CustVO.rep} ]]</td>
																<td><input type="radio" name="check"
																	th:value="${CustVO.custNo}"></td>
															</tr>
														</th:block>
													</tbody>
												</table>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-primary selectCust"
													data-bs-dismiss="modal">선택완료</button>
												<button type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">닫기</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="mt-3 row">
								<label for="title" class="col-md-2 col-form-label">템플릿명</label>
								<div class="col-md-5">
									<input class="form-control tempname" type="text" />
								</div>
							</div>
							<div class="mt-3 row">
								<label for="cntn" class="col-md-2 col-form-label">설명</label>
								<div class="col-md-5">
									<textarea class="form-control tempinfo"></textarea>
								</div>
							</div>
							<div class="mt-3 col-2">
								<label for="tempId" class="form-label">등록방식</label> <select
									class="form-select inserttype">
									<option value="option">-선택-</option>
									<option value="input">직접입력</option>
									<option value="upload">업로드</option>
								</select>
							</div>
						</div>
					</form>
							<div class="mt-3 col-12 tempdiv"></div>

					<!--  작성완료 버튼 -->
					<div class="mt-3 text-end">
						<button type="submit"
							class="commitbtn btn rounded-pill btn-primary">작성완료</button>
					</div>

					<script src="/js/html2canvas.js"></script>
					<script>
					//CSRF
					let header = $("meta[name='_csrf_header']").attr('content');
					let token = $("meta[name='_csrf']").attr('content');
					
					//고객사 모달처리
					//모달창에서 선택한 고객사번호를 input창에 입력.
						$(".selectCust").on("click", function(e){
							$(".custName").val($('input:radio:checked').val());
						})
					
					
					//업로드or직접입력 선택
					//직접입력 Tag
					let templateA = `
						<div class="mt-3">템플릿HTML명</div>
						<div class="col-md-5">
							<input class="form-control inputTemp" id="filename" type="text" />
						</div>
						<div class="mt-3">템플릿HTML입력</div>
						<textarea class="form-control inputTemp w-100 h-75 p-1" id="content"></textarea>
						<h4 style="display: none;" class="tempPre">=템플릿 미리보기=</h4>
						<div style="display: none;"
							class="tempPre template p-3 border border-dark"></div>

						<!-- 템플릿 미리보기 버튼 -->
						<div class="d-flex justify-content-center mb-3">
							<button type="button" class="btn btn-primary mt-2 mx-2" id="htmlbtn">미리보기</button>
							<button type="button" class="btn btn-primary mt-2 mx-2" id="htmlreset">초기화</button>
						</div>
					`;
					//업로드 Tag
					let templateB = `
						<div class="test">
							<input name="uploadFiles2" id="uploadFiles2" type="file">
						</div>
						<div style="display: none;"	class="upload-sample p-3 com-sm-1"></div>
					`;
						$(".inserttype").on("change", function(e) {
							if ($(".inserttype").val() == "input") {
								$(".tempdiv").html(templateA);
							} else if($(".inserttype").val() == "upload"){
								$(".tempdiv").html(templateB);
							} else{
								$(".tempdiv").html('');
							}
						});

						//직접입력값 미리보기 버튼
						$(".tempdiv").on("click", "#htmlbtn", function(e) {
							let tVal = $("#content").val()
							let fileName = $("#filename").val();
							$(".tempPre").css('display', 'block');
							$(".template").html(tVal);
						});
						
						//직접입력값 초기화
						$(".tempdiv").on("click", "#htmlreset", function(e) {
							console.log($(".inputTemp").val());
							$(".inputTemp").val("");
							$(".template").empty();
						});
						
						//템플릿 등록 버튼
						$(".commitbtn").on("click", function(e) {
							e.preventDefault();
							
							let formData = new FormData();
							let fileInput = document.querySelector('input[name="uploadFiles2"]');
							let fileList = fileInput.files;
							for(let file of fileList){
								formData.append('uploadFiles', file);
							}
							
							//tempNo,tempName,tempInfo,saveName,uplName,custNo,tempImg;
							let tempName = $('.tempname').val();
							let tempInfo = $('.tempinfo').val();
							let custNo = $('.custName').val();
							
							//파일업로드
							$.ajax({
					             url: 'uploadsAjax',
					             beforeSend: function(xhr){
								        xhr.setRequestHeader(header, token);
								    },
					             type: 'POST',
					             processData: false,	
					             contentType: false,	
					             data: formData,               
					             success: function(result){
					            	 let path = '';
					            	 for(let filePath of result){
						                 path = filePath.split(":::");
					            	 }
				            	 	 let saveName = path[3];
				            		 let uplName = saveName.split("/").pop();
				            		 
					                 //등록한 파일 미리보기 이미지 생성
					                 $.ajax({  //C:\upload	  ┌>실제경로
					                	    url: 'files/' + path[3],	// HTML 파일 가져올 경로
					                	    dataType: "html",
					                	    success: function (html){
					                	    	$('.upload-sample').css('display', 'block');
					                	    	$('div.upload-sample').html(html); // HTML 코드 붙여넣기
					                	    	//$('.test2').css('visibility', 'hidden');
					                	    	
			            						var t = $('div.upload-sample')[0];
			            						html2canvas(t).then(function(canvas) {
		            							var myImg = canvas.toDataURL("image/png");
		            							myImg = myImg.replace("data:image/png;base64,", "");
	            								sreenShot($(".upload-sample"));
		            							
		            							function sreenShot(target){
		            								var t = target[0];
		            								html2canvas(t).then(function(canvas) {
		            									var myImg = canvas.toDataURL("image/png");
		            									myImg = myImg.replace("data:image/png;base64,", "");
		            									
		            									//템플릿 등록
				            							$.ajax({
				            								url : 'insertSolTemp', //'ImgSaveTest'
				            				             	beforeSend: function(xhr){
				            							        xhr.setRequestHeader(header, token);
				            							    },
				            								type : 'POST',
				            								data : {
				            									'imgSrc' : myImg,
				            									'tempName' : tempName,
				            									'tempInfo' : tempInfo,
				            									'custNo' : custNo,
				            									'saveName' : saveName,
				            									'uplName' : uplName
				            								},
				            								dataType : 'text',
				            								success : function(data) {
				            									location.replace("/solTempList");
				            									//console.log(data);
				            								},
				            								error : function(a, b, c) {
				            									alert("error");
				            								}
				            							});
		            								});
	            								}
		            							});
				                	    }
				                	});
										
					             },
					             error: function(reject){	
					                 console.log(reject);
					             }
					         });
						});
						
						//이미지화 테스트
						$(".save_btn").on("click", function() {
							sreenShot($(".upload-sample"));
						});
						function sreenShot(target){
							var t = target[0];
							html2canvas(t).then(function(canvas) {
								//var myImg = canvas.toDataURL("image/png");
								myImg = myImg.replace("data:image/png;base64,", "");
							});
							return 
						}
						
						//업로드 처리
						$('.tempdiv').on('click', '.uploadBtn2', function(e){
							let formData = new FormData(); // 유사) jQuery.serialize() or jQuery.serializeArray()
							// 1) Form 태그 내부의 데이터를 한번에 담음
							// 2) Ajax를 이용해서 'Content-type:multipart/form-data'를 보내야 하는경우 사용
							
							let fileInput = document.querySelector('input[name="uploadFiles2"]');
							let fileList = fileInput.files;

							for(let file of fileList){
								formData.append('uploadFiles', file);
							}
							
					         $.ajax({
					             url: 'uploadsAjax',	
					             beforeSend: function(xhr){
								        xhr.setRequestHeader(header, token);
								    },
					             type: 'POST',
					             processData: false,	
					             //기본값은 true, ajax 통신을 통해 데이터를 전송할 때, 기본적으로 key와 value값을 Query String으로 변환해서 전송.
					             contentType: false,	
					             // multipart/form-data타입을 사용하기위해 false 로 지정.
					             data: formData,               
					             success: function(result){
					            	 console.log(result);
					            	 
					             },
					             error: function(reject){	
					                 console.log(reject);
					             }
					         });
						})

					</script>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>