<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>

	<th:block layout:fragment="Content">
		<div class="d-flex justify-content-center">
			<div class="card my-4 col-10">
				<h5 class="card-header">템플릿 등록</h5>
				<div class="card-body">
					<!-- 템플릿 등록/수정 -->
					<form>
						<div>
							<div class="card-body">
								<div class="mt-3 row">
									<label for="title" class="col-md-2 col-form-label">템플릿번호</label>
									<div class="col-md-5">
										<input class="form-control" type="text" />
									</div>
								</div>
								<div class="mt-3 row">
									<label for="title" class="col-md-2 col-form-label">사용고객사</label>
									<div class="col-md-5">
										<input class="form-control" type="text" />
									</div>
								</div>
								<div class="mt-3 row">
									<label for="title" class="col-md-2 col-form-label">템플릿번호</label>
									<div class="col-md-5">
										<input class="form-control" type="text" />
									</div>
								</div>
								<div class="mt-3 row">
									<label for="title" class="col-md-2 col-form-label">템플릿명</label>
									<div class="col-md-5">
										<input class="form-control" type="text" />
									</div>
								</div>
								<div class="mt-3 row">
									<label for="cntn" class="col-md-2 col-form-label">설명</label>
									<div class="col-md-5">
										<textarea class="form-control"></textarea>
									</div>
								</div>
								<div class="mt-3 col-2">
									<label for="tempId" class="form-label">등록방식</label> <select
										class="form-select inserttype">
										<option value="option">-선택-</option>
										<option value="input">직접입력</option>
										<option value="upload">업로드</option>
									</select>
								</div>
							</div>
						</div>
					</form>

					<!-- 직접입력 태그 -->
					<div style="display: none;" id="doctype">
						<input class="form-control" id="filename" type="text" />
						<textarea style="width: 790px; height: 200px;" id="content"></textarea>
						<div class="test3"></div>
						<div class="template"></div>

						<!-- 템플릿 등록 버튼 -->
						<div class="d-flex justify-content-center mb-3">
							<button type="button" class="btn btn-primary mx-2"
								id="htmlbtn">저장</button>
							<button type="button" class="btn btn-primary mx-2" id="htmlreset">초기화</button>
						</div>
					</div>

					<!-- 파일업로드 태그 -->
					<div style="display: none;" id="docupload">
						<div class="test">
							<input name="uploadFiles2" id="uploadFiles2" type="file" multiple>
							<button class="btn btn-secondary mx-2 uploadBtn2">업로드</button>
						</div>
						<h4 style="display: none;" class="test2">=템플릿 미리보기=</h4>
						<div style="display: none;" class="upload-sample p-3 test2 border border-dark"></div>
					</div>

					<!-- 작성완료 버튼 -->
					<div class="mt-3 text-end">
						<button type="submit" class="commitbtn btn rounded-pill btn-primary">작성완료</button>
					</div>

					<script>
					
					//업로드or직접입력 선택 반영
						$(".inserttype").on("change", function(e) {
							if ($(".inserttype").val() == "input") {
								$("#doctype").css('display', 'block');
								$("#docupload").css('display', 'none');
							} else if($(".inserttype").val() == "upload"){
								$("#docupload").css('display', 'block');
								$("#doctype").css('display', 'none');
							} else{
								$("#docupload").css('display', 'none');
								$("#doctype").css('display', 'none');
							}
						});

						//직접입력값 반영
						$("#htmlbtn").on("click", function(e) {
							let tVal = $("#content").val()
							let fileName = $("#filename").val();
							$(".template").html(tVal);
							$.ajax({
								url: 'uploadsHtml',	
					            type: 'POST',
					            data: JSON.stringify({tags:tVal,fileName:fileName}),
					            dataType: 'text',
					            contentType: 'application/json;charset=UTF-8',
					            success: function (result) { 
					            	console.log(result);
							        $(".template").append("<a href='download/"+result+"' '>"+result+" 다운로드</a>");
					            }
							})
						});
						
						//직접입력값 초기화
						$("#htmlreset").on("click", function(e) {
							$(".template").empty();
						});
						
						//업로드 처리
						document.querySelector('.uploadBtn2').addEventListener('click', function(e){
							let formData = new FormData(); // 유사) jQuery.serialize() or jQuery.serializeArray()
							// 1) Form 태그 내부의 데이터를 한번에 담음
							// 2) Ajax를 이용해서 'Content-type:multipart/form-data'를 보내야 하는경우 사용
							
							let fileInput = document.querySelector('input[name="uploadFiles2"]');
							let fileList = fileInput.files;

							for(let file of fileList){
								formData.append('uploadFiles', file);
							}
							
					         $.ajax({
					             url: 'uploadsAjax',	
					             type: 'POST',
					             processData: false,	
					             //기본값은 true, ajax 통신을 통해 데이터를 전송할 때, 기본적으로 key와 value값을 Query String으로 변환해서 전송.
					             contentType: false,	
					             // multipart/form-data타입을 사용하기위해 false 로 지정.
					             data: formData,               
					             success: function(result){
					            	 console.log(result);
					            	 /* img 업로드시 미리보기 기능
					                 for(let image of result){
					              	   let imgTag = $('<img/>').prop('src', 'images/'+ image)
					              	   						   .css('width', '50%');
					              	   $('div.test2').append(imgTag);
					                 } */
					                 //
					                 
					                 //특정요소 안에 html 파일의 태그를 추가.
					                 $.ajax({  //C:\upload	  ┌>실제경로
					                	    url: 'files/' + result,	// HTML 파일 가져올 경로
					                	    dataType: "html",
					                	    success: function (html){
					                	    	$('div.upload-sample').html(html); // HTML 코드 붙여넣기
					                	    	$('.test2').css('display', 'block');
					                	    }
					                	});
					             },
					             error: function(reject){	
					                 console.log(reject);
					             }
					         });
						})
						
						$(".commitbtn").on("click", function(e) {
							//지정된 태그의 요소를 복사
							let tags = $('div.upload-sample').clone();
							
							//복사한 태그에 입력값을 속성으로 지정
							$('div.upload-sample').find('input, textarea, select').each(function(idx) {
							    let value = $(this).val();
							    let copyTag = tags.find('input, textarea, select').eq(idx);
							    
							    if (copyTag.is('input[type="text"]')) {
							    	copyTag.attr('value', value);
				                } else if (copyTag.is('textarea')) {
				                	copyTag.text(value);
				                } else if (copyTag.is('select')) {
				                	copyTag.val(value);
				                }
							});

							let tVal = tags.html();
							
							//파일이름 설정
							let nameVal = $("#uploadFiles2").val();
							let nameCut = nameVal.lastIndexOf('\\');
							let fileFullName = nameVal.substring(nameCut + 1);
							let fullNameCut = fileFullName.lastIndexOf('.');
							let fileName = fileFullName.substring(0, fullNameCut);
							
							$.ajax({
								url: 'uploadsHtml',	
					            type: 'POST',
					            data: JSON.stringify({tags:tVal,fileName:fileName}),
					            dataType: 'text',
					            contentType: 'application/json;charset=UTF-8',
					            success: function (result) { 
					            	//console.log(result);
					            }
							})
						});
					</script>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>