<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>

	<th:block layout:fragment="Content">
		<div class="d-flex justify-content-center">
			<div class="card my-4 col-10">
				<h5 class="card-header">템플릿 등록</h5>
				<div class="card-body">
					<!-- 템플릿 등록/수정 -->
					<form id="tempInsertForm" th:action="@{/tempInsert}" method="post"
						th:object="${tempVO}" enctype="multipart/form-data">
						<div class="card-body">
							<div class="mt-3 row">
								<label for="title" class="col-md-2 col-form-label">템플릿번호</label>
								<div class="col-md-5">
									<input class="form-control" type="text" placeholder="자동 등록"
										disabled />
								</div>
							</div>
							<div class="mt-3 row">
								<label for="title" class="col-md-2 col-form-label">사용고객사</label>
								<div class="col-md-3">
									<input class="form-control custName" th:field="*{custNo}"
										type="text" readOnly />
								</div>
								<!-- 고객사 선택 모달버튼 -->
								<div class="col-md-3">
									<button type="button" class="btn btn-primary"
										data-bs-toggle="modal" data-bs-target="#CustModal">고객사
										선택</button>
								</div>
								<!-- 고객사 선택 모달화면 -->
								<div class="modal fade" id="CustModal" tabindex="-1">
									<div class="modal-dialog modal-xl modal-dialog-scrollable"
										role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="modalScrollableTitle">고객사
													선택</h5>
												<button type="button" class="btn-close"
													data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<table class="table table-hover">
													<thead>
														<tr>
															<th>상호명</th>
															<th>고객번호</th>
															<th>대표자명</th>
															<th>선택</th>
														</tr>
													</thead>
													<tbody>
														<th:block th:each="CustVO : ${custlist}">
															<tr id="custTr">
																<td>[[ ${CustVO.custName} ]]</td>
																<td>[[ ${CustVO.custNo} ]]</td>
																<td>[[ ${CustVO.rep} ]]</td>
																<td><input type="radio" name="check"
																	th:value="${CustVO.custNo}"></td>
															</tr>
														</th:block>
													</tbody>
												</table>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-primary selectCust"
													data-bs-dismiss="modal">선택완료</button>
												<button type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">닫기</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="mt-3 row">
								<label for="title" class="col-md-2 col-form-label">템플릿명</label>
								<div class="col-md-5">
									<input class="form-control tempname" th:field="*{tempName}"
										type="text" />
								</div>
							</div>
							<div class="mt-3 row">
								<label for="cntn" class="col-md-2 col-form-label">설명</label>
								<div class="col-md-5">
									<textarea class="form-control tempinfo" th:field="*{tempInfo}"></textarea>
								</div>
							</div>
						</div>
					</form>
					<div class="mt-3 col-12">
						<div class="test">
							<input name="uploadFiles2" id="uploadFiles2" type="file">
						</div>
						<div style="display: none;" class="upload-sample p-3 com-sm-1"></div>
					</div>

					<!--  작성완료 버튼 -->
					<div class="mt-3 text-end">
						<button type="submit"
							class="commitbtn btn rounded-pill btn-primary">작성완료</button>
					</div>

					<script src="/js/html2canvas.js"></script>
					<script>
					//CSRF
					let header = $("meta[name='_csrf_header']").attr('content');
					let token = $("meta[name='_csrf']").attr('content');
					
					//고객사 모달처리
					//모달창에서 선택한 고객사번호를 input창에 입력.
					$(".selectCust").on("click", function(e){
						$(".custName").val($('input:radio:checked').val());
					})
					
					//고객사 행 클릭시 라디오버튼 선택
					$("#custTr").click(function(){
						let radio = $(this).find('td :radio');
						radio.attr('checked', !radio.is(':checked'));
					});
											
					//템플릿 등록 버튼
					$(".commitbtn").on("click", async function(e) {
					    e.preventDefault();
					    
						let formData = new FormData();
					    let fileInput = document.querySelector('input[name="uploadFiles2"]');
					    let fileList = fileInput.files;
					    for(let file of fileList){
					        formData.append('uploadFiles', file);
					    }
					    
					    //템플릿 속성값 추가
					    let tempName = $('.tempname').val();
					    let tempInfo = $('.tempinfo').val();
					    let custNo = $('.custName').val();
					    
					    try {
					    	//파일 업로드 처리
						    	let result = await $.ajax({
								            url: 'uploadsAjax',
								            beforeSend: function(xhr){
								                xhr.setRequestHeader(header, token);
								            },
								            type: 'POST',
								            processData: false,    
								            contentType: false,    
								            data: formData
						        });
					    		
						        let path = '';
						        for(let filePath of result){
						            path = filePath.split(":::");
						        }
						        let saveName = path[3];
						        let uplName = saveName.split("/").pop();
					    	
					        // 파일 미리보기 이미지 생성
					        let html = await $.ajax({
					            url: 'files/' + path[3],
					            dataType: "html"
					        });
					        $('.upload-sample').css('display', 'block');
					        $('div.upload-sample').html(html);
					
					        var t = $('div.upload-sample')[0];
					        var canvas = await html2canvas(t);
					        var myImg = canvas.toDataURL("image/png").replace("data:image/png;base64,", "");
					
					        // 템플릿 등록
					        await $.ajax({
					            url : 'insertSolTemp',
					            beforeSend: function(xhr){
					                xhr.setRequestHeader(header, token);
					            },
					            type : 'POST',
					            data : {
					                'imgSrc' : myImg,
					                'tempName' : tempName,
					                'tempInfo' : tempInfo,
					                'custNo' : custNo,
					                'saveName' : saveName,
					                'uplName' : uplName
					            },
					            dataType : 'text'
					        });
					
					        // 페이지 이동
					        location.replace("/solTempList");
					    } catch (error) {
					        console.log("작업 중 오류 발생:", error);
					    }
					});

						
					</script>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>