<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>
	<th:block layout:fragment="Content">
		<div class="container-xxl flex-grow-1">
		<div class="flex-xl-nowrap row">
		<div class="row">
			<div class="row mt-3 pt-3">
				<h2 class="ms-3">모듈 전체조회</h2>
			</div>
				
			<div class="card my-2">
				<div class="card-body">
					<!-- 모듈 목록 출력 -->
					<div class="table-responsive">
						<table class="table table-hover text-center">
							<thead>
								<tr style="background-color:#3F72AF;">
									<th class="text-white">모듈번호</th>
									<th class="text-white">모듈명</th>
									<th class="text-white">모듈상태</th>
									<th class="text-white">모듈상세설명</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="ModuleVO : ${list}">
									<tr>
										<td>[[ ${ModuleVO.modId} ]]</td>
										<td>[[ ${ModuleVO.modName} ]]</td>
										<td th:if="${ModuleVO.modStat == '1A1a'}"
											class="table-success">[[ ${ModuleVO.modStatName} ]]</td>
										<td th:if="${ModuleVO.modStat == '1A2a'}" class="table-danger">[[
											${ModuleVO.modStatName} ]]</td>
										<td th:if="${ModuleVO.modStat == '1A3a'}" class="table-secondary">[[
											${ModuleVO.modStatName} ]]</td>	
										<td>[[ ${ModuleVO.modInfo} ]]</td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
	</th:block>
</body>
</html>