<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>
	<th:block layout:fragment="Content">
		<div class="d-flex justify-content-center">
			<div class="card my-4 col-10">
				<h5 class="card-header">템플릿 상세조회</h5>
				<div class="card-body">

					<!-- 템플릿 목록 출력 -->
					<div class="row">
						<div class="col-3 mb-2">
							<div class="card" th:onclick="|location.href='@{#}'|">
								<div class="card-body">
									<p>템플릿 미리보기</p>
									<img style="height: 14rem;"
										th:src="@{|/files/${tempVO.tempImg}|}" class="card-img-top"
										alt="...">
								</div>
							</div>
						</div>
						<div class="col-9 mb-2">
							<table class="table table-bordered">
								<tr>
									<th>템플릿번호</th>
									<td>[[ ${tempVO.tempNo} ]]</td>
								</tr>
								<tr>
									<th>템플릿이름</th>
									<td>[[ ${tempVO.tempName} ]]</td>
								</tr>
								<tr>
									<th>템플릿설명</th>
									<td>[[ ${tempVO.tempInfo} ]]</td>
								</tr>
								<tr>
									<th>이용고객사번호</th>
									<td>[[ ${tempVO.CustNo} ]]</td>
								</tr>
								<tr>
									<th>첨부파일명</th>
									<td>[[ ${tempVO.uplName} ]]</td>
								</tr>
							</table>
							<div class="mt-2 mb-2">
								<a th:href="|@{/download/}${tempVO.saveName}|" id="downloadLink">템플릿 다운로드</a><br>
							</div>
							<button type="button" th:onclick="|location.href='@{/sol/tempList}'|" class="btn btn-primary">목록</button>
							<button type="button" th:onclick="|location.href='@{/sol/updateSolTemp(tempNo=${tempVO.tempNo})}'|" class="btn btn-success">수정</button>
							<button type="button" class="btn btn-danger delBtn" th:value="${tempVO.tempNo}">삭제</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
			//CSRF
			let header = $("meta[name='_csrf_header']").attr('content');
			let token = $("meta[name='_csrf']").attr('content');
			
			$('#downloadLink').on('click', function(e){
				e.preventDefault();
				$.ajax({
			        type: 'HEAD',
			        url: '/files/' + [[${tempVO.saveName}]],
			        success: function() {
			        	$('#downloadLink').unbind('click').get(0).click();
			        },
			        error: function() {
			        	Swal.fire({
							icon: 'error',               
						  	title: '템플릿 파일이\n존재하지 않습니다.',    
						  	text: '', 
						});
			        }
			    });
			});
			$('.delBtn').on('click', function(e){
				e.preventDefault();
				
				Swal.fire({
					  title: '템플릿을 삭제하시겠습니까?',
					  text: "삭제하시면 다시 복구시킬 수 없습니다.",
					  icon: 'warning',
					  showCancelButton: true,
					  confirmButtonColor: '#d33',
					  cancelButtonColor: '#3085d6',
					  confirmButtonText: '삭제',
					  cancelButtonText: '취소'
					}).then((result) => {
					  if (result.value) {
						  Swal.fire({
								icon: 'success',               
							  	title: '삭제 완료.',    
							  	text: '', 
							}).then((result) => {
						  		location.href='/sol/tempDelete/'+$(this).val();
							});
					  }
				})
			})
			
		</script>
	</th:block>
</body>
</html>