<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>
	<th:block layout:fragment="Content">
		<div class="d-flex justify-content-center">
			<div class="card my-4 col-10">
				<h5 class="card-header">템플릿 상세조회</h5>
				<div class="card-body">

					<!-- 템플릿 목록 출력 -->
					<div class="row">
						<div class="col-3 mb-2">
							<div class="card" th:onclick="|location.href='@{#}'|">
								<div class="card-body">
									<p>템플릿 미리보기</p>
									<img style="height: 14rem;"
										th:src="@{|/files/${tempVO.tempImg}|}" class="card-img-top"
										alt="...">
								</div>
							</div>
						</div>
						<div class="col-9 mb-2">
							<table class="table table-bordered">
								<tr>
									<th>템플릿번호</th>
									<td>[[ ${tempVO.tempNo} ]]</td>
								</tr>
								<tr>
									<th>템플릿이름</th>
									<td>[[ ${tempVO.tempName} ]]</td>
								</tr>
								<tr>
									<th>템플릿설명</th>
									<td>[[ ${tempVO.tempInfo} ]]</td>
								</tr>
								<tr>
									<th>이용고객사번호</th>
									<td>[[ ${tempVO.CustNo} ]]</td>
								</tr>
								<tr>
									<th>첨부파일명</th>
									<td>[[ ${tempVO.uplName} ]]</td>
								</tr>
							</table>
							<a th:href="|@{/download/}${tempVO.saveName}|">템플릿 다운로드</a><br>
							<button type="button" th:onclick="|location.href='@{/updateSolTemp(tempNo=${tempVO.tempNo})}'|" class="btn btn-primary">수정</button>
							<button type="button" class="btn btn-danger">삭제</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			//CSRF
			let header = $("meta[name='_csrf_header']").attr('content');
			let token = $("meta[name='_csrf']").attr('content');
		</script>
	</th:block>
</body>
</html>