<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>
	<th:block layout:fragment="Content">
		<div class="container-xxl flex-grow-1">
		<div class="flex-xl-nowrap row">
		<div class="row">
			<div class="row mt-3 pt-3">
				<h2 class="ms-3">템플릿 전체조회</h2>
			</div>
		
			<div class="card my-2">
				<div class="card-body">

					<!-- 템플릿 목록 출력 -->
					<div class="row">
						<th:block th:each="TempVO : ${list}">
							<div class="col-3 mb-2">
								<div class="card"
									th:onclick="|location.href='@{/sol/tempInfo/}@{${TempVO.tempNo}}'|">
									<div class="card-body">
										<img style="height: 18rem;"
											th:src="@{|/files/${TempVO.tempImg}|}" class="card-img-top"
											alt="...">
										<p class="card-text">[[ ${TempVO.tempNo} ]]</p>
										<p class="card-text">[[ ${TempVO.tempName} ]]</p>
									</div>
								</div>
							</div>
						</th:block>
					</div>
					<!-- 페이징 -->
					<div class="mt-3">
						<th:block th:if="${TempDTO.totalCnt} != 0">
							<nav aria-label="Page navigation">
								<ul class="pagination justify-content-center">
									
									<th:block th:if="${TempDTO.prev}">
										<li class="page-item prev"><a
											th:href="|/sol/tempList?page=${TempDTO.startPage - 1 }|"
											class="page-link"><i class="bx bx-chevron-left"></i></a></li>
									</th:block>
									<th:block
										th:each="num : ${#numbers.sequence(1, TempDTO.endPage)}">
										<li class="page-item "
											th:attrappend="class=${num ==  TempDTO.page ? 'active' : ' '}">
											<a th:href="|/sol/tempList?page=${num}|" class="page-link">[[${num}]]</a>
										</li>
									</th:block>
									<th:block th:if="${TempDTO.next}">
										<li class="page-item next"><a
											th:href="|/sol/tempList?page=${TempDTO.endPage + 1 }|"
											class="page-link"><i class="bx bx-chevron-right"></i></a></li>
									</th:block>
								</ul>
							</nav>
						</th:block>
						<th:block th:unless="${TempDTO.totalCnt} != 0">
							<p>현재 등록된 템플릿이 없습니다.</p>
						</th:block>
					</div>
					<!-- /페이징 -->
					<!-- 템플릿 등록 버튼 -->
					<div class="d-flex align-items-end flex-column mt-2">
						<button type="button"
							th:onclick="|location.href='@{/sol/insertSolTemp}'|"
							class="btn btn-info mt-auto p-2">템플릿 등록</button>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
	</th:block>
</body>
</html>