<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>
	<th:block layout:fragment="Content">
		<div class="d-flex justify-content-center">
			<div class="card my-4 col-10">
				<h5 class="card-header">직급관리 - 목록</h5>
				<div class="card-body ">
				
					<table
						class="table table-bordered table-hover text-center bg-white">
						<thead>
							<tr style="background-color: #3F72AF;">
								<th hidden="hidden" class="text-white">직급번호</th>
								<th class="text-white">직급명</th>
								<th class="text-white">권한</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="jobVO : ${getJobList}">
								<tr
									th:attr="data-job-no=${jobVO.jobNo}, data-job-title=${jobVO.jobTitle}, data-perm-id=${jobVO.permId}"
									class="toJobInfo">
									<!-- */th:attr="" /*-->
									<!-- */th:attr=""> /*-->
									<!--/* data-bs-toggle="modal" data-bs-target="#JobInfoModal"> */-->
									<!--/*<td th:text="${jobVO.jobNo}"></td>*/-->
									<td th:text="${jobVO.jobTitle}"></td>
									<td th:text="${jobVO.permId}"></td>
								</tr>
							</th:block>
						</tbody>
					</table>
					<br>
					<div class="text-end">
						<button type="button" class="btn btn-primary w-10"
							data-bs-toggle="modal" data-bs-target="#insertJobModal">등록</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 모달들 -->
		<!-- 직급 등록 모달화면 -->
		<div class="modal fade" id="insertJobModal" tabindex="-1">
			<div class="modal-dialog modal-xl modal-dialog-scrollable"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalScrollableTitle">직급 등록</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>직급명</th>
									<th>권한</th>
								</tr>
							</thead>
							<tbody>
								<th:block>
									<tr>
										<td><input id="jobTitle" placeholder="직급명 입력" required>
										</td>
										<td><select id="permId" required>
												<option value="1C4c">사원</option>
												<option value="1C3c">부서장</option>
												<option value="1C2c">관리자</option>
										</select></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="insertBtn"
							data-bs-dismiss="modal">등록</button>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 직급 상세/수정/삭제 모달화면, 개별 행을 클릭할 시 출력됨 -->
		<div class="modal fade" id="JobInfoModal" tabindex="-1">
			<div class="modal-dialog modal-xl modal-dialog-scrollable"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalScrollableTitle">직급 수정/삭제</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<table class="table table-hover">
							<thead>
								<tr class="table-secondary">
									<th></th>
									<th>직급명</th>
									<th>권한</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><input type="hidden" id="updateJobNo">
									<td><input id="updateJobTitle"></td>
									<td><select id="updatePermId">
											<option value="1C4c">사원</option>
											<option value="1C3c">부서장</option>
											<option value="1C2c">관리자</option>
									</select></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="updateBtn"
							data-bs-dismiss="modal">수정</button>
						<button type="button" class="btn btn-danger" id="deleteBtn"
							data-bs-dismiss="modal">삭제</button>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script>
//CSRF
let header = $("meta[name='_csrf_header']").attr('content');
let token = $("meta[name='_csrf']").attr('content');

//$(document).ready(function() {
    // 마우스 갖다대면 색깔 바뀌게
    $('.toJobInfo').hover(
        function() {
            $(this).css('background-color', '#f5f5f5');
        },
        function() {
            $(this).css('background-color', '');
        }
    );

    // 행 클릭 이벤트 - 모달에 정보 전달
    $('.toJobInfo').on('click', function() {   	
    	let jobNo = $(this).data('job-no');
        let jobTitle = $(this).data('job-title');
        let permId = $(this).data('perm-id');
        
        $('#updateJobNo').val(jobNo);
        $('#updateJobTitle').val(jobTitle);
        $('#updatePermId option').each(function(index, item){
        	if(item.innerText == permId) {
        		item.selected = true;
        	}
        })
        
        //셀렉트 태그 밑에 있는 옵션의 값이랑 비교해서 일치하는것을 해당 옵션의 selected 라는 속성을 추가.
        //1. 셀렉트 태그 밑에 있는 옵션 찾기
        //2. 옵션의 텍스트와 VO에 있던 permId와 비교
        //2-1. 옵션 for로 돌리며 3개와 VO의 permId 비교.
        //3. 값이 일치한 옵션의 셀렉티드 속성을 추가. 
		let myModal = new bootstrap.Modal(document.getElementById('JobInfoModal'));
		myModal.show();        
    });

	
// 등록 버튼 클릭 이벤트
$('#insertBtn').click(function(e) {
    //let jobNo = $('#jobNo').val(); 셀렉키로 자동생성될것
    let jobTitle = $('#jobTitle').val();
    let permId = $('#permId').val();

    if (!jobTitle || !permId) {
    	Swal.fire({
			icon : 'error',	
			title : '잠깐!',
			text : '모든 값을 입력하세요.',
		});
		return;
    }

    $.ajax({
        url: '/cust/admin/jobInsert',
        type: 'POST',
		beforeSend : function(xhr) {
			xhr.setRequestHeader(header, token);
		},
        contentType: 'application/json',
		dataType : 'text',
        data: JSON.stringify({
            jobTitle: jobTitle,
            permId: permId
        }),
		success : function(result) {
			Swal.fire ({
				icon : 'success',
				title : '성공!',
				text : '등록되었습니다.',
			})
			.then((result) => {
				if(result.value){
					location.href = "/cust/admin/jobList";
				}
			});
		},
		error : function(xhr, status, error) {
			console.error(error);
			Swal.fire({
				icon : 'error',
				title : '실패',
				text : '등록 중 오류가 발생했습니다.',
			})
			.then((result) => {
				if(result.value){
					location.href = "/cust/admin/jobList";
				}
			});
		}
    });
});


    // 수정 버튼 클릭 이벤트
    $('#updateBtn').click(function(e) {
    	let jobNo = $('#updateJobNo').val();
        let jobTitle = $('#updateJobTitle').val();
        let permId = $('#updatePermId option:selected').val();
        console.log(permId);

        if (!jobTitle || !permId) {
            Swal.fire({
				icon : 'error',	
				title : '잠깐!',
				text : '모든 값을 입력하세요.',
			});
			return;
        }

        $.ajax({
            url: '/cust/admin/jobUpdate',
            type: 'PUT', 
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token);
			},
            contentType: 'application/json',
			dataType : 'text',
            data: JSON.stringify({
                jobNo: jobNo,
            	jobTitle: jobTitle,
                permId: permId
            }),
			success : function(result) {
				Swal.fire ({
					icon : 'success',
					title : '성공!',
					text : '수정되었습니다.',
				})
				.then((result) => {
					if(result.value){
						location.href = "/cust/admin/jobList";
					}
				})
			},
			error : function(xhr, status, error) {
				console.error(error);
				Swal.fire({
					icon : 'error',
					title : '실패',
					text : '수정 중 오류가 발생했습니다.',
				})
				.then((result) => {
					if(result.value){
						location.href = "/cust/admin/jobList";
					}
				})
			}
        });
});
    
    // 삭제 버튼 클릭 이벤트
    $('#deleteBtn').click(function(e) {
        let jobNo = $('#updateJobNo').val();
        
		//
		//Swal.fire({
        //title: '삭제 확인',
        //text: "정말 삭제할까요?",
        //icon: 'warning',
        //showCancelButton: true,
        //confirmButtonColor: '#3085d6',
        //cancelButtonColor: '#d33',
        //confirmButtonText: '확인',
        //cancelButtonText: '취소'
    	//}).then((result) => {
    	//	return;
    	//}
		//
        //if (!confirm('정말 삭제하시겠습니까?')) {
          //  return;
        //}

        $.ajax({
            url: '/cust/admin/jobDelete',
            type: 'DELETE', 
			beforeSend : function(xhr) {
				xhr.setRequestHeader(header, token);
			},
            contentType: 'application/json',
			dataType : 'text',
            data: JSON.stringify({
                jobNo: jobNo
            }),
			success : function(result) {
				Swal.fire ({
					icon : 'success',
					title : '성공!',
					text : '삭제되었습니다.',
				})
				.then((result) => {
					if(result.value){
						location.href = "/cust/admin/jobList";
					}
				});
			},
			error : function(xhr, status, error) {
				console.error(error);
				Swal.fire({
					icon : 'error',
					title : '삭제 불가',
					text : '해당 직급을 사용중인 직원이 있습니다.',
				})
				.then((result) => {
					if(result.value){
						location.href = "/cust/admin/jobList";
					}
				});
			}
        });  
    });
</script>
	</th:block>
</body>
</html>