<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<body>
	<th:block layout:fragment="Content">
		<div class="container-xxl flex-grow-1">
		<div class="flex-xl-nowrap row">
		<div class="row">
			<div class="row mt-3 pt-3">
				<h2 class="ms-3">결제 내역</h2>
			</div>
		
			<div style="min-width:880px" class="card my-2">
				<div class="card-body">
					<!-- 검색 -->
					<nav class="navbar navbar-expand-lg navbar-light">
						<div class="container-fluid">
							<div class="" id="navbarSupportedContent">
								<table>
									<tr>
										<td><select class="form-select searchKeySelect">
												<option value="c.cust_name">상호명</option>
												<option value="p.ct_no">계약번호</option>
										</select></td>
										<td colspan='3'><input class="form-control searchKey"
											type="text"></td>
										<td class="text-white">_</td>
										<td class="form-control">결제상태</td>
										<td><select class="form-select payStat">
												<option value="statAll">전체</option>
												<option value="0D3d">결제취소</option>
												<option value="0D1d">결제대기</option>
												<option value="0D2d">결제완료</option>
												<option value="0D4d">최초결제인증</option>
										</select></td>
										<td>
										<button class="btn btn-info searchbtn"
										type="submit">검&emsp;색</button>
										</td>
									</tr>
									<tr>
										<td><select class="form-select payDt">
												<option value="p.pay_expc_dt">예정일</option>
												<option value="p.pay_cmplt_dt">결제일</option>
										</select></td>
										<td><input class="form-select fromDt" type="date"></td>
										<td>~</td>
										<td><input class="form-select toDt" type="date"></td>
										<td class="text-white">_</td>
										<td></td>
										<td></td>
										<td>
										<button class="btn btn-secondary"
										type="reset" th:onclick="|location.href='@{/sol/payList}'|">초기화</button>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</nav>
					<div id="payTable">
						<!-- 결제 목록 출력 -->
						<div class="table-responsive">
							<table class="table table-hover text-center">
								<thead>
									<tr style="background-color:#3F72AF;">
										<th class="text-white">결제번호</th>
										<th class="text-white">계약번호</th>
										<th class="text-white">상호명</th>
										<th class="text-white">금액</th>
										<th class="text-white">분류</th>
										<th class="text-white">등록일</th>
										<th class="text-white">예정일</th>
										<th class="text-white">상태</th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="PayVO : ${list}">
										<tr th:onclick="|location.href='#'|">
											<td>[[ ${PayVO.payNo} ]]</td>
											<td>[[ ${PayVO.ctNo} ]]</td>
											<td>[[ ${PayVO.custName} ]]</td>
											<td>[[ ${PayVO.servAmt} ]]</td>
											<td>[[ ${PayVO.payTypeName} ]]</td>
											<td>[[ ${#dates.format(PayVO.payCreDt, "yyyy-MM-dd")} ]]</td>
											<th:block th:if="${PayVO.payExpcDt == null}" >
												<td>인증대기중</td>											
											</th:block>
											<th:block th:unless="${PayVO.payExpcDt == null}" >
												<td>[[ ${#dates.format(PayVO.payExpcDt, "yyyy-MM-dd")} ]]</td>
											</th:block>
											<td th:class="${PayVO.payStatName == '결제취소' ? 'table-danger' : ''}" th:classappend="${PayVO.payStatName == '결제완료' ? 'table-success' : ''}">[[ ${PayVO.payStatName} ]]</td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
						<!-- 페이징 -->
						<div class="paging mt-2">
							<th:block th:if="${payDTO.totalCnt} != 0">
								<nav aria-label="Page navigation">
									<ul class="pagination justify-content-center">

										<th:block th:if="${payDTO.prev}">
											<li class="page-item prev"><a href="#"
												th:id="${payDTO.startPage - 1 }" class="page-link pagebtn"><i
													class="bx bx-chevron-left"></i></a></li>
										</th:block>
										<th:block
											th:each="num : ${#numbers.sequence(1, payDTO.endPage)}">
											<li class="page-item "
												th:attrappend="class=${num ==  payDTO.page ? 'active' : ' '}">
												<a href="#" th:id="${num}" class="page-link pagebtn">[[${num}]]</a>
											</li>
										</th:block>
										<th:block th:if="${payDTO.next}">
											<li class="page-item next"><a href="#"
												th:id="${payDTO.endPage + 1 }" class="page-link pagebtn"><i
													class="bx bx-chevron-right"></i></a></li>
										</th:block>
									</ul>
								</nav>
							</th:block>
							<th:block th:unless="${payDTO.totalCnt} != 0">
								<p class="text-center mt-4">조회가능한 결제내역이 없습니다.</p>
							</th:block>
						</div>
						<!-- /페이징 -->
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>

		<script>
		    // CSRF
		    let header = $("meta[name='_csrf_header']").attr('content');
		    let token = $("meta[name='_csrf']").attr('content');
		
		    // 기간 검색 범위처리
		    $('.fromDt').on('change', function(e) {
		        $('.toDt').attr('min', this.value);
		    });
		    $('.toDt').on('change', function(e) {
		        $('.fromDt').attr('max', this.value);
		    });
		
		    // 검색 조건 변수 생성
		    let keyword;
		    let searchCondition;
		    let payStat;
		    let payDt;
		    let payStart;
	        let payEnd;
		    
		    // 검색버튼 이벤트 처리
		    $(".searchbtn").on("click", function(e) {
		        updateParams();
		        let page = 1;
		        showTable(page);
		    });
		    
		    // 검색입력창 엔터시 이벤트 처리
		    $(".searchKey").on("change", function(e) {
		        updateParams();
		        let page = 1;
		        showTable(page);
		    });
		
		    // 페이징 링크 처리
		    $(document).on("click", ".pagebtn", function(e) {
		        e.preventDefault();
		        let page = e.target.id;
		        showTable(page);
		    });
		
		    // 검색 조건 갱신 함수
		    function updateParams() {
		        // 키워드 검색 처리
		        keyword = $('.searchKey').val();
		        searchCondition = $('.searchKeySelect').val();
		        
		    	// 기간 검색 처리
		        payDt = $('.payDt').val();
		        payStart = $('.fromDt').val();
		        payEnd = $('.toDt').val();
		
		        // 계약상태 검색 처리
		        if ($('.payStat').val() != 'statAll') {
		            payStat = $('.payStat').val();
		        } else {
		            payStat = null;
		        }
		
		        // 정렬 조건 처리
		        ctSort = $('.searchSelect').val();
		    }
		
		    // 검색 AJAX 함수
		    function showTable(page) {
		    	console.log(payStat);
		        $.ajax({
		            url: '/sol/viewPayList',
		            type: 'POST',
		            beforeSend: function(xhr) {
		                xhr.setRequestHeader(header, token);
		            },
		            data: {
		                page: page,
		                payStat: payStat,
		                payDt: payDt,
		                keyword: keyword,
		                searchCondition: searchCondition,
		                payStart: payStart,
		                payEnd: payEnd
		            },
		            dataType: 'Text',
		            success: function(result) {
		                $('#payTable').replaceWith(result);
		            }
		        });
		    }
		</script>
	</th:block>
</body>
</html>